{% extends 'DGPlusbelleBundle:Layout:general.html.twig' %}

{% block contenido -%}
    <h1>Descuentos</h1>
    
     <a href="{{ path('admin_descuento_new') }}" class="btn btn-success"> Crear nuevo descuento</a>

    <table id = "datable" class="table table-bordered table-hover display dt-responsive" style="margin-top: 30px">
        <thead>
            <tr>
             {# <th>#</th> #}
                <th>Nombre</th>
                <th>Porcentaje %</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
              {#    <td><a href="{{ path('admin_descuento_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td> #}
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.porcentaje }}</td>
                <td>{{ entity.estado }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_descuento_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_descuento_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
           
            
     <script type="text/javascript">
            $(document).ready(function() {
                    $('#datable').DataTable( {
                            "scrollCollapse": true,
                            "paging":         true
                    } );
            } );
    </script>               

    {% endblock %}
