{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SesionTratamiento list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechasesion</th>
                <th>Horainicio</th>
                <th>Horafin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_sesiontratamiento_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fechaSesion %}{{ entity.fechaSesion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.horaInicio }}</td>
                <td>{{ entity.horaFin }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_sesiontratamiento_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_sesiontratamiento_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_sesiontratamiento_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
