{% extends 'DGPlusbelleBundle:Layout:layout.html.twig' %}

{% block contenido -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>Registrar nueva sesión del tratamiento {{ personaTratamiento.tratamiento.nombre }}</p>
        </div>

        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
           <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <table id="tabla" <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <table id="tabla" class="table table-bordered table-condensed">
                        <tbody>
                            <tr>
                                <th>Tratamiento vendido</th>
                                <td>{{ personaTratamiento.tratamiento.nombre }}</td>
                            </tr>
                            <tr>
                                <th>Costo del tratamiento</th>
                                <td>$ {{ personaTratamiento.tratamiento.costo }}</td>
                            </tr>
                            <tr>
                                <th>Fecha de venta</th>
                                <td>{% if personaTratamiento.fechaVenta %}{{ personaTratamiento.fechaVenta|date('d/m/Y') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Vendido por</th>
                                <td>{{ personaTratamiento.empleado }}</td>
                            </tr>
                            <tr>
                                <th>Nombre del paciente</th>
                                <td>{{ personaTratamiento.paciente }}</td>
                            </tr>
                           {# <tr>
                                <th>Sesión No.</th>
                                <td>{{ seguimiento[0].numSesion + 1 }}</td>
                            </tr> #}
                        </tbody>
                    </table>
                </div>    
            </div>  
            
            <div class="row" style="margin-top: 25px">
                 <div class="col-md-3 col-md-offset-2">
                    <div id="sucursal">
                        {{ form_row(form.personaTratamiento) }}
                    </div>
                </div> 
                <div class="col-md-3">
                    <div id="sucursal">
                        {{ form_row(form.sucursal) }}
                    </div>
                </div> 

                <div class="col-md-3">
                    <div id="empleado">
                        {{ form_row(form.empleado) }}
                    </div>
                </div> 
                
            </div>
            <div class="row">
         {#   <div class="col-md-3 col-md-offset-2">
                  <div id="fecha-sesion">
                        {{ form_row(form.fechaSesion) }}
                    </div> 
            </div> #}
                <div class="col-md-2 col-md-offset-4">
                    <div id="hora-inicio">
                        {{ form_row(form.horaInicio) }}
                    </div>
                </div>    
                <div class="col-md-2">
                    <div id="hora-fin">
                        {{ form_row(form.horaFin) }}
                    </div>
                </div>    
            </div> 
                    
             <div class="row">        
              <div class="col-xs-12 col-sm-3 col-md-offset-3" style="margin-top:25px;">
                <label class="control-label" for="dgplusbellebundle_empleado_sucursal">Foto antes</label>
                  {{ form_widget(form.fileAntes) }}                
              </div> 
               <div class="col-xs-12 col-sm-2" style="margin-top:25px;">
                <label class="control-label" for="dgplusbellebundle_empleado_sucursal">Foto despues</label>
                  {{ form_widget(form.fileDespues) }}                
              </div> 
            </div>             
                    
              <div class="row">
                <div class="form-grouphide col-sm-7 col-md-offset-2 pull-right" style="margin-top: 50px">
                <a href="{{ path('admin_paciente') }}" class="btn btn-default btn-sm" id="cancelar-nuevo">Cancelar</a>
                {{ form_widget(form.submit) }}
              </div>
            </div>              

 </div>
      {{ form_widget(form._token) }}        
</div> 
      {{ form_end(form) }} 
{% endblock %}

{% block javascripts_step %}
        <script src="{{ asset('Resources/js/SesionVentaTratamiento.js') }}"></script>
       <script>
            $(document).ready(function(){
                
              validarSesionVentaTratamiento();
           });//Fin document ready       
       </script>         
         
{% endblock %}
