{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SesionVentaTratamiento</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fechasesion</th>
                <td>{{ entity.fechaSesion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Horainicio</th>
                <td>{{ entity.horaInicio }}</td>
            </tr>
            <tr>
                <th>Horafin</th>
                <td>{{ entity.horaFin }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_sesionventatratamiento') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_sesionventatratamiento_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
