

{% block contenido -%}
    
<div class="panel panel-default">
    <div class="panel-heading"><p>Modificar Sucursal</p></div>

    {#{{ form(edit_form) }}#}

    <div class="panel-body">
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    
    <div class="col-xs-12 col-sm-4">
     {{ form_row(edit_form.nombre) }} 
    </div>
    <div class="col-xs-12 col-sm-5">
     {{ form_row(edit_form.direccion) }} 
    </div>
    <div class="col-xs-12 col-sm-2">
     {{ form_row(edit_form.telefono) }}
    </div>
     {#{{ form_row(form.estado) }} #}
    <div class="col-xs-12 col-sm-1">
     {{ form_row(edit_form.slug ) }}   
    </div>
     <div class="col-xs-12 col-sm-12">
   {#   {{ form_row(edit_form.tratamiento ) }}  #} 
    </div>
     <div class="col-xs-12 col-sm-8">
   {# {{ form_row(edit_form.paquete) }} #}
     </div>
    
        <div class="form-grouphide col-sm-9"> 
            <a href="{{ path('admin_sucursal') }}" class="btn btn-default btn-sm" id="cancelarModificar">Cancelar</a>
                {{ form_widget(edit_form._token) }}
                {{ form_widget(edit_form.submit) }}
        </div>
    </div>
    
        </div>
 </div>

</div>  

{{ form_end(edit_form) }}  
    
    
{% endblock %}


{% block jquery %}
<script>
    $(document).ready(function(){
        //Accion cancelar del boton modificar
        $("#cancelarModificar").click(function(){
            $("#edit-datatables1").click();
            return false;
        });
        
        
    });
   
</script>
{% endblock %}