{% extends 'DGPlusbelleBundle:Layout:general.html.twig' %}

{% block contenido -%}
    <h1>Sucursales</h1>

     <a href="{{ path('admin_sucursal_new') }}" class="btn btn-success " > Crear nueva sucursal</a>

    <table id = "datable" class="table table-bordered table-hover display dt-responsive" style="margin-top: 30px" >
        <thead>
        <thead>
            <tr>
               {# <th>#</th> #}
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Telefono</th>
                <th>Estado</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
            {#      <td><a href="{{ path('admin_sucursal_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td> #}
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.slug }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_sucursal_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_sucursal_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
               
                
      
    
    <script type="text/javascript">
            $(document).ready(function() {
                    $('#datable').DataTable( {
                            "scrollCollapse": true,
                            "paging":         true
                    } );
            } );
    </script>     
    {% endblock %}
