

{% block contenido -%}
    
    
       
  <div class="panel panel-default">
    <div class="panel-heading"><p>Modificar producto</p></div>

    {#{{ form(edit_form) }}#}

    <div class="panel-body">
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    
    <div class="col-md-2">
     {{ form_row(edit_form.categoria) }} 
    </div>
    <div class="col-md-2">
     {{ form_row(edit_form.nombre) }} 
    </div>
    <div class="col-md-2">
     {{ form_row(edit_form.costo) }} 
    </div>
    <div class="col-md-2">
        {{ form_row(edit_form.cantidad) }}
    </div>
    <div class="col-md-2">
     {{ form_row(edit_form.fechaCompra) }} 
    </div>
    <div class="col-md-2">
     {{ form_row(edit_form.fechaVencimiento) }} 
    </div>

        <div class="form-grouphide col-sm-9"> 
            <a href="{{ path('admin_producto') }}" class="btn btn-default btn-sm" id="cancelarModificar">Cancelar</a>
                {{ form_widget(edit_form._token) }}
                {{ form_widget(edit_form.submit) }}
        </div>
    </div>
    
        </div>
    
{% endblock %}

{% block jquery %}
<script>
    $(document).ready(function(){
    //Accion cancelar del boton modificar
        $("#cancelarModificar").click(function(){
            $("#edit-datatables1").click();
            return false;
        });
        
        $('#dgplusbellebundle_producto_cantidad').on("change",function(){
        if($(this).val()==0 || $(this).val()<=0){
            $(this).val('0');
        }
        else{
            $.getJSON(Routing.generate('admin_actualizar_cantidad_producto', { id: link}), 
            function(data) {
                var mensaje="";
                    if(data.regs==1){
                        bootbox.alert(mensaje, function() {

                        });
                    }
            }); 
        }


        });

        
    });
   
</script>
{% endblock %}
