

{% block contenido -%}
    
    <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><p><strong>Nueva categoria</strong></p></div>
  <div class="panel-body">
  {{ form_start(form) }}
    {{ form_errors(form) }}
   
        <div class="col-xs-12 col-sm-4">
        {{ form_row(form.nombre) }}
       {# {{ form_row(form.estado) }}#}

        </div>
       <div class="col-xs-12 col-sm-4">
        {{ form_row(form.codigo) }}
       {# {{ form_row(form.estado) }}#}

        </div>
  
    
             <div class="form-grouphide col-sm-9">
                <a href="{{ path('admin_categoria') }}" class="btn btn-default btn-sm" id="cancelarNuevo">Cancelar</a>
                {{ form_widget(form.submit) }} 
              </div>
            
    
    {{ form_end(form) }}
  </div>


</div>        
    

{% endblock %}
