<!DOCTYPE html>
<html lang="en">
<head>
{% block head -%}
   {% block meta -%}
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% endblock %}
   <title>{% block title %} Plus Belle {% endblock %}</title>
   {% block css -%}
       <link rel="stylesheet" href="{{ asset('Resources/wrapkit/styles/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('Resources/wrapkit/styles/dependencies.css') }}">
        <link rel="stylesheet" href="{{ asset('Resources/wrapkit/styles/wrapkit.css') }}">
        <link rel="stylesheet" href="{{ asset('Resources/wrapkit/styles/pages.css') }}">
   {% endblock %}
   
   {% block js -%}
   <script src="{{ asset('Resources/bootstrap-3/js/jquery.min.js') }}"></script>  
   <script src="{{ asset('Resources/bootstrap-3/js/bootstrap.js') }}"></script>  
   <script src="{{ asset('Resources/bootstrap-3/js/tooltip.js') }}"></script> 
   <script src="{{ asset('Resources/bootstrap-3/js/popover.js') }}"></script>  
   {% endblock %}
   <style type="text/css">
    /* The white background content wrapper */
    .login-form  {
     margin: 25px auto;
     padding: 10px;
     -webkit-border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
             border-radius: 10px 10px 10px 10px;
     -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.75);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.75);
             box-shadow: 0 1px 2px rgba(0,0,0,.75);
     border: 2px solid rgba(0, 0, 0, 0.10); 
     background-color: rgba(0, 0, 0, 0.90);
     color: #FFFFFF;
    }
    .view-login {
      background: url('{{ asset('Resources/img/fondo.jpg') }}') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
   </style>
{% endblock %}
</head>
<body class="bg-grd-blue">
<div class="container-fluid">
{% block body -%}
    
    <main class="signin-wrapper">
    <div class="tab-content">
      <p class="text-center p-4x">
        {#<img src="images/logo/brand-text-color.png" alt="wrapkit" height="28px">#}
        
      </p>
      <div class="tab-pane fade in active" id="signin">
        
          
        <form action="{% block form_action %}{{ path("plusbelle_security_check") }}{% endblock %}" method="post" id="frmLogin">    
          <p class="lead">La plus belle</p>
          <div class="form-group">
                {% block alert -%}
                    {% if error %}
                        <div style="color:red;margin-bottom: 20px;">{{ error.message }}</div>
                    {% endif %}
                {% endblock %}    
            <div class="input-group input-group-in">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Username" />
            </div>
          </div><!-- /.form-group -->
          <div class="form-group">
            <div class="input-group input-group-in">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              {#<input name="passwd" id="passwd" class="form-control" placeholder="Password" type="password">#}
              <input class="form-control" type="password" id="password" name="_password" placeholder="Password"/>
            </div>
          </div><!-- /.form-group -->
          <div class="form-group clearfix">
            <div class="animated-hue pull-right">
              <button id="btnSignin" type="submit" class="btn btn-primary">Iniciar sesión</button>
            </div>
          </div><!-- /.form-group -->
          <hr>
        </form><!-- /#signinForm -->
      </div><!-- /.tab-pane -->

     
    </div><!-- /.tab-content -->
  </main>
              {#
{#
  <div class="row">
    <div class="col-xs-offset-3 cols-sm-offset-8 col-md-offset-8 col col-lg-offset-8 col-xs-9 cols-sm-4 col-md-4 col col-lg-4">
    <div class="row login-form">
        {% block header %}
        <div class="col-xs-12 cols-sm-12 col-md-12 col col-lg-12">
            {% block header_pic %}{% endblock %}
        </div>
        <div class="col-xs-12 cols-sm-12 col-md-12 col col-lg-12">
            {% block header_title %}
            <h4><center>Plus Belle</center></h4>
            {% endblock %}
            {% block header_subtitle %}{% endblock %}
            <br/>
        </div>
        {% endblock %}
        
        {% block bodycontenido -%}
        <div class="col-xs-12 cols-sm-12 col-md-12 col col-lg-12" >
            {% block alert -%}
                {% if error %}
                    <div>{{ error.message }}</div>
                {% endif %}
            {% endblock %}          
            <form action="{% block form_action %}{{ path("plusbelle_security_check") }}{% endblock %}" method="post" id="frmLogin">           
            {% block auth_form %}
            Username: 
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Username" />
            Password:
            <input class="form-control" type="password" id="password" name="_password" placeholder="Password"/>
            {% endblock %}
            {% block auth_remember_me %}{% endblock %} 
            
            {% block auth_ %}
            <div class="modal-footer">
            {% block auth_btn %}
            <button type="submit" class="btn btn-primary" tabindex="3" id="frmSubmit" data-loading-text="Sign in..." autocomplete="off">Sign in</button>
            {% endblock %} 
            {% endblock %}
            <input type="hidden" name="hacerSubmit" id="ihacerSubmit" value="" >
            {% block content %}     
            {% endblock %}
            </div>
            </form>
        </div>
        {% endblock %}
    </div>
    </div>
   </div>    
#}
{% endblock %}
</div>

{% block javascripts %}
<script></script>
{% endblock %}  
{% block footer %}{% endblock %}
</body>
</html>