{% extends 'DGPlusbelleBundle:Layout:layouterp.html.twig' %}  

{% block css -%}
    {{parent()}}
    <style>

        {#Mostrar el link de eliminar en select de pacientes a enviar#}
        .select2-selection__choice__remove{
            display:block !important;
        }
    
        #navbarDemoContext > li {
            float:right;
            margin-top: -11px;
            padding-top: 0;
        }
        
        button:hover{
            cursor: default;
        }
        a>img {
          cursor: pointer;
          
        }
        a>img:hover {
          opacity: 0.5;
        }
        
        .content{
            background: red;
            
        }
        
        .Zebra_DatePicker_Icon{
            top:5px !important;
        }
        
        .footer-wrapper.footer-default{
            background: #F5F7FA;
            z-index: -5;
        }
        .clearable{
            background: #fff url(http://i.stack.imgur.com/mJotv.gif) no-repeat right -10px center;
            border: 1px solid #999;
            padding: 3px 18px 3px 4px;     /* Use the same right padding (18) in jQ! */
            border-radius: 3px;
            transition: background 0.4s;
            width: 50%;
            height: 34px;
            padding-top:-15px;
        }
          .clearable.x  { background-position: right 5px center; } /* (jQ) Show icon */
          .clearable.onX{ cursor: pointer; }              /* (jQ) hover cursor style */
          .clearable::-ms-clear {display: none; width:0; height:0; /* Remove IE default X */
        } 
        
        #botonBuscar{
{#            height: 30px;#}
            margin-top:-2px;
            cursor:pointer;
        }
        
        .btn{
            cursor:pointer;
        }
        
        
        .link_expediente,.citaEdit{
            cursor: pointer;
        }
        .link_expediente:hover, .infoPaciente:hover, .citaEdit:hover{
            color:#09F !important; 
        }
    </style>
    <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
    <link rel="stylesheet" href="{{ asset('Resources/fullcalendar/css/fullcalendar.print.css') }}" media="print"/>
    {#<link rel="stylesheet" href="{{ asset('Resources/zebra/css/bootstrap.css') }}" media="print"/>#}
{% endblock %}

{% block contenido -%}
    {#<div class="col-md-1 text-right">
        Sucursales
    </div>#}
{#    <input id="sucursal" value="{{sucursal}}" type="hidden">#}
    {#<input id="fechaInicio" value="" type="text">
    <input id="fechaFin" value="" type="text">#}
    <div class="col-md-8 hidden" id="menContent2" style="height:90px;">
        
    </div>
    

        <div class="clearfix"></div>
        <div class="col-md-12" style="margin-top:25px;">
        
        
        <ul class="nav nav-tabs">
            <li class="active">
                <a id="men1" data-toggle="tab" href="#home"><i class="fa fa-calendar"></i> Agenda</a>
            </li>
            <li>
                <a id="men2" data-toggle="tab" href="#listadoCitas"><i class="fa fa-list-ul"></i> Listado de citas {#({{citas|length}})#}</a>
            </li>
            <li>
                <a id="men3" data-toggle="tab" href="#listadoCumpleaneros"><i class="fa fa-birthday-cake"></i> Cumpleañeros del día ({{cumpleaneros|length}})</a>
            </li>
            <li>
                <a id="men4" data-toggle="tab" href="#envioCorreo"><i class="fa fa-envelope"></i> Correos</a>
            </li>
        </ul>

            <div class="tab-content">
                
            <div id="home" class="tab-pane fade in active" style="background: #FFF;">
                
                <div class="col-md-8 menContent1" id="menContent1" style="margin-top:25px;">
                    <div class="col-md-4">
                        <select  id="filtroSucursales" class="col-md-12 input-sm form-control" style="width:100%;">
                            {% for sucursal in sucursales %}
                                <option value="{{sucursal.id}}">{{sucursal.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <input placeholder="Buscar citas de paciente..." id="nombrePaciente" class="clearable form-group" type="text" style="width:100%; height: 30px;">
                    </div>
                    <div class="col-md-4">
                        <button style="height:30px;" data-toggle="tooltip" data-original-title="Buscar paciente" id="botonBuscar" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                    <div class="clearfix"></div>

                    <div class='col-md-12' style="margin-top:10px;">
                        <a id="0" style='background:transparent; border:0px; border-radius:80px; text-decoration: none; margin-right: 20px;'>
                            <img class="userFilter" data-toggle="tooltip" data-original-title="Todos" rel="tooltip" src='{{ asset('Photos/Empleado/')}}na.jpg' alt='Foto perfil' style='border-radius:80px;width: 35px; height: 35px;'>
                        </a>
                        {% for empleado in empleados %}

                            <a id="{{empleado.id}}" style='background:transparent; border:0px; border-radius:80px; text-decoration: none;'>
                                {% if empleado.foto!=""%}
                                    <img class="userFilter" data-toggle="tooltip" data-original-title="{{empleado.persona.nombres|upper}} {{empleado.persona.apellidos|upper}}" rel="tooltip" src='{{ asset('Photos/Empleado/')}}{{empleado.foto}}' alt='Foto perfil' style='border-radius:80px;width: 35px; height: 35px;'>
                                {% else %}
                                    <img class="userFilter" data-toggle="tooltip" data-original-title="{{empleado.persona.nombres|upper}} {{empleado.persona.apellidos|upper}}" rel="tooltip" src='{{ asset('Photos/Empleado/')}}na.jpg' alt='Foto perfil' style='border-radius:80px;width: 35px; height: 35px;'>
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>

                </div>
                
                <div class="col-md-3 pull-right menContent1" style="height:20px;">
                    <button data-toggle="tooltip" data-container="body" title="Cita completada" class="btn btn-default datatables1-actions" style="color:#FFF;background:#69BD45; float: right;" role="button">
                        <i class="fa fa-calendar-check-o"></i>
                    </button>
                    <button data-toggle="tooltip" data-container="body" title="Cita pediente" class="btn btn-default datatables1-actions" style="color:#FFF;background:#3852A4; float: right;" role="button">
                        <i class="fa fa-calendar-minus-o"></i>
                    </button>
                    <button data-toggle="tooltip" data-container="body" title="Cita perdida" class="btn btn-default datatables1-actions" style="color:#FFF;background:#421E5B; float: right;" role="button">
                        <i class="fa fa-calendar-o"></i>
                    </button>
                    <button data-toggle="tooltip" data-container="body" title="Cita cancelada" class="btn btn-default datatables1-actions  " style="color:#FFF;background:#F00; float: right;" role="button">
                        <i class="fa fa-calendar-times-o"></i>
                    </button>
                </div>
                {% include 'DGPlusbelleBundle:Default:calendar.html.twig' %}
            </div>
            <div id="listadoCumpleaneros" class="tab-pane fade" style="background: #FFF;">
                {% include 'DGPlusbelleBundle:Cita:cumpleaneros.html.twig' %}
            </div>
            <div id="listadoCitas" class="tab-pane fade col-md-12" style="background: #FFF;">
                {% include 'DGPlusbelleBundle:Cita:editarcita.html.twig' %}
                <div class="clearfix"></div>
                {% include 'DGPlusbelleBundle:Cita:listado.html.twig' %}
            </div>
            <div id="envioCorreo" class="tab-pane fade col-md-12" style="background: #FFF;">
                {% include 'DGPlusbelleBundle:Correos:formenvio.html.twig' %}
            </div>
            
            
            
            
        </div>  

        
       
                        
       
        
        
    </div>
        
{% endblock %}

{% block javascripts_step %}
    <!-- Aspectos generales de la plantilla -->
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('Resources/datatable/css/datatables.material.min.css') }}">
    <link rel="stylesheet" href="{{ asset('Resources/datatable/css/material.min.css') }}">
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
    <script src="{{ asset('Resources/jquery-ui/ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('Resources/wrapkit/scripts/bootbox.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
    
    
    <link rel="stylesheet" href="{{ asset('Resources/swal/sweetalert2.min.css') }}">
    <script src="{{ asset('Resources/swal/sweetalert2.min.js') }}"></script>
    
    <script type="text/javascript" src="{{ asset('Resources/datatable/js/jquery.datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Resources/datatable/js/datatables.material.min.js') }}"></script>
    
    <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/jquery.bvalidator.js')}}"></script>
    <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/bvalidator.lang.es.js')}}" ></script>
    <script src="{{ asset('Resources/wrapkit/scripts/bootbox.js') }}"></script>
    <script src="{{ asset('Resources/src/js/bootstrap.js')}}"></script>
    <script src="{{ asset('Resources/Zebra/js/zebra_datepicker.js') }}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
    <script type="text/javascript">
        
        
        
            $( document ).ready(function() {
                console.log('ready');
                if(parseInt($('#opcion').val())==0){
                    $('#toEmail').prev().addClass('hidden');
                    $('#toEmail').addClass('hidden');
                    $('#toEmail').next().addClass('hidden');
                }                
            });
        
        
        
        
            var url = "{{path('admin_cumpleanos')}}";
            var hy = "{{hoy|date('d-m-Y','America/El_Salvador')}}";
            url+="?fecha="+hy;
            
            $("#citaId").val('');
            $("#pacienteId").val('');
            
            $(document).on('click','#editBtnGuardar',function(){
                var citaId = $('#citaId').val();
                
                var citaPor = $('#input[name="dgplusbellebundle_cita[tipoCita]"]').val();
                var citaEstado = $('#citaEstado').val();
                var citaConsulta = $('#dgplusbellebundle_cita_consulta').val();
                var citaPaquete = $('#dgplusbellebundle_cita_paquetes').val();
                var citaTrat1 = $('#dgplusbellebundle_cita_paquetes_trat1').val();
                var citaTrat2 = $('#dgplusbellebundle_cita_paquetes_trat2').val();
                
                if (document.getElementById('dgplusbellebundle_cita_tipoCita_0').checked) {
                    citaPor = document.getElementById('dgplusbellebundle_cita_tipoCita_0').value;
                }
                if (document.getElementById('dgplusbellebundle_cita_tipoCita_1').checked) {
                    citaPor = document.getElementById('dgplusbellebundle_cita_tipoCita_1').value;
                }
                if (document.getElementById('dgplusbellebundle_cita_tipoCita_2').checked) {
                    citaPor = document.getElementById('dgplusbellebundle_cita_tipoCita_2').value;
                }
                
                var data= {
                    param1: citaId, 
                    param2: citaPor,
                    param3: citaEstado,
                    param4: citaConsulta,
                    param5: citaPaquete,
                    param6: citaTrat1,
                    param7: citaTrat2,
                };
                
                $.ajax({
                    url: Routing.generate('admin_cita_estado_edit_trat'),
                    type: 'POST',
                    data: data,
                    success:function(data){   

                        if(data.msg){
                            swal('',data.msg,'success');
                            $('#formEdit').addClass('hidden');
                            $('#contenedorListadoCita').removeClass('hidden');
                            tablaCitas.ajax.reload();
                        }
                    },
                    error:function(data){
                        if(data.error){
                            swal('',data.error,'error');
                        }       
                    }
                });
                
                
                return false;
            });
            
            
            $(document).on('click','#editBtnCancel',function(){
                $('#formEdit').addClass('hidden');
                $('#contenedorListadoCita').removeClass('hidden');
                return false;
            });
            
            $(document).on('click','.citaEdit',function(){
                var citaId = $(this).attr('id');
                var citaIdForm = $('#citaId').val();
                
                if(citaId!=citaIdForm){
                    $.ajax({
                        url: Routing.generate('admin_cita_editar_trat'),
                        type: 'GET',
                        data: {param1: citaId},
                        success:function(data){

                            //console.log(data);
                            $('#citaId').val(data.id);
                            $('#pacienteId').val(data.pacienteId);
                            $('#citaPaciente').html(data.paciente);
                            $('#citaMedico').html(data.medico);
                            $('#citaSucursal').html(data.sucursal);
                            $('#citaFecha').html(data.fecha);
                            $('#citaHoraInicio').html(data.horaInicio);
                            $('#citaHoraFin').html(data.horaFin);
                            $('#citaDescripcion').html(data.descripcion);
                            
                            //console.log("Cita: "+parseInt(data.citaPor));
                            //if(data.CitaPor!=null){
                                switch(parseInt(data.citaPor)){
                                    case 1:
                                        $('#dgplusbellebundle_cita_tipoCita_0').click();
                                        break;
                                    case 2:
                                        $('#dgplusbellebundle_cita_tipoCita_1').click();
                                        break;
                                    case 3:
                                        $('#dgplusbellebundle_cita_tipoCita_2').click();
                                        break;
                                    default:
                                        $('#dgplusbellebundle_cita_tipoCita_0').click();
                                        break;
                                }
                            //}
                            
                            $('#citaPaquete').val(data.paquete).change();
                            $('#citaEstado').val(data.estado).change();
                            $('#citaTratamiento1').val(data.tratamiento1).change();
                            $('#citatratamiento2').val(data.tratamiento1).change();
                            $('#formEdit').removeClass('hidden');
                            $('#contenedorListadoCita').addClass('hidden');
                        },
                        error:function(data){
                            if(data.error){
                                //console.log(data.id);
                                swal('',data.error,'error');
                            }       
                        }
                    });
                }
                else{
                    $('#formEdit').removeClass('hidden');
                    $('#contenedorListadoCita').addClass('hidden');
                }
                return false;
            });
            
            $(document).on('click','#dgplusbellebundle_cita_tipoCita_0',function(){
                    //if(verificarPaciente($(this))){
                        $('.tratamiento2').children().addClass('hidden');
                        $('.tratamientoC').children().removeClass('hidden');
                        $('.tratamientoC').removeClass('hidden');
                        $('.tratamiento1').children().addClass('hidden');
                        $('.tratamiento1').addClass('hidden');
                        $('.paquete').children().addClass('hidden');
                    //}
                });
                $(document).on('click','#dgplusbellebundle_cita_tipoCita_1',function(){
                    {#if(verificarPaciente($(this))){#}
                        $('.tratamiento1').children().removeClass('hidden');
                        $('.tratamiento1').removeClass('hidden');
                        $('.tratamiento2').children().removeClass('hidden');
                        $('.tratamientoC').children().addClass('hidden');
                        $('.tratamientoC').addClass('hidden');
                        $('.paquete').children().addClass('hidden');
                        
                        
                        $.ajax({
                            url: Routing.generate('admin_tratamientos_pendiente_no_paquete'),
                            type: 'GET',
                            data: {param1: $('#pacienteId').val()},
                            success:function(data){
                                //$('#dgplusbellebundle_cita_paquetes').select2('destroy');
                                {#console.log(data.id);
                                console.log(data.nombre);#}
                                var numPaquetes= data.id.length;
                                var options ="";
                                var defectoValor = 0;
                                options+='<option value="0">Seleccione un tratamiento...</option>';
                                for (var i = 0; i < numPaquetes; i++) {   
                                    if(i==0){
                                        options+='<option value="'+data.id[i]+'">'+data.nombre[i]+' </option>';
                                        defectoValor = data.id[i];
                                    }
                                    else{
                                        options+='<option value="'+data.id[i]+'">'+data.nombre[i]+' </option>';
                                    }								
                                }     
                                $('#dgplusbellebundle_cita_paquetes_trat1').html(options);
                                $('#dgplusbellebundle_cita_paquetes_trat2').html(options);
{#                                $('#dgplusbellebundle_cita_paquetes').select2();#}
                                $("#dgplusbellebundle_cita_paquetes_trat1").val(defectoValor).trigger("change");
                                $("#dgplusbellebundle_cita_paquetes_trat2").val(defectoValor).trigger("change");
                            },
                            error:function(data){
                                if(data.error){
                                    //console.log(data.id);
                                    swal('',data.error,'error');
                                }       
                            }
                        });
                        
{#                    }#}
                });
                $(document).on('click','#dgplusbellebundle_cita_tipoCita_2',function(){
                    {#if(verificarPaciente($(this))){#}
                        $('.paquete').children().removeClass('hidden');
                        $('.tratamientoC').children().addClass('hidden');
                        $('.tratamientoC').addClass('hidden');
                        $('.tratamiento1,.tratamiento2').children().removeClass('hidden');
                        $('.tratamiento1').removeClass('hidden');
                        $.ajax({
                            url: Routing.generate('admin_paquetes_pendiente'),
                            type: 'GET',
                            data: {param1: $('#pacienteId').val()},
                            success:function(data){
                                
                                var numPaquetes= data.id.length;
                                var options ="";
                                var defectoValor = 0;
                                //options+='<option value="0">Seleccione un paquete...</option>';
                                for (var i = 0; i < numPaquetes; i++) {   
                                    if(i==0){
                                        options+='<option value="'+data.id[i]+'">'+data.nombre[i]+' </option>';
                                        defectoValor = data.id[i];
                                    }
                                    else{
                                        options+='<option value="'+data.id[i]+'">'+data.nombre[i]+' </option>';
                                    }								
                                }     
{#                                $('#dgplusbellebundle_cita_paquetes_trat1').html(options);
                                $('#dgplusbellebundle_cita_paquetes_trat2').html(options);#}
                                $('#dgplusbellebundle_cita_paquetes').html(options);
                                $("#dgplusbellebundle_cita_paquetes").val(defectoValor).trigger("change");
                                {#$('#dgplusbellebundle_cita_paquetes_trat2').html(options);#}
{#                                $('#dgplusbellebundle_cita_paquetes').select2();#}
                                {#$("#dgplusbellebundle_cita_paquetes_trat1").val(defectoValor).trigger("change");
                                $("#dgplusbellebundle_cita_paquetes_trat2").val(defectoValor).trigger("change");#}
                            },
                            error:function(data){
                                if(data.error){
                                    //console.log(data.id);
                                    swal('',data.error,'error');
                                }       
                            }
                        });
                        
{#                    }#}
                });
                
                
                $(document).on('change','#dgplusbellebundle_cita_paquetes',function(){
                    var idP = $(this).val();
                    //console.log(idP);
                    $.ajax({
                        url: Routing.generate('admin_tratamientos_pendiente'),
                        type: 'GET',
                        data: {param1: idP},
                        success:function(data){
                                $('#dgplusbellebundle_cita_tratamiento').select2('destroy');
                                $('#dgplusbellebundle_cita_tratamiento2').select2('destroy');
                                {#console.log(data.id);
                                console.log(data.nombre);#}
                                var numPaquetes= data.length;
                                var options ="";
                                var defectoValor = 0;
                                for (var i = 0; i < numPaquetes; i++) {
                                    if(i==0){	
                                        options+='<option selected value="'+data[i].id+'">'+data[i].nombre+' </option>';  
                                        defectoValor = data[i].id;
                                    }
                                    else{
                                        options+='<option value="'+data[i].id+'">'+data[i].nombre+' </option>';
                                    }	
                                }
                                $('#dgplusbellebundle_cita_paquetes_trat1').html(options);
                                $("#dgplusbellebundle_cita_paquetes_trat1").val(defectoValor).trigger("change");
                                //$('#dgplusbellebundle_cita_paquetes').change();
{#                                $('#dgplusbellebundle_cita_tratamiento').select2();#}
                                $('#dgplusbellebundle_cita_paquetes_trat2').html(options);
                                $("#dgplusbellebundle_cita_paquetes_trat2").val(defectoValor).trigger("change");
{#                                $('#dgplusbellebundle_cita_tratamiento2').select2();#}
                        },
                        error:function(data){
                            if(data.error){
                                //console.log(data.id);
                                swal('',data.error,'error');
                            }
                        }
                    });
                });
                
                $('#dgplusbellebundle_cita_tratamiento').select2();
                $('#dgplusbellebundle_cita_tratamiento2').select2();
                $('#citaEstado').select2();
                $('#opcion').select2();
                
                $('#dgplusbellebundle_cita_tipoCita_0').click();
            
            var tablaCumpleanos = $('#cumpleanosTabla').DataTable({ 
                        {#searching:true,
                        order:[[1,"asc"]],#}
                        "dom":"ftp",
                        "processing": false,
                        "serverSide": true,
                        "ajax": {
                            "url": '{{path('admin_cumpleanos')}}'+"?fecha="+$('#filtroCumpleanos').val(),
                            "type": 'GET'
                        },
                        "order":[0,'asc'],
                        "columns": [
                            { "data": "nombres" },
                            { "data": "telefono" },
                            { "data": "fechaNacimiento" },
                            
                            {#{ "data": "email" },#}
                            // { "data": "interes" }
                            // { "data": "industry" },

                            // { "data": "probability" },
                            // { "data": "state" }
                            // { "data": "actions" }
                            ],
                        "columnDefs": [
                               {#{ "orderable": false, "targets": 0 },
                               { "orderable": false, "targets": 1 },
                               { "orderable": false, "targets": 2 },
                               { "orderable": false, "targets": 4 },#}
                               { "orderable": false, "targets": 2 }
                        ],
                        "language": {
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "",
                        "emptyTable": "No se encontraron registros",
                        "paginate": { 
                            "next": "Siguiente",
                            "previous": "Anterior"
                        },
                        "processing": "Procesando petición...",
                        "search": "Buscar registros:",
                        "lengthMenu": "Mostrar _MENU_ registros"
                    }, 
            });
            
            var tablaCitas= $('#citasTabla').DataTable({ 
                        {#searching:true,
                        order:[[1,"asc"]],#}
                        "dom":"ftp",
                        "processing": false,
                        "serverSide": true,
                        "ajax": {
                            "url": '{{path('admin_citas_listado')}}'+"?fechaInicio="+$('#filtroCitasInicio').val()+"&fechaFin="+$('#filtroCitasFin').val(),
                            "type": 'GET'
                        },
                        "order":[1,'asc'],
                        "columns": [
                            { "data": "fecha" },
                            { "data": "expediente" },
                            { "data": "nombres" },
                            { "data": "tel" },
                            { "data": "tratamiento" },
                            { "data": "actions" },
                            
                            
                            {#{ "data": "email" },#}
                            // { "data": "interes" }
                            // { "data": "industry" },

                            // { "data": "probability" },
                            // { "data": "state" }
                            // { "data": "actions" }
                            ],
                        "columnDefs": [
                               {#{ "orderable": false, "targets": 0 },
                               { "orderable": false, "targets": 1 },
                               { "orderable": false, "targets": 2 },
                               { "orderable": false, "targets": 4 },#}
                               { "orderable": false, "targets": 0 },
                               { "orderable": false, "targets": 5 }
                        ],
                        "language": {
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "",
                        "emptyTable": "No se encontraron registros",
                        "paginate": { 
                            "next": "Siguiente",
                            "previous": "Anterior"
                        },
                        "processing": "Procesando petición...",
                        "search": "Buscar registros:",
                        "lengthMenu": "Mostrar _MENU_ registros"
                    }, 
            });

        /////Cumpleaños
        $('#filtroCumpleanos').Zebra_DatePicker({
            months:['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            format: 'd-m-Y',
            show_clear_date:false,
            show_select_today: "Hoy",
            default_position:"below",
            //show_icon:false,
            onSelect: function() {
                url = "{{path('admin_cumpleanos')}}";
                hy = $('#filtroCumpleanos').val();
                url+="?fecha="+hy;
                tablaCumpleanos.ajax.url( url ).load();
            }
        });
        /////Citas
        $('#filtroCitasInicio,#filtroCitasFin').Zebra_DatePicker({
            months:['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            format: 'd-m-Y',
            show_clear_date:false,
            show_select_today: "Hoy",
            default_position:"below",
            //show_icon:false,
            onSelect: function() {
                url = '{{path('admin_citas_listado')}}'+"?fechaInicio="+$('#filtroCitasInicio').val()+"&fechaFin="+$('#filtroCitasFin').val();
                tablaCitas.ajax.url( url ).load();
            }
        });
        
        
        /////Correos
        $(document).on('change','#opcion',function(){
            console.log($(this).val());
            switch(parseInt($(this).val())){
                case 0://///Cumpleañeros del dia
                    $('#toEmail').prev().addClass('hidden');
                    $('#toEmail').addClass('hidden');
                    $('#toEmail').next().addClass('hidden');
                    break;
                case 1://///Todos
                    $('#toEmail').prev().addClass('hidden');
                    $('#toEmail').addClass('hidden');
                    $('#toEmail').next().addClass('hidden');
                    break;
                case 2://///Individual
                    $('#toEmail').prev().removeClass('hidden');
                    $('#toEmail').removeClass('hidden');
                    $('#toEmail').next().removeClass('hidden');
                    break;
            }
        });
        
        
        $('#frmCorreo').on('submit',(function(event) {
            var $btn = $('#enviarCorreo').button('loading');
            
            console.log($('#toEmail').val());
            
            //var frmData = new FormData('#frmCorreo');
            $.ajax({
                url: Routing.generate('envio_correo_pacientes'),
                type: "POST",            
                data: new FormData(this),
                contentType: false,    
                cache: false,           
                processData:false,   
                success: function(data)  
                {
                        $("#txtId1").val(data.id1);
                        $("#txtId2").val(data.id2);
                        if(data.msg){
                                swal('',data.msg,'success');
                                
                                $('#txtId1').val('');
                                $('#txtId2').val('');
                                $('#txtName').val('');
                                $('#btnCancelTop').click();
                        }
                        if(data.error){
                                swal('',data.error,'error');
                                $btn.button('reset');
                        }
                        //table.ajax.reload();
                        $btn.button('reset');
                },
                error:function(data) {
                        $btn.button('reset');
                }
            });
            return false;
        }));
        
        
        
        
        /////Fin de correos

        $('#dgplusbellebundle_cita_paquetes').select2();
        $('#dgplusbellebundle_cita_consulta').select2();
        $('#dgplusbellebundle_cita_paquetes_trat1').select2();
        $('#dgplusbellebundle_cita_paquetes_trat2').select2();
        $('#toEmail').select2({
            allowClear:true,
            formatInputTooShort: function () {
                return "";
            },
            ajax: {
                url: "{{path('busqueda_paciente_select_exp')}}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                      q: params.term, 
                      page: params.page
                    };
                },
                processResults: function (data, params) {
                    var select2Data = $.map(data.data, function (obj) {
                        obj.id = obj.numero;
                        obj.text = obj.numero+" "+obj.nombres+" "+obj.apellidos;

                        return obj;
                    });

                    return {
                        results: select2Data
                        {#pagination: {
                            more: (params.page * 30) < data.total_count
                        }#}
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
            templateResult: formatRepo, 
            templateSelection: formatRepoSelection 
    });


function formatRepo (data) {
    if(data.numero){
        var markup = "<div class='select2-result-repository clearfix'>" +
                     "<div class='select2-result-repository__meta'>" +
                     "<div class='select2-result-repository__title'>" + data.numero+" | "+data.nombres+" "+data.apellidos+"</div>" +
                     "</div></div>";
    } else {
        var markup = "Realice una búsqueda (Ctrl+g)";
    }
    return markup;
}

function formatRepoSelection (data) {
    if(data.numero){
        return data.numero+" | "+data.nombres+" "+data.apellidos;
    } else {
        return "Realice una búsqueda (Ctrl+g)"; 
    }    
}
        
        
        {#$(document).on('click','#men2',function(){
            $('.menContent1').addClass('hidden');
            $('#menContent2').removeClass('hidden');
        });
        $(document).on('click','#men1',function(){
            $('#menContent2').addClass('hidden');
            $('.menContent1').removeClass('hidden');
        });#}
        
        $('#filtroText').on('keyup',function(e){
            var buscar= $(this).val();
            if(e.keyCode == 13) {
                
               $('#cumpleanosTabla_filter>label>input').val(buscar);
               $('#cumpleanosTabla_filter>label>input').keyup();
            } 
        });
        $('#filtroTextListado').on('keyup',function(e){
            var buscar= $(this).val();
            if(e.keyCode == 13) {
                
               $('#citasTabla_filter>label>input').val(buscar);
               $('#citasTabla_filter>label>input').keyup();
            } 
        });
        {#$(document).on('input','#filtroText',function(){
           $(this).keyup(); 
        });#}
            
        
            
        $('#cumpleanosTabla_filter,#citasTabla_filter').addClass('hidden');
        
        
        
        
        
        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
          $('#filtroSucursales').select2();
        });
    </script>
    {% endblock %}

