{% extends 'DGPlusbelleBundle:Layout:layouterp.html.twig' %} 



{% block contenido -%}
 
<div class="panel panel-default">
  <!-- Default panel contents -->
    <div class="panel-heading"><p>Nueva cita</p></div>
    <div class="panel-body">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    
    <div class="row" style="{#margin-left:-30px;#} margin-bottom: 20px;">
        <div class="col-md-4">
            {#<div class="col-md-12">#}
            {#{{ form_label(form.paciente ) }}#}
               <label class="" style="margin-bottom:15px;">Paciente</label>
               <select id="dgplusbellebundle_cita_paciente" name="dgplusbellebundle_cita[paciente]" class="form-control input-sm pacienteCita" style="width:100%;">
                   <option value="{{paciente.id}}" selected>{{paciente.persona.nombres}} {{paciente.persona.apellidos}}</option>
               </select>
           {#</div>#}
        </div>
        <div class="col-md-4">
            <label style="margin-bottom:15px;" class="control-label" for="dgplusbellebundle_cita_paciente">Médico/Esteticista</label>
            {{ form_widget(form.empleado) }}
        </div>
        <div class="col-md-4">
            <label style="margin-bottom:15px;" class="control-label" for="dgplusbellebundle_cita_paciente">Sucursal</label>
            {{ form_widget(form.sucursal ) }}   
        </div>
    </div>
    
    <div class="row">
        
        
        <div class="col-md-4">
         {{ form_row(form.fechaCita) }} 
        </div>
        
        {#<div class="col-md-3">
         {{ form_row(form.horario ) }}   
        </div>
        #}
        <div class="col-md-2">
         {{ form_row(form.horaCita) }} 
        </div>
	<div class="col-md-2">
         {{ form_row(form.horaFin) }}
        </div>
         {#{{ form_row(form.estado) }} #}
        {#
            <div class="col-md-3">
                {{ form_row(form.estado) }} 
            </div>   
        #}
    </div>
    <div class="row">
        
        
        <div class="col-md-6">
         {{ form_row(form.descripcion ) }}   
        </div>
        
         {#{{ form_row(form.estado) }} #}
                
        {#
        <div class="col-md-3">
         {{ form_row(form.descuento) }} 
        </div>
        #}
        {#<div class="col-md-3">
         {{ form_row(form.tratamiento ) }}   
        </div>#}
    </div>
    <div class="row">
        
        <div class="col-md-3" style="margin-top:20px;">
            <label style="margin-bottom:15px;" class="control-label" for="dgplusbellebundle_cita_paciente">Cita por:</label>
            {{ form_widget(form.tipoCita) }}
        </div>
        <div class="col-md-3 paquete" style="margin-top:20px;">
            <label class="control-label">Paquetes</label>
            <select style="width:100%;" id="dgplusbellebundle_cita_paquetes" name="cita_paquete" class="form-control input-sm pacienteCita">
                {#{% for paquete in paquetes %}
                    <option value="{{paquete.id}}">{{paquete.nombre}}</option>
                {% endfor%}#}
            </select>
        </div>
        <div class="col-md-3 tratamientoC" style="margin-top:20px;">
            <label class="control-label" style="width:100%;">Tratamiento</label>
            {{ form_widget(form.tratamiento ) }}   
        </div>
        <div class="col-md-3 tratamiento1" style="margin-top:20px;">
            <label class="control-label" style="width:100%;">Tratamiento 1</label>
            <select style="width:100%;" id="dgplusbellebundle_cita_paquetes_trat1" name="cita_trat1" class="form-control input-sm pacienteCita">
                {#{% for paquete in paquetes %}
                    <option value="{{paquete.id}}">{{paquete.nombre}}</option>
                {% endfor%}#}
            </select>
        </div>
        <div class="col-md-3 tratamiento2" style="margin-top:20px;">
            <label class="control-label" style="width:100%;">Tratamiento 2</label>
            <select style="width:100%;" id="dgplusbellebundle_cita_paquetes_trat2" name="cita_trat2" class="form-control input-sm pacienteCita">
                {#{% for paquete in paquetes %}
                    <option value="{{paquete.id}}">{{paquete.nombre}}</option>
                {% endfor%}#}
            </select>
        </div>
        
        {#<div class="col-md-3 " style="margin-top:20px;">
            <button class="btn btn-success"><i class="fa fa-plus"></i></button>
        </div>#}
        
    </div>
         
             <div class="form-grouphide"> 
                <a href="{{ path('admin_paciente') }}" class="btn btn-default btn-sm" id="cancelarNuevo">Cancelar</a>
                    {{ form_widget(form.submit) }} 
                <label style="color:#F00; ">
                    {{ mensaje }}
                </label>
             </div>
        
   
 
    </div>
{{ form_widget(form._token) }}
</div>  
{{ form_end(form) }}                
{% endblock %}


{% block javascripts_step %}
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('Resources/swal/sweetalert2.min.css') }}">
    <script src="{{ asset('Resources/wrapkit/scripts/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('Resources/wrapkit/scripts/dataTables.tableTools.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
    <script src="{{ asset('Resources/Zebra/js/zebra_datepicker.js') }}"></script>
    <script src="{{ asset('Resources/Zebra/inicializacioncalendarios.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/jquery.bvalidator.js')}}"></script>
    <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/bvalidator.lang.es.js')}}" ></script>
    <script src="{{ asset('Resources/js/Cita.js') }}"></script>  
   
    <style>
        #dgplusbellebundle_cita_horaInicio{
            width: 160px;
        }
            
            #dgplusbellebundle_cita_horaInicio_hourSelectBoxItContainer {
                width: 75px;
                float: left;
            }
            #dgplusbellebundle_cita_horaInicio_minuteSelectBoxItContainer {
                width: 75px;
                float:right;
            }
    </style>
    <script src="{{ asset('Resources/swal/sweetalert2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Resources/zebra/inicializacioncalendarios.js')}}" ></script>
    <script src="{{ asset('Resources/wrapkit/scripts/bootbox.js') }}"></script>
        <script>
            $(document).ready(function(){
                
                $.ajax({
                    url: Routing.generate('admin_paquetes_pendiente'),
                    type: 'GET',
                    data: {param1: $('#dgplusbellebundle_cita_paciente').val()},
                    success:function(data){
                            var numPaquetes= data.id.length;
                            var options ="";
                            var defectoValor = 0;
                            options+='<option value="0">Seleccione un paquete...</option>';
                            for (var i = 0; i < numPaquetes; i++) {   
                                if(i==0){
                                    options+='<option value="'+data.id[i]+'">'+data.nombre[i]+' </option>';
                                    defectoValor = data.id[i];
                                }
                                else{
                                    options+='<option value="'+data.id[i]+'">'+data.nombre[i]+' </option>';
                                }								
                            }     
                            $('#dgplusbellebundle_cita_paquetes').html(options);
                            $("#dgplusbellebundle_cita_paquetes").val(defectoValor).trigger("change");                    },
                    error:function(data){
                        if(data.error){
                                console.log(data.id);
                                swal('',data.error,'error');
                        }       
                    }
                });
                //Llamada ajax para validar la fecha y hora de una cita
                //$('body').data('error',1);
                //Llamada ajax para validar la fecha y hora de una cita
                $("#dgplusbellebundle_cita_submit" ).on( "click", function(e) {
                    var idEmpleado = $('#dgplusbellebundle_cita_empleado').val();
                    var fechaCita= $('#dgplusbellebundle_cita_fechaCita').val();
                    var min = $('#dgplusbellebundle_cita_horaCita_minute').val();
                    var pac = $('#dgplusbellebundle_cita_paciente').val();
                    var med = $('#dgplusbellebundle_cita_empleado').val();
                    var suc = $('#dgplusbellebundle_cita_sucursal').val();
                    
                    if(pac===''){
                        swal('','Elija un paciente','error');
                        return false;
                    }
                    if(med===''){
                        swal('','Elija un médico','error');
                        return false;
                    }
                    if(suc===''){
                        swal('','Elija una sucursal','error');
                        return false;
                    }
                    if(fechaCita==''){
                        swal('','Elija una fecha','error');
                        return false;
                    }
                    
                    
                    var horInicio = $('#dgplusbellebundle_cita_horaCita_hour').val();
                    var minInicio = $('#dgplusbellebundle_cita_horaCita_minute').val();
                    var horFin = $('#dgplusbellebundle_cita_horaFin_hour').val();
                    var minFin = $('#dgplusbellebundle_cita_horaFin_minute').val();
                    if(min==='0'){
                        min="00";
                    }
                    
                    if(parseInt(horInicio)>parseInt(horFin)){
                        swal('','La hora de inicio no puede ser mayor o igual a la de fin!','error');
                        return false;
                    }
                    if(parseInt(horInicio)==parseInt(horFin)){
                        if(parseInt(minInicio)==parseInt(minFin)){
                            swal('','La hora de inicio no puede ser mayor o igual a la de fin!','error');
                            return false;
                        }
                        
                    } 
                    if (document.getElementById('dgplusbellebundle_cita_tipoCita_0').checked) {
                        rate_value = document.getElementById('dgplusbellebundle_cita_tipoCita_0').value;
                    }
                    if (document.getElementById('dgplusbellebundle_cita_tipoCita_1').checked) {
                        rate_value = document.getElementById('dgplusbellebundle_cita_tipoCita_1').value;
                    }
                    if (document.getElementById('dgplusbellebundle_cita_tipoCita_2').checked) {
                        rate_value = document.getElementById('dgplusbellebundle_cita_tipoCita_2').value;
                    }
                    console.log(rate_value);
                    switch(parseInt(rate_value)){

                        case 1://///Consulta
                            if($('#dgplusbellebundle_cita_tratamiento').val()==""){
                                swal('','Seleccione una consulta!','error');
                                return false;
                            }
                            break;
                        case 2://///Tratamiento
                            if($('#dgplusbellebundle_cita_paquetes_trat1').val()==0){
                                    swal('','Seleccione un tratamiento!','error');
                                    return false;
                            }
                            break;
                        case 3://///Paquete
                            if($('#dgplusbellebundle_cita_paquetes').val()==0){
                                swal('','Seleccione un paquete!','error');
                                return false;
                            }
                            if( $('#dgplusbellebundle_cita_paquetes_trat1').val()==""){
                                swal('','Seleccione un tratamiento del paquete!','error');
                                return false;
                            }
                            break;
                        default:
                            swal('','Elija una opción de la cita!','error');
                            return false;
                            break;
                    }
                    
                    var horaCita = $('#dgplusbellebundle_cita_horaCita_hour').val()+":"+min;
                    //alert(idEmpleado);
                    var error=0;
                    $.getJSON(Routing.generate('get_existeCita', { idempleado: idEmpleado,fecha:fechaCita,hora:horaCita}), 
                        function(data) {
                            //alert(data.regs.length);
                            //return false;
                            if(data.regs.length!=0){
                                var mensaje = "";
                                mensaje += "<div class='row'><div class='col-md-12'><b><p class='text-left'>Error...</p></b></div></div>";
                                mensaje += "<div class='row'><hr></div>";
                                mensaje += "<div class='row'><div class='col-md-12'>Ya existe una cita programada para ese doctor en ese dia y esa hora</div></div>";
                                {#bootbox.alert(mensaje, function() {   
                                    $('body').data('error',0);
                                });  #}
                                swal('','Ya existe una cita programada para ese doctor en ese día y esa hora','error');
                                {#console.log('existe otra cita');#}
                                error=0;
                                //alert(error);
                                //e.preventDefault();
                            }
                            else{
                                {#$('body').data('error',1);#}
                                
                                    

                                
                                {#console.log('no existe otra cita');#}
                                //$('form').submit();
                            }
                        });        
                    
                    
                    
                    
                    return false;
                });

                
                var seleccionado="";
                //Eliminar options del select de pacientes
               //Eliminar options del select de pacientes
                $('#dgplusbellebundle_cita_paciente option').each(function(index, val) {
                    
                    seleccionado = $(this).attr('selected');
                    if (!seleccionado){
                        $(this).remove();
                    }
                });
                    
                   
                //Eliminar las opciones de la lista creada por el selectBoxIt
                $("#dgplusbellebundle_cita_pacienteSelectBoxItOptions li").remove();
                
		$('#dgplusbellebundle_cita_tratamiento').select2();
                $('#dgplusbellebundle_cita_empleado').select2();
                $('#dgplusbellebundle_cita_sucursal').select2();
                $('#dgplusbellebundle_cita_paciente').select2();
                
                $('#dgplusbellebundle_cita_horaCita_hour').select2();
                $('#dgplusbellebundle_cita_horaCita_minute').select2();
                $('#dgplusbellebundle_cita_horaFin_hour').select2();
                $('#dgplusbellebundle_cita_horaFin_minute').select2();
                $('#dgplusbellebundle_cita_paquetes').select2();
                
                $('#dgplusbellebundle_cita_paquetes_trat1').select2();
                $('#dgplusbellebundle_cita_paquetes_trat2').select2();
                
                //$('#dgplusbellebundle_cita_horaInicio').ptTimeSelect();


                $(document).on('click','#dgplusbellebundle_cita_tipoCita_0',function(){
                    //if(verificarPaciente($(this))){
                        $('.tratamiento2').children().addClass('hidden');
                        $('.tratamientoC').children().removeClass('hidden');
                        $('.tratamientoC').removeClass('hidden');
                        $('.tratamiento1').children().addClass('hidden');
                        $('.tratamiento1').addClass('hidden');
                        $('.paquete').children().addClass('hidden');
                    //}
                });
                $(document).on('click','#dgplusbellebundle_cita_tipoCita_1',function(){
                    if(verificarPaciente($(this))){
                        $('.tratamiento1').children().removeClass('hidden');
                        $('.tratamiento1').removeClass('hidden');
                        $('.tratamiento2').children().removeClass('hidden');
                        $('.tratamientoC').children().addClass('hidden');
                        $('.tratamientoC').addClass('hidden');
                        $('.paquete').children().addClass('hidden');
                        
                        
                        $.ajax({
                            url: Routing.generate('admin_tratamientos_pendiente_no_paquete'),
                            type: 'GET',
                            data: {param1: $('#dgplusbellebundle_cita_paciente').val()},
                            success:function(data){
                                //$('#dgplusbellebundle_cita_paquetes').select2('destroy');
                                {#console.log(data.id);
                                console.log(data.nombre);#}
                                var numPaquetes= data.id.length;
                                var options ="";
                                var defectoValor = 0;
                                options+='<option value="0">Seleccione un tratamiento...</option>';
                                for (var i = 0; i < numPaquetes; i++) {   
                                    if(i==0){
                                        options+='<option value="'+data.id[i]+'">'+data.nombre[i]+' </option>';
                                        defectoValor = data.id[i];
                                    }
                                    else{
                                        options+='<option value="'+data.id[i]+'">'+data.nombre[i]+' </option>';
                                    }								
                                }     
                                $('#dgplusbellebundle_cita_paquetes_trat1').html(options);
                                $('#dgplusbellebundle_cita_paquetes_trat2').html(options);
{#                                $('#dgplusbellebundle_cita_paquetes').select2();#}
                                $("#dgplusbellebundle_cita_paquetes_trat1").val(defectoValor).trigger("change");
                                $("#dgplusbellebundle_cita_paquetes_trat2").val(defectoValor).trigger("change");
                            },
                            error:function(data){
                                if(data.error){
                                    console.log(data.id);
                                    swal('',data.error,'error');
                                }       
                            }
                        });
                        
                    }
                });
                $(document).on('click','#dgplusbellebundle_cita_tipoCita_2',function(){
                    if(verificarPaciente($(this))){
                        $('.paquete').children().removeClass('hidden');
                        $('.tratamientoC').children().addClass('hidden');
                        $('.tratamientoC').addClass('hidden');
                        $('.tratamiento1,.tratamiento2').children().removeClass('hidden');
                        $('.tratamiento1').removeClass('hidden');
                        $.ajax({
                            url: Routing.generate('admin_paquetes_pendiente'),
                            type: 'GET',
                            data: {param1: $('#dgplusbellebundle_cita_paciente').val()},
                            success:function(data){
                                
                                var numPaquetes= data.id.length;
                                var options ="";
                                var defectoValor = 0;
                                //options+='<option value="0">Seleccione un paquete...</option>';
                                for (var i = 0; i < numPaquetes; i++) {   
                                    if(i==0){
                                        options+='<option value="'+data.id[i]+'">'+data.nombre[i]+' </option>';
                                        defectoValor = data.id[i];
                                    }
                                    else{
                                        options+='<option value="'+data.id[i]+'">'+data.nombre[i]+' </option>';
                                    }								
                                }     
{#                                $('#dgplusbellebundle_cita_paquetes_trat1').html(options);
                                $('#dgplusbellebundle_cita_paquetes_trat2').html(options);#}
                                $('#dgplusbellebundle_cita_paquetes').html(options);
                                $("#dgplusbellebundle_cita_paquetes").val(defectoValor).trigger("change");
                                {#$('#dgplusbellebundle_cita_paquetes_trat2').html(options);#}
{#                                $('#dgplusbellebundle_cita_paquetes').select2();#}
                                {#$("#dgplusbellebundle_cita_paquetes_trat1").val(defectoValor).trigger("change");
                                $("#dgplusbellebundle_cita_paquetes_trat2").val(defectoValor).trigger("change");#}
                            },
                            error:function(data){
                                if(data.error){
                                    //console.log(data.id);
                                    swal('',data.error,'error');
                                }       
                            }
                        });
                        
                    }
                });
                
                
                $(document).on('change','#dgplusbellebundle_cita_paquetes',function(){
                    var idP = $(this).val();
                    //console.log(idP);
                    $.ajax({
                        url: Routing.generate('admin_tratamientos_pendiente'),
                        type: 'GET',
                        data: {param1: idP},
                        success:function(data){
                                {#$('#dgplusbellebundle_cita_tratamiento').select2('destroy');
                                $('#dgplusbellebundle_cita_tratamiento2').select2('destroy');#}
                                {#console.log(data.id);
                                console.log(data.nombre);#}
                                var numPaquetes= data.length;
                                var options ="";
                                var defectoValor = 0;
                                for (var i = 0; i < numPaquetes; i++) {
                                    if(i==0){	
                                        options+='<option selected value="'+data[i].id+'">'+data[i].nombre+' </option>';                   
                                    }
                                    else{
                                        options+='<option value="'+data[i].id+'">'+data[i].nombre+' </option>';
                                    }	
                                }
                                $('#dgplusbellebundle_cita_paquetes_trat1').html(options);
                                //$('#dgplusbellebundle_cita_paquetes').change();
{#                                $('#dgplusbellebundle_cita_tratamiento').select2();#}
                                $('#dgplusbellebundle_cita_paquetes_trat2   ').html(options);
{#                                $('#dgplusbellebundle_cita_tratamiento2').select2();#}
                        },
                        error:function(data){
                            if(data.error){
                                //console.log(data.id);
                                swal('',data.error,'error');
                            }
                        }
                    });
                });
                
                $('#dgplusbellebundle_cita_tratamiento').select2();
                $('#dgplusbellebundle_cita_tratamiento2').select2();
                $('#dgplusbellebundle_cita_tipoCita_0').click();

                
                //Cargar los horarios al inicio
                //$('#dgplusbellebundle_cita_empleado').change();
                //Modificar horarios al cmabiar dropdown
              
        
              validarCita(); 
        });
        
        function verificarPaciente(domElem){
            if($("#dgplusbellebundle_cita_paciente").val()==''){
                swal('','Elija un paciente','error');
                //domElem.prop('checked',false);
                $('#dgplusbellebundle_cita_tipoCita_0').prop('checked',true);
                $('#dgplusbellebundle_cita_tipoCita_0').click();
                return false;
            }
            else{
                return true;
            }
        }
        </script>
{% endblock %}
