{% extends 'DGPlusbelleBundle:Layout:layouterp.html.twig' %} 



{% block contenido -%}
 
<div class="panel panel-default">
  <!-- Default panel contents -->
    <div class="panel-heading"><p>Nueva cita</p></div>
    <div class="panel-body">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    
    <div class="row" style="margin-bottom:30px;">
        <div class="col-md-3">
         {#{{ form_label(form.paciente ) }}#}
            <label class="form-group">Paciente</label>
            <select id="dgplusbellebundle_cita_paciente" name="dgplusbellebundle_cita[paciente]" class="form-control input-sm pacienteCita">
                <option value="">Seleccione un paciente...</option>
            </select>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
         
        <label class="control-label" for="dgplusbellebundle_cita_paciente">Médico/Esteticista</label>
            {{ form_widget(form.empleado) }}
        </div>
        
        <div class="col-md-3">
            {{ form_row(form.fechaCita) }} 
        </div>
        
        {#<div class="col-md-3">
         {{ form_row(form.horario ) }}   
        </div>
        #}
        <div class="col-md-3">
            {{ form_row(form.horaCita) }} 
        </div>
        <div class="col-md-3">
            {{ form_row(form.horaFin) }}
        </div>
         {#{{ form_row(form.estado) }} #}
        {#
            <div class="col-md-3">
                {{ form_row(form.estado) }} 
            </div>   
        #}
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.tratamiento ) }}   
        </div>
        <div class="col-md-3">
            {{ form_row(form.sucursal ) }}   
        </div>
        <div class="col-md-3">
            {{ form_row(form.descripcion ) }}   
        </div>
    </div>
    <div class="row">
        
    </div>
         
             <div class="form-grouphide"> 
                <a href="{{ path('admin_paciente') }}" class="btn btn-default btn-sm" id="cancelarNuevo">Cancelar</a>
                    {{ form_widget(form.submit) }} 
                <label style="color:#F00; ">
                    {{ mensaje }}
                </label>
             </div>
        
   
 
    </div>
{{ form_widget(form._token) }}
</div>  
{{ form_end(form) }}                
{% endblock %}


{% block javascripts_step %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('Resources/swal/sweetalert2.min.css') }}">
    <script src="{{ asset('Resources/wrapkit/scripts/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('Resources/wrapkit/scripts/dataTables.tableTools.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
    <script src="{{ asset('Resources/Zebra/js/zebra_datepicker.js') }}"></script>
    <script src="{{ asset('Resources/Zebra/inicializacioncalendarios.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/jquery.bvalidator.js')}}"></script>
    <script type="text/javascript" src="{{ asset('Resources/bValidator-0.73/bvalidator.lang.es.js')}}" ></script>
   <script src="{{ asset('Resources/js/Cita.js') }}"></script>  
   
    <style>
        #dgplusbellebundle_cita_horaInicio{
            width: 160px;
        }
            
            #dgplusbellebundle_cita_horaInicio_hourSelectBoxItContainer {
                width: 75px;
                float: left;
            }
            #dgplusbellebundle_cita_horaInicio_minuteSelectBoxItContainer {
                width: 75px;
                float:right;
            }
    </style>
    <script src="{{ asset('Resources/swal/sweetalert2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Resources/zebra/inicializacioncalendarios.js')}}" ></script>
        <script>
            function formatRepo (data) {
                if(data.nombres){
                    var markup = "<div class='select2-result-repository clearfix'>" +
                                 "<div class='select2-result-repository__meta'>" +
                                 "<div class='select2-result-repository__title'>" + data.nombres + " " + data.apellidos + "</div>" +
                                 "</div></div>";
                } else {
                    var markup = "Seleccione un paciente"; 
                }


                {#if (repo.description) {
                  markup += "<div class='select2-result-repository__description'>" + repo.description + "</div>";
                }

                markup += "<div class='select2-result-repository__statistics'>" +
                        "<div class='select2-result-repository__forks'><i class='fa fa-flash'></i> " + repo.forks_count + " Forks</div>" +
                        "<div class='select2-result-repository__stargazers'><i class='fa fa-star'></i> " + repo.stargazers_count + " Stars</div>" +
                        "<div class='select2-result-repository__watchers'><i class='fa fa-eye'></i> " + repo.watchers_count + " Watchers</div>" +
                    "</div>" +
                    "</div></div>";#}

                return markup;
            }

            function formatRepoSelection (data) {
                if(data.nombres){
                    return data.nombres + " " + data.apellidos;
                } else {
                    return "Seleccione un paciente"; 
                }    
            }

            $(document).ready(function(){
                
                $('#dgplusbellebundle_cita_paciente').select2({
                    ajax: {
                        url: "{{path('busqueda_paciente_select')}}",
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                          return {
                            q: params.term, 
                            page: params.page
                          };
                        },
                        processResults: function (data, params) {
                            var select2Data = $.map(data.data, function (obj) {
                                obj.id = obj.pacienteid;
                                obj.text = obj.nombres + ' ' + obj.apelllidos;

                                return obj;
                            });

                            return {
                                results: select2Data
                                {#pagination: {
                                    more: (params.page * 30) < data.total_count
                                }#}
                            };
                        },
                        cache: true
                    },
                    escapeMarkup: function (markup) { return markup; }, 
                    minimumInputLength: 1,
                    templateResult: formatRepo, 
                    templateSelection: formatRepoSelection 
                });
                //Llamada ajax para validar la fecha y hora de una cita
                //$('body').data('error',1);
                //Llamada ajax para validar la fecha y hora de una cita
                $("#dgplusbellebundle_cita_submit" ).on( "click", function(e) {
                    var idEmpleado = $('#dgplusbellebundle_cita_empleado').val();
                    var fechaCita= $('#dgplusbellebundle_cita_fechaCita').val();
                    var min = $('#dgplusbellebundle_cita_horaCita_minute').val();
                    var pac = $('#dgplusbellebundle_cita_paciente').val();
                    
                    if(pac===''){
                        swal('','Elija un paciente','error');
                        return false;
                    }
                    var horInicio = $('#dgplusbellebundle_cita_horaCita_hour').val();
                    var minInicio = $('#dgplusbellebundle_cita_horaCita_minute').val();
                    var horFin = $('#dgplusbellebundle_cita_horaFin_hour').val();
                    var minFin = $('#dgplusbellebundle_cita_horaFin_minute').val();
                    if(min==='0'){
                        min="00";
                    }
                    
                    if(parseInt(horInicio)>parseInt(horFin)){
                        swal('','La hora de inicio no puede ser mayor o igual a la de fin!','error');
                        return false;
                    }
                    if(parseInt(horInicio)==parseInt(horFin)){
                        if(parseInt(minInicio)==parseInt(minFin)){
                            swal('','La hora de inicio no puede ser mayor o igual a la de fin!','error');
                            return false;
                        }
                        
                    }
                    var horaCita = $('#dgplusbellebundle_cita_horaCita_hour').val()+":"+min;
                    //alert(idEmpleado);
                    var error=0;
                    $.getJSON(Routing.generate('get_existeCita', { idempleado: idEmpleado,fecha:fechaCita,hora:horaCita}), 
                        function(data) {
                            //alert(data.regs.length);
                            //return false;
                            if(data.regs.length!=0){
                                var mensaje = "";
                                mensaje += "<div class='row'><div class='col-md-12'><b><p class='text-left'>Error...</p></b></div></div>";
                                mensaje += "<div class='row'><hr></div>";
                                mensaje += "<div class='row'><div class='col-md-12'>Ya existe una cita programada para ese doctor en ese dia y esa hora</div></div>";
                                {#bootbox.alert(mensaje, function() {   
                                    $('body').data('error',0);
                                });  #}
                                swal('','Ya existe una cita programada para ese doctor en ese día y esa hora','error');
                                console.log('existe otra cita');
                                error=0;
                                //alert(error);
                                //e.preventDefault();
                            }
                            else{
                                $('body').data('error',1);
                                console.log('no existe otra cita');
                                $('form').submit();
                            }
                        });        
                    
                    
                    
                    
                    return false;
                });

                //Generación de calendario zebra
                //$('#dgplusbellebundle_cita_fechaCita').Zebra_DatePicker(//{
                    /*onSelect:
                        $.getJSON(Routing.generate('get_horas', { idEmp: idEmp}), 
                        function(data) {
                            var numRegistros = data.regs.length;
                            var x='1,2,3,4,5,6,0,';
                            $.each(data.regs, function(indice, reg) {
                                //alert(indice);
                                switch(reg.diaHorario){
                                    case 'Lunes'    : index = x.indexOf('1'); break;
                                    case 'Martes'   : index = x.indexOf('2'); break;
                                    case 'Miercoles': index = x.indexOf('3'); break;
                                    case 'Jueves'   : index = x.indexOf('4'); break;
                                    case 'Viernes'  : index = x.indexOf('5'); break; 
                                    case 'Sabado'   : index = x.indexOf('6'); break; 
                                    case 'Domingo'  : index = x.indexOf('0'); break;
                                }
                                x = x.substring(0, index) + x.substring(index+2, x.length);   


                                //alert(deshabilitar);
                                datepicker.update({
                                    direction: true,
                                    disabled_dates: ['* * * '+x] 
                                });
                            });        
                        }); */
               /* }*///);
               
                
                {#$('#dgplusbellebundle_cita_fechaCita').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    locale: {
                        format: 'YYYY-MM-DD'
                    },
                });#}
                var seleccionado="";
                //Eliminar options del select de pacientes
               //Eliminar options del select de pacientes
               
               {# $('#dgplusbellebundle_cita_paciente option').each(function(index, val) {
                    
                    seleccionado = $(this).attr('selected');
                    if (!seleccionado){
                        $(this).remove();
                    }
                });#}
                    
                   
                //Eliminar las opciones de la lista creada por el selectBoxIt
                $("#dgplusbellebundle_cita_pacienteSelectBoxItOptions li").remove();
		$('#dgplusbellebundle_cita_empleado').select2();
                $('#dgplusbellebundle_cita_tratamiento').select2();
                $('#dgplusbellebundle_cita_sucursal').select2();
                
                //$('#dgplusbellebundle_cita_horaInicio').ptTimeSelect();


                
                //Cargar los horarios al inicio
                //$('#dgplusbellebundle_cita_empleado').change();
                //Modificar horarios al cmabiar dropdown
              
        
              validarCita(); 
        });
        </script>
{% endblock %}
