

{% block contenido -%}
    
    
       
<div class="panel panel-default">
    <div class="panel-heading"><p>Modificar paciente</p></div>

    {#{{ form(edit_form) }}#}

    <div class="panel-body">
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
        <div class="row">
          <!--    <div class="col-xs-12 col-sm-6">   -->
            {% include 'DGPlusbelleBundle:Persona:form.html.twig' with { 'form': edit_form.persona }%}
        <!--     </div> -->
            <div class="col-md-3">
                {{ form_row(edit_form.dui) }}
            </div>
            <div class="col-md-3">
                {{ form_row(edit_form.estadoCivil) }}
            </div>
            <div class="col-md-3">
            {{ form_row(edit_form.sexo) }}
             </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            {{ form_row(edit_form.ocupacion) }}
             </div>

            <div class="col-md-3">
            {{ form_row(edit_form.lugarTrabajo) }}
            </div>
            <div class="col-md-3">
            {{ form_row(edit_form.fechaNacimiento) }}
            </div>
            <div class="col-md-3">
            {{ form_row(edit_form.referidoPor) }}
             </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            {{ form_row(edit_form.personaEmergencia) }}
            </div>
            <div class="col-md-4">
            {{ form_row(edit_form.telefonoEmergencia) }}
            {# {{ form_row(form.estado) }}#}
            </div>
        </div>
        <div class="form-grouphide col-sm-9"> 
            <a href="{{ path('admin_paciente') }}" class="btn btn-default btn-sm" id="cancelarModificar">Cancelar</a>
                {{ form_widget(edit_form._token) }}
                {{ form_widget(edit_form.submit) }}
        </div>
    </div>
    
        </div>
 

{{ form_end(edit_form) }}  
    
{% endblock %}

{% block jquery %}
 <script>
    $(document).ready(function(){
       //Accion cancelar del boton modificar
        $("#cancelarModificar").click(function(){
            $("#edit-datatables1").click();
            return false;
        });
        
        
        
         // validando campos  
              $('.duiPaciente').mask('00000000-0');  
              $('.telefonoPersona').mask('0000-0000'); 
              $('.telefonoemerPaciente').mask('0000-0000'); 
        
        
         validarPaciente();  
         $('.calZebra').Zebra_DatePicker({
            months:['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            format: 'Y-m-d',
            show_clear_date:false,
            show_select_today: "Hoy",
            
        });
    });
</script>
{% endblock %}

