

{% block contenido -%}
 <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><p>Nuevo paciente</p></div>
  <div class="panel-body">
  {{ form_start(form) }}
    {{ form_errors(form) }}
  
      <!--    <div class="col-xs-12 col-sm-6">   -->
        {% include 'DGPlusbelleBundle:Persona:form.html.twig' with { 'form': form.persona }%}
    <!--     </div> -->
        <div class="col-xs-12 col-sm-1">
        {{ form_row(form.dui) }}
        </div>
        <div class="col-xs-12 col-sm-2">
        {{ form_row(form.estadoCivil) }}
         </div>
        <div class="col-xs-12 col-sm-2">
        {{ form_row(form.sexo) }}
         </div>
        <div class="col-xs-12 col-sm-2">
        {{ form_row(form.ocupacion) }}
         </div>
        <div class="col-xs-12 col-sm-3">
        {{ form_row(form.lugarTrabajo) }}
         </div>
        <div class="col-xs-12 col-sm-2">
        {{ form_row(form.fechaNacimiento) }}
        </div>
        <div class="col-xs-12 col-sm-2">
        {{ form_row(form.referidoPor) }}
         </div>
        <div class="col-xs-12 col-sm-2">
        {{ form_row(form.personaEmergencia) }}
         </div>
        <div class="col-xs-12 col-sm-1">
        {{ form_row(form.telefonoEmergencia) }}
        {# {{ form_row(form.estado) }}#}
        </div>
  
   
             <div class="form-grouphide col-sm-9">
                <a href="{{ path('admin_paciente') }}" class="btn btn-default btn-sm" id="cancelarModificar">Cancelar</a>
                {{ form_widget(form.submit) }}
              </div>
            
   
    {{ form_end(form) }}
  </div>


</div>
    
    
    
{% endblock %}


{% block javascript_step %}
    
    <script>
        
            //Accion cancelar del boton modificar
            $("#cancelarModificar").click(function(){
                $("#edit-datatables1").click();
                return false;
            });
        
    </script>
    
{% endblock %}