{% extends 'DGPlusbelleBundle:Layout:general.html.twig' %}

{% block contenido -%}
    <h1>Devoluciones</h1>
    
     <a href="{{ path('admin_devolucion_new') }}" class="btn btn-success">Registrar devolución</a>

    <table id = "datable" class="table table-bordered table-hover display dt-responsive" style="margin-top: 30px">
        <thead>
            <tr>
              {#  <th>Id</th> #}
                <th>Monto</th>
                <th>Motivo</th>
                <th>Fechadevolucion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
            {#    <td><a href="{{ path('admin_devolucion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td> #}
                <td>{{ entity.monto }}</td>
                <td>{{ entity.motivo }}</td>
                <td>{% if entity.fechaDevolucion %}{{ entity.fechaDevolucion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_devolucion_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_devolucion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
     <script type="text/javascript">
            $(document).ready(function() {
                    $('#datable').DataTable( {
                            "scrollCollapse": true,
                            "paging":         true
                    } );
            } );
    </script>                    
    {% endblock %}
