{% extends 'DGPlusbelleBundle:Layout:layout.html.twig' %}

{% block contenido -%}
    
     
 <!-- ============================================
    MAIN CONTENT SECTION
    =============================================== -->
 


        <div class="content-body">
          <div class="panel" data-fill-color="true">
            <div class="panel-heading">
              <div class="panel-control pull-right">
                <a href="#" class="btn btn-icon" data-toggle="panel-refresh" rel="tooltip" data-placement="bottom" title="refresh"><i class="icon-refresh"></i></a>
                <a href="#" class="btn btn-icon" data-toggle="panel-expand" rel="tooltip" data-placement="bottom" title="expand"><i class="arrow_expand"></i></a>
                <a href="#" class="btn btn-icon" data-toggle="panel-collapse" rel="tooltip" data-placement="bottom" title="collapse"><i class="icon_minus_alt2"></i></a>
              </div>
              <h3 class="panel-title">Devoluciones</h3>
            </div><!-- /.panel-heading -->

            <div class="panel-body">
              <div class="btn-toolbar clearfix" role="toolbar">
               
                <div class="btn-group btn-group-sm pull-left">
                   {#<button data-toggle="tooltip" data-container="body" title="Nueva devolución" id="add-datatables1" class="btn btn-default" role="button">
                        <i class="fa fa-plus"></i>
                    </button> #}
                </div>
                <div class="btn-group btn-group-sm pull-left">
                  {#<button id="edit-datatables1" data-toggle="tooltip" data-container="body" title="Modificar devolución" class="btn btn-default datatables1-actions disabled" role="button">
                    <i class="fa fa-edit"></i>
                  </button>#}
                  {#<button id="delete-datatables1" data-toggle="tooltip" data-container="body" title="delete record(s)" class="btn btn-default datatables1-actions disabled" role="button">
                    <i class="fa fa-trash-o"></i>
                  </button>#}
                </div>
                <div class="btn-group pull-left">
                  <input id="filterDatatables1" class="form-control input-sm" placeholder="Buscar...">
                </div>
              </div><!-- /btn-toolbar -->
            </div><!-- /.panel-body -->

            <div class="panel-body hide" id="addFormContainer">
              {#{% include 'DGPlusbelleBundle:Devolucion:new.html.twig' %}#}
            </div><!-- /.panel-body -->

            <div class="panel-body hide" id="editFormContainer">
          
            </div><!-- /.panel-body -->
    
 
    
<!--     <a href="{{ path('admin_devolucion_new') }}" class="btn btn-success">Registrar devolución</a>  -->

    <table id = "datatables1" class="table table-bordered table-hover display dt-responsive" style="margin-top: 30px">
        <thead>
            <tr>
                <th>N°</th>
                <th>Paciente</th>
                <th>Empleado</th>
                <th style="text-align: right; padding-right: 20px">Monto</th>
                <th>Motivo</th>
                <th><center>Fecha devolucion</center></th>
             {#   <th>Actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for key, entity in entities %}
            <tr id="{{entity.id}}">
                  <td>
                      {#<a class="correlativo" href="{{ path('admin_sucursal_show', { 'id': entity.id }) }}"> #}
                          {{key+1}}
                      {#</a>#}
                  </td>
            {#    <td><a href="{{ path('admin_devolucion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td> #}
                 <td>{{ entity.paciente }}</td>
                <td>{{ entity.empleado }}</td>
                <td style="text-align: right; padding-right: 20px">$ {{ entity.monto |number_format(2, '.', ',')  }}</td>
                <td>{{ entity.motivo }}</td>
                <td><center>{% if entity.fechaDevolucion %}{{ entity.fechaDevolucion|date('d-m-Y') }}{% endif %}</center></td>
             <!--   <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_devolucion_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_devolucion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>  -->
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div><!-- /.panel -->
        
     <!-- Template Setups -->
    {#    <div class="modal fade" id="templateSetup">
          <div class="modal-dialog">
            <!-- modal-content -->
            <div class="modal-content"></div>
          </div><!-- /.modal-dialog -->
        </div><!-- /.templateSetup --> #}

      </div><!-- /.content -->
   



   {% endblock %}
   
   
   
   
   
 
  {% block javascripts_step %}
      
       <script>
            $(document).ready(function(){
                
                //Seleccionar un registro
                $('#datatables1>tbody>tr').on('click', function(event) {
                    //Se limpia los otros que esten activos
                    $('#datatables1>tbody>tr').each(function(index, val) {
                        $(this).removeClass("active");
                    });
                    //Se activa el registro en el que se hizo click
                    $(this).addClass("active");
                    //Se habilitan los botones de editar y borrar
                    $("#edit-datatables1").removeClass("disabled");
                    $("#delete-datatables1").removeClass("disabled");
                    
                    //var link=$('#datatables1>tbody>tr>td>a').attr("href");
                    //var link=$(this).children("td:first").children().attr("href");
                    //Obtener el id del registro
                    var link=$(this).attr("id");
                    //alert(link);
                    //Carga del form modificar
                    $("#editFormContainer").load(link+"/edit");
                    
                    
                    //var href=link.attr("href");
                    //alert(object);
                    
                    
                });
                
                
                $("#add-datatables1").click(function(){
                    if($("#addFormContainer").hasClass("hide")){
                        $("#addFormContainer").removeClass("hide");
                        $("#editFormContainer").addClass("hide");
                    }
                    else{
                        $("#addFormContainer").addClass("hide");
                        limpiarCampos();
                        //$("#editFormContainer").removeClass("hide");
                    }

                });
                
                //Accion cancelar del boton nuevo
                $("#cancelarNuevo").click(function(){
                    $("#add-datatables1").click();
                    limpiarCampos();
                    return false;
                });
                
                //Accion cancelar del boton modificar
                $("#cancelarModificar").click(function(){
                    $("#edit-datatables1").click();
                    return false;
                });
                
                
                $("#edit-datatables1").click(function(){
                    if(!$("#edit-datatables1").hasClass("disabled")){
                        if($("#editFormContainer").hasClass("hide")){
                            $("#addFormContainer").addClass("hide");
                            $("#editFormContainer").removeClass("hide");
                        }
                        else{
                            //$("#addFormContainer").removeClass("hide");
                            $("#editFormContainer").addClass("hide");
                        }
                    }

                });
                /*
                $("#dgplusbellebundle_sucursal_submit").click(function(){
                    $(".icon-refresh").click();
                    return false;
                });
                */
                $('#filterDatatables1').on('keyup', function(event) {
                    var filtro = $(this).val(); 
                    //alert(filtro);
                    $('#datatables1_filter>label>input').val($(this).val());
                    $('#datatables1_filter>label>input').keyup();

                });
                
                
                $('#datatables1').DataTable({ 
                    searching:true,
                    "order":[[0, "desc"],[1,"desc"]],
                    "columnDefs": [
                           { "orderable": false, "targets": 0 },
                           { "orderable": false, "targets": 2 },
                           { "orderable": false, "targets": 3 },
                           { "orderable": false, "targets": 4 },
                           { "orderable": false, "targets": 5 }

                      
                           //{ "orderData": [ 2, 3, 4 ], "targets": 2 }
                    ],
                    "language": {
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "",
                        "emptyTable": "No se encontraron afiliados",
                        "paginate": { 
                            "next": "Siguiente",
                            "previous": "Antetior"
                        },
                        "processing": "Procesando petición...",
                        "search": "Buscar registros:",
                        "lengthMenu": "Mostrar _MENU_ registros"
                    }
                    
        });
                
        //Oculta el filtro de la tabla
        $('#datatables1_filter').hide();
        $('#filterDatatables1').val('');
        
        
        
        
    });//Fin document ready
        
   
        </script>


    {% endblock %} 
  