{% extends 'DGPlusbelleBundle:Layout:layout.html.twig' %}

    
{% block contenido -%}

  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><p>Registar devolución</p></div>
  <div class="panel-body">
  {{ form_start(form) }}
    {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-3">
            {{ form_row(form.empleado) }}
            </div>
            <div class="col-md-3">
            {{ form_row(form.paciente) }}
            </div>
            <div class="col-md-2">
            {{ form_row(form.monto) }}
             </div>
            <div class="col-md-4">
            {{ form_row(form.motivo) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            {{ form_row(form.flagDevolucion) }}
            </div>
            <div id="paquete" style="display:none;">
                <div class="col-md-3">
                {{ form_row(form.ventapaquete) }}
                </div>
            </div>
            <div id="tratamiento" style="display:none;">
                <div class="col-md-3">
                {{ form_row(form.personatratamiento) }}
                </div>
            </div>
        </div>
            <div class="form-grouphide col-sm-9">
                <a href="{{ path('admin_devolucion') }}" class="btn btn-default btn-sm" id="cancelarNuevo">Cancelar</a>
                {{ form_widget(form.submit) }}
            </div>
            
    
    {{ form_end(form) }}
  </div>


</div>        
    
{% endblock %}

{% block javascripts_step %}
       
    <script>
        $(document).ready(function(){

            $('#dgplusbellebundle_devolucion_paciente option').each(function(index, val) {
                    
                    seleccionado = $(this).attr('selected');
                    if (!seleccionado){
                        $(this).remove();
                    }
            });  

            $(document).on("click","#dgplusbellebundle_devolucion_flagDevolucion_0", function(){
                $("#paquete").show();
                $("#tratamiento").hide();
            });
            
            $(document).on("click","#dgplusbellebundle_devolucion_flagDevolucion_1", function(){
                $("#tratamiento").show();
                $("#paquete").hide(); 
            });
            
            if($('#dgplusbellebundle_devolucion_flagDevolucion_0').is(':checked')){
                $('#dgplusbellebundle_devolucion_flagDevolucion_0').click();
                $('#dgplusbellebundle_devolucion_flagDevolucion_0').parent().click();
            }
            else{
                $('#dgplusbellebundle_devolucion_flagDevolucion_1').click();
                $('#dgplusbellebundle_devolucion_flagDevolucion_1').parent().click();
            }

        });//Fin document ready

    </script>

{% endblock %} 