

{% block contenido -%}

  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><p>Registar devolución</p></div>
  <div class="panel-body">
  {{ form_start(form) }}
    {{ form_errors(form) }}
   
        <div class="col-xs-12 col-sm-2">
        {{ form_row(form.empleado) }}
        </div>
        <div class="col-xs-12 col-sm-2">
        {{ form_row(form.paciente) }}
        </div>
        <div class="col-xs-12 col-sm-1">
        {{ form_row(form.monto) }}
         </div>
        <div class="col-xs-12 col-sm-6">
        {{ form_row(form.motivo) }}
        </div>
   
  
             <div class="form-grouphide col-sm-9">
                <a href="{{ path('admin_devolucion') }}" class="btn btn-default btn-sm" id="cancelarNuevo">Cancelar</a>
                {{ form_widget(form.submit) }}
              </div>
            
    
    {{ form_end(form) }}
  </div>


</div>        
    
{% endblock %}
