{% extends 'DGPlusbelleBundle:Layout:layout.html.twig' %}

{% block contenido -%}
    <div class="panel panel-default">
        <div class="panel-heading"><p>Registrar nueva venta de paquete</p></div>
        <div class="panel-body">
            {# {{ form(form) }} #}
            {{ form_start(form) }}
            {{ form_errors(form) }}
           
	        <div class="col-md-4" >
                    {{ form_row(form.paciente)}}
                </div>
                <div class="col-md-4" >
                    {{ form_row(form.empleado)}}
		</div>
                <div class="col-md-4" >
                    {{ form_row(form.paquete)}}
		</div>	

           
	        {#<div class="form-group col-md-2" >
                  {{ form_row(form.fechaVenta)}} 
                </div>  #}
                
                <div class="form-group col-md-2" >
                  {{ form_row(form.cuotas)}} 
                </div>
                
                
                <div class="form-group col-md-3" >
                  {{ form_row(form.descuento)}} 
                </div>  
                <div class="form-group col-md-3" >
                  {{ form_row(form.sucursal)}} 
                </div>  
                <div class="clearfix"></div>
        <div class="row">
            <div class="form-group col-md-3" >          
                <div class="form-grouphide col-md-12"> 
                    <a href="{{path('admin_paciente')}}" class="btn btn-default btn-sm" id="cancelarNuevo">Cancelar</a>
                    {{ form_widget(form.submit) }}
                </div>
            </div>
            </div>
            {{ form_widget(form._token) }}
    </div>  
            {{ form_end(form) }}    
{% endblock %}


{% block javascripts_step %}
    <script type="text/javascript" src="{{ asset('Resources/zebra/inicializacioncalendarios.js')}}" ></script>
    <script src="{{ asset('Resources/js/VentaPaquete.js') }}"></script>     
        <script>
            $(document).ready(function(){
                
                
                
                var seleccionado="";
                //Eliminar options del select de pacientes
                {#$('#dgplusbellebundle_ventapaquete_paciente option').each(function(index, val) {
                    
                    seleccionado = $(this).attr('selected');
                    if (!seleccionado){
                        $(this).remove();
                    }
                });#}
                        
                $('#dgplusbellebundle_ventapaquete_paciente').select2(); 
                $('#dgplusbellebundle_ventapaquete_empleado').select2();  
                $('#dgplusbellebundle_ventapaquete_descuento').select2();  
                $('#dgplusbellebundle_ventapaquete_sucursal').select2();  
                $('#dgplusbellebundle_ventapaquete_paquete').select2();
                //Eliminar las opciones de la lista creada por el selectBoxIt
                $("#dgplusbellebundle_ventapaquete_pacienteSelectBoxItOptions li").remove();
                //$('#dgplusbellebundle_cita_empleado').select2();
                
                //$('#dgplusbellebundle_cita_horaInicio').ptTimeSelect();
                
                $(document).on("change","#dgplusbellebundle_ventapaquete_cuotas",function(){
                    //alert("prueba");
                    if($(this).val()<=0){
                        $(this).val('1');
                    }
                    if($(this).val()>3){
                        $(this).val('3');
                    }
                    
                });
                
                if($('#dgplusbellebundle_ventapaquete_cuotas').val()==""){
                    $('#dgplusbellebundle_ventapaquete_cuotas').val("1");
                }
                
                
                
                validarVentaPaquete(); 
            });
        </script>
{% endblock %}
