{% block contenido -%}
    <div class="panel panel-default">
        <div class="panel-heading"><p>Registrar nueva venta</p></div>
        <div class="panel-body">
            {# {{ form(form) }} #}
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
        
	        <div class="col-md-6" >
                    {{ form_row(form.paciente)}}
                </div>
                <div class="col-md-6" >
                    {{ form_row(form.empleado)}}
		</div>
                <div class="col-md-6" >
                    {{ form_row(form.paquete)}}
		</div>			
		<div class="form-group col-md-6" >
                    {{ form_row(form.fechaVenta)}}
                </div>
            </div>
            <div class="form-grouphide"> 
                <a href="{{ path('admin_sucursal') }}" class="btn btn-default btn-sm" id="cancelarNuevo">Cancelar</a>
                {{ form_widget(form.submit) }}
            </div>
        </div>
            {{ form_widget(form._token) }}
    </div>  
            {{ form_end(form) }}    
{% endblock %}

