{% extends 'DGPlusbelleBundle:Layout:layout.html.twig' %}

{% block contenido -%}
    <div class="panel panel-default">
        <div class="panel-heading"><p>Editar venta de tratamiento</p></div>
        <div class="panel-body">
            {# {{ form(form) }} #}
            {{ form_start(edit_form) }}
            {{ form_errors(edit_form) }}
            <div class="row">
        
	        <div class="col-md-3" >
                    {{ form_row(edit_form.paciente)}}
                </div>
                <div class="col-md-3" >
                    {{ form_row(edit_form.empleado)}}
		</div>
                <div class="col-md-4" >
                    {{ form_row(edit_form.tratamiento)}}
		</div>			
                <div class="col-md-2" >
                  {{ form_row(edit_form.numSesiones)}} 
                </div>  

            </div>
            <div class="row">
                <div class="col-md-2" >
                  {{ form_row(edit_form.costoConsulta)}} 
                </div>  

                <div class="col-md-1" >
                  {{ form_row(edit_form.cuotas)}} 
                </div> 

                <div class="col-md-3" >
                  {{ form_row(edit_form.descuento)}} 
                </div> 
                <div class="col-md-3" >
                  {{ form_row(edit_form.sucursal)}} 
                </div> 
                
                
                {#<div class="col-md-3" >

                <div class="col-md-2" >

                  {{ form_row(form.fechaVenta)}} 
                </div>  #}
            </div>
            <div class="form-grouphide md-12"> 
{#                <a href="{{path('admin_paciente')}}" class="btn btn-default btn-sm" id="cancelarNuevo">Cancelar</a>#}
	            <a href="{{ path('admin_historial_consulta',{'id':id})}}" class="btn btn-default btn-sm" id="cancelarModificar">Cancelar</a>
                {{ form_widget(edit_form.submit) }}
            </div>
        </div>
            {{ form_widget(edit_form._token) }}
    </div>  
            {{ form_end(edit_form) }}    
{% endblock %}

{% block javascripts_step %}
      <script type="text/javascript" src="{{ asset('Resources/zebra/inicializacioncalendarios.js')}}" ></script>    
      <script src="{{ asset('Resources/js/TratamientoPaciente.js') }}"></script>  
      
       <script>
            $(document).ready(function(){
            var seleccionado="";
                //Eliminar options del select de usuario
                $('#dgplusbellebundle_personatratamiento_paciente option').each(function(index, val) {
                    
                    seleccionado = $(this).attr('selected');
                    if (!seleccionado){
                        $(this).remove();
                    }
                });  
                
            //El numero de sesiones sea mayor o igual a cero. No despliegue valores negativos  en lista 
            $(document).on("change","#dgplusbellebundle_personatratamiento_numSesiones",function(){
                    //alert("prueba");
                    if($(this).val()==0 || $(this).val()<=0){
                        $(this).val('1');
                    }
            });
                
                
                 //alert("prueba");
                $(document).on("change","#dgplusbellebundle_personatratamiento_cuotas",function(){
                    //alert("prueba");
                    if($(this).val()==0 || $(this).val()<=0){
                        $(this).val('1');
                    }
                    if($(this).val()>3){
                        $(this).val('3');
                    }

                });
           
                
        validarTratamientoPaciente();            
                
          });//Fin document ready
      </script>      
 {% endblock %}    