{% block contenido -%}
    {% if ingresos %}      
        <div class="row pull-right col-md-4">
            <table class="table table-hover">
                <tr>
                    <th>
                        <b>
                            Paquete
                        </b>
                    </th>
                    <th style="text-align: right">
                        <b>
                            Ingresos ($)
                        </b>
                    </th>

                </tr>
                {% for key, ingreso in ingresos  %}
                    <tr>
                        <td>
                            {{ingresos[key]['paquete']}}
                        </td>
                        <td style="text-align: right">
                            {{ingresos[key]['total']|number_format(2, '.', ',')}}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                        <b>Total</b>
                    </td>
                    <td style="text-align: right">
                        <b>{{granTotal|number_format(2, '.', ',')}}</b>
                    </td>
                </tr>
            </table>
        </div>  
    {% endif %}
{% endblock %}

  {% block javascripts_step %}
      
        
          
       <script>
    $(document).ready(function(){
                
        {% if ingresos %}
                $('canvas').remove();
                
                var data = {
                labels: [
                        {% for key, ingreso in ingresos %}
                            "{{ingresos[key]['paquete']}}",
                        {% endfor %}
                ],
                datasets: [
                    {
                        label: "My Second dataset",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: [
                                {% for key, ingreso in ingresos %}
                                    {{ingresos[key]['total']|number_format(2, '.', ',')}},
                                                
                                {% endfor %}
                        ],
                    }
                ]
            };
            $('#contenedorGrafico').append('<canvas id="myChart" width="600%" height="300%"><canvas>');
            var ctx = $("#myChart").get(0).getContext("2d");
            var myLineChart = new Chart(ctx).Line(data);
            
        {% else %}
            bootbox.alert("No hay datos para ese intervalo", function() {});
            $('canvas').remove();
        {% endif %}
                
    });//Fin document ready
        </script>

    {% endblock %} 
