<html>
    <head>
 
            {% block head %}
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                    {% block title -%}<title>:{% block titlename -%}::: SEPES S.A. de C.V. :::{% endblock %}</title>{% endblock %}
                      <meta name="robots" content="noindex">
                      
                        {% block css %}
                            
                            <link rel="stylesheet" href="{{ asset('Resources/src/css/bootstrap.min.css')}}" >
                            <link href="{{ asset('Resources/src/css/style.css')}}" rel="stylesheet">
                            <link rel="stylesheet" href="{{ asset('Resources/fontawesome/css/font-awesome.min.css') }}">
                            <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
                            <link rel="stylesheet" href="{{ asset('Resources/Zebra/css/bootstrap.css') }}">
                            <link rel="stylesheet" href="{{ asset('Resources/fullcalendar/css/fullcalendar.print.css') }}" media="print"/>
                            <link rel="stylesheet" href="{{ asset('Resources/bValidator-0.73/themes/bvalidator.theme.bootstrap.rt.css') }}" />
                            
                            
                            <style>
                                .colorAnclas{
                                    color: black;
                                    
                                }
                                .link_expediente,.infoPaciente,.link{
                                    color:#666666;
                                }
                                
                                .select2-selection__choice__remove {
                                    display: none !important;
                                }

                                .select2-container--focus .select2-autocomplete .select2-selection__choice {
                                    display: none;
                                }
                            </style>
                            
                            
                            
                        {% endblock css%}
                        {% block js %}
                            <script type="text/javascript" src="{{ asset('Resources/jquery/jquery-1.12.3.min.js') }}"></script>
                            
                            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
                            
                            <link rel="shortcut icon" href="{{ asset('Resources/imagenes/favicon.png')}}" type="image/x-icon">
                            <link rel="icon" href="{{ asset('Resources/imagenes/favicon.png')}}" type="image/x-icon">
       {#                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>#}
                            
                        
                        {% endblock %}


                    <!-- icheck-->
                    
            {% endblock %}
    
    </head>
    <body>
 {% block body %}
        
        <!-- Barra de Navegacion con Breadcrumb -->
        {% include 'DGPlusbelleBundle:Layout:nav2.html.twig' %}
	<!-- Fin de Barra de Navegacion -->
        
        
        
  <!-- Template -->
<div class="container">
            {% block descripcion_y_acciones %}
                <div class="row">
                    {% block descripcion %}

                    {% endblock %}
                    {% block acciones %}

                    {% endblock acciones %}
                </div>



            {% endblock %}	
            <div class="clearfix"></div>
            {% block navegacion_Y_body %}
                <div class="row">
                    <div class="col-md-2">
                    {% block navegacion %}

{#                            {% include 'DGPlusbelleBundle:Layout:sidebar.html.twig'%}#}


                    {% endblock %}
                    </div>
                <div class="col-md-12">
                    {% block contenido %}

                    {% endblock contenido %}
                </div>
                </div>
            {% endblock %}	

        
        
	
</div>
 
 {% endblock %}
  {%block js_template %}
                <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                
                <!-- Include all compiled plugins (below), or include individual files as needed -->
                
                <script src="{{ asset('Resources/src/js/shortcut.js')}}"></script> <!-- http://www.openjs.com/scripts/events/keyboard_shortcuts/v1.php -->
                
                <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.css" rel="stylesheet"/>
                <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
                
                <script src="{{ asset('Resources/src/js/bootstrap.js')}}"></script>
                <script type="text/javascript">
                        $( document ).ready(function() {
                            $(document).on('change','#busquedaRapida',function(){
                                var expediente = $(this).val();
                                var url = "{{path('admin_consulta_expediente_sd')}}"+"?id="+expediente;
                                console.log(url);
                                window.location=url;
                            });

                            $('#busquedaRapida').select2({
                                ajax: {
                                    url: "{{path('busqueda_paciente_select')}}",
                                    dataType: 'json',
                                    delay: 250,
                                    data: function (params) {
                                      return {
                                        q: params.term, 
                                        page: params.page
                                      };
                                    },
                                    processResults: function (data, params) {
                                        var select2Data = $.map(data.data, function (obj) {
                                            obj.id = obj.numero;
                                            obj.text = obj.numero+" "+obj.nombres+" "+obj.apellidos;

                                            return obj;
                                        });

                                        return {
                                            results: select2Data
                                            
                                                    };
                                    },
                                    cache: true
                                },
                                escapeMarkup: function (markup) { return markup; }, 
                                minimumInputLength: 1,
                                templateResult: formatRepo, 
                                templateSelection: formatRepoSelection 
                            });

                            
                            function formatRepo (data) {
                                if(data.numero){
                                    var markup = "<div class='select2-result-repository clearfix'>" +
                                                 "<div class='select2-result-repository__meta'>" +
                                                 "<div class='select2-result-repository__title'>" + data.numero+" | "+data.nombres+" "+data.apellidos+"</div>" +
                                                 "</div></div>";
                                } else {
                                    var markup = "Realice una búsqueda (Ctrl+g)";
                                }


                                

                                return markup;
                            }

                            function formatRepoSelection (data) {
                                if(data.numero){
                                    return data.numero+" | "+data.nombres+" "+data.apellidos;
                                } else {
                                    return "Realice una búsqueda (Ctrl+g)"; 
                                }    
                            }
                            
                            shortcut.add("Ctrl+g",function() {
                                {#busqueda.click();
                                console.log('click');#}
                                $("#busquedaRapida").select2('destroy');
                                var busqueda = $('#busquedaRapida').select2({
                                    
                                    ajax: {
                                        url: "{{path('busqueda_paciente_select_exp')}}",
                                        dataType: 'json',
                                        delay: 250,
                                        data: function (params) {
                                            return {
                                              q: params.term, 
                                              page: params.page
                                            };
                                        },
                                        processResults: function (data, params) {
                                            var select2Data = $.map(data.data, function (obj) {
                                                obj.id = obj.numero;
                                                obj.text = obj.numero+" "+obj.nombres+" "+obj.apellidos;

                                                return obj;
                                            });

                                            return {
                                                results: select2Data
                                                {#pagination: {
                                                    more: (params.page * 30) < data.total_count
                                                }#}
                                            };
                                        },
                                        cache: true
                                    },
                                    escapeMarkup: function (markup) { return markup; }, 
                                    minimumInputLength: 1,
                                    templateResult: formatRepo, 
                                    templateSelection: formatRepoSelection 
                                });
                                $("#busquedaRapida").select2('open');
                            });
                            
                        });
                </script> {#
                <script type="text/javascript">
                $(function () {
                    var options = {
                    };
                    $('.grid-stack').gridstack(options);
                });
                
                </script>#}
                {#<script>
                    window.onbeforeunload = function (event) {
                        var message = 'Important: Please click on \'Save\' button to leave this page.';
                        if (typeof event == 'undefined') {
                            event = window.event;
                        }
                        if (event) {
                            event.returnValue = message;
                        }
                        return message;
                    };

                    $(function () {
                        $("a").not('#lnkLogOut').click(function () {
                            window.onbeforeunload = null;
                        });
                        $(".btn").click(function () {
                            window.onbeforeunload = null;
                    });
                    });
                </script>#}
                {% block js_extend %}
                    
                    
                {% endblock %}
                {% block javascripts_step %}
                    
                    
                {% endblock %}
                
                
            {% endblock %}
 

    </body>
</html>
