<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
    {%block head -%} 
        {% block title -%}<title>:{% block titlename -%}::: La Plus Belle :::{% endblock %}</title>{% endblock %}

        {% block meta -%}
            <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
            <meta content="utf-8" http-equiv="encoding">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes">
            
            <!-- favicon.ico and apple-touch-icon.png -->
            <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('Resources/wrapkit/images/favicons/apple-touch-icon-57x57.png') }}">
            <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('Resources/wrapkit/images/favicons/apple-touch-icon-60x60.png') }}">
            <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('Resources/wrapkit/images/favicons/apple-touch-icon-72x72.png') }}">
            <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('Resources/wrapkit/images/favicons/apple-touch-icon-76x76.png') }}">
            <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('Resources/wrapkit/images/favicons/apple-touch-icon-114x114.png') }}">
            <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('Resources/wrapkit/images/favicons/apple-touch-icon-120x120.png') }}">
            <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('Resources/wrapkit/images/favicons/apple-touch-icon-144x144.png') }}">
            <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('Resources/wrapkit/images/favicons/apple-touch-icon-152x152.png') }}">
            <link rel="icon" type="image/png" href="{{ asset('Resources/wrapkit/images/favicons/favicon-32x32.png') }}" sizes="32x32">
            <link rel="icon" type="image/png" href="{{ asset('Resources/wrapkit/images/favicons/favicon-96x96.png') }}" sizes="96x96">
            <link rel="icon" type="image/png" href="{{ asset('Resources/wrapkit/images/favicons/favicon-16x16.png') }}" sizes="16x16">
            <link rel="manifest" href="{{ asset('Resources/wrapkit/images/favicons/manifest.json') }}">
            <meta name="msapplication-TileColor" content="#2d89ef">
            <meta name="msapplication-TileImage" content="{{ asset('Resources/wrapkit/images/favicons/mstile-144x144.png') }}">
            <meta name="theme-color" content="#ffffff">
        {% endblock %}
        
        {% block css -%}
            <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{{ asset('Resources/wrapkit/styles/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('Resources/wrapkit/styles/dependencies.css') }}">
            <link rel="stylesheet" href="{{ asset('Resources/wrapkit/styles/components.css') }}">
            <link rel="stylesheet" href="{{ asset('Resources/wrapkit/styles/wrapkit.css') }}">
            <link rel="stylesheet" href="{{ asset('Resources/wrapkit/styles/demo.css') }}">
        {%- endblock %}
        {#{% block js -%}
            <script type="text/javascript" src="{{ asset('Resources/bootstrap-3/js/jquery.min.js') }}"></script>  
            <script type="text/javascript" src="{{ asset('Resources/bootstrap-3/js/bootstrap.js') }}"></script>  
        {%- endblock %}#}
        {% block jquery -%}
        {% endblock %}  
        {% endblock %}
    </head>
    <body {% block htmlbody %}{% endblock %}>
        {% block body -%}
            
            <main class="wrapkit-wrapper" id="wrapper">
                {% block bodycontenido -%}
                    <!-- ============================================
                    HEADER SECTION
                    =============================================== -->
                    {% block navigation -%}
                        <nav class="header navbar">
                            <div class="container-fluid">
                              <!-- use .pull-*, couse we need this float on any screen size -->
                              <div class="pull-left">
                                <a class="navbar-brand" href="" role="logo" aria-label="Logo">
                                  <img class="logo" src="{{ asset('Resources/wrapkit/images/logo/brand-text-dark.png') }}" alt="Brand">
                                </a>
                                <button data-sidebar="toggleVisible" class="btn btn-icon navbar-btn">
                                  <i class="fa fa-bars"></i>
                                  <i class="fa fa-caret-down"></i>
                                </button>
                              </div>

                                <!-- use .pull-*, couse we need this float on any screen size -->
                                <div class="pull-right" role="navigation">
                                  <a aria-label="Search" id="brandSearchNav" class="btn btn-icon navbar-btn" href="#"><i class="fa fa-search"></i></a>

                                  <div class="dropdown-ext">
                                    <a aria-label="notifications" class="btn btn-icon navbar-btn dropdown-toggle" data-toggle="dropdown" href="#">
                                      <i class="fa fa-inbox"></i>
                                      <span class="dotted dotted-danger"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-ext dropdown-menu-right" role="menu">
                                      <div class="dd-head">
                                        <div class="dd-head-actions">
                                          <a href="#" class="btn btn-xs btn-default">Compose</a>
                                        </div>
                                        <p><a href="#">Inbox (2)</a></p>
                                      </div>
                                      <div class="dd-body">
                                        <ul class="media-list">
                                          <li class="media unread">
                                            <a href="#">
                                              <div class="media-left">
                                                <img class="media-object img-circle" width="32" src="{{ asset('Resources/wrapkit/images/dummy/profile.jpg') }}" alt="user">
                                              </div>
                                              <div class="media-body">
                                                <p class="pull-right"><small>6m</small></p>
                                                <h4 class="media-heading body-text">Stilearning</h4>
                                                <p>Newest Themes & Templates - Et est, sed mattis, donec hac</p>
                                              </div>
                                            </a>
                                            <span class="dd-actions">
                                              <a href="#" title="mark as read" data-toggle="tooltip" data-container="body" data-placement="bottom"><i class="fa fa-circle-o"></i></a>
                                            </span>
                                          </li>
                                          <li class="media">
                                            <a href="#">
                                              <div class="media-left">
                                                <img class="media-object img-circle" width="32" src="{{ asset('Resources/wrapkit/images/dummy/uifaces7.jpg') }}" alt="user">
                                              </div>
                                              <div class="media-body">
                                                <p class="pull-right"><small>Today, 03:11am</small></p>
                                                <h4 class="media-heading body-text">Eugene Barnett</h4>
                                                <p>Service Update: added support for Angular - Sed ultricies nibh, in feugiat</p>
                                              </div>
                                            </a>
                                            <span class="dd-actions">
                                              <a href="#" title="mark as unread" data-toggle="tooltip" data-container="body" data-placement="bottom"><i class="fa fa-circle"></i></a>
                                            </span>
                                          </li>
                                          <li class="media">
                                            <a href="#">
                                              <div class="media-left">
                                                <img class="media-object img-circle" width="32" src="{{ asset('Resources/wrapkit/images/dummy/uifaces4.jpg') }}" alt="user">
                                              </div>
                                              <div class="media-body">
                                                <p class="pull-right"><small>Today, 02:47am</small></p>
                                                <h4 class="media-heading body-text">bent10@stilearning.com</h4>
                                                <p>Spread the Word & Earn! - Dapibus nec. Integer sed purus</p>
                                              </div>
                                            </a>
                                            <span class="dd-actions">
                                              <a href="#" title="mark as unread" data-toggle="tooltip" data-container="body" data-placement="bottom"><i class="fa fa-circle"></i></a>
                                            </span>
                                          </li>
                                          <li class="media unread">
                                            <a href="#">
                                              <div class="media-left">
                                                <img class="media-object img-circle" width="32" src="{{ asset('Resources/wrapkit/images/dummy/uifaces3.jpg') }}" alt="user">
                                              </div>
                                              <div class="media-body">
                                                <p class="pull-right"><small>Yesterday, 11:41pm</small></p>
                                                <h4 class="media-heading body-text">David Lloyd</h4>
                                                <p>Say thanks for your awesome works! - Viverra fermentum ac. Litora mauris elit</p>
                                              </div>
                                            </a>
                                            <span class="dd-actions">
                                              <a href="#" title="mark as read" data-toggle="tooltip" data-container="body" data-placement="bottom"><i class="fa fa-circle"></i></a>
                                            </span>
                                          </li>
                                          <li class="media">
                                            <a href="#">
                                              <div class="media-left">
                                                <img class="media-object img-circle" width="32" src="{{ asset('Resources/wrapkit/images/dummy/unknown-profile.jpg') }}" alt="user">
                                              </div>
                                              <div class="media-body">
                                                <p class="pull-right"><small>Yesterday, 10:04pm</small></p>
                                                <h4 class="media-heading body-text">Dribbble</h4>
                                                <p>Design brief from Apple - Quis in nonummy. Ut augue, proident habitant</p>
                                              </div>
                                            </a>
                                            <span class="dd-actions">
                                              <a href="#" title="mark as unread" data-toggle="tooltip" data-container="body" data-placement="bottom"><i class="fa fa-circle-o"></i></a>
                                            </span>
                                          </li>
                                          <li class="media">
                                            <a href="#">
                                              <div class="media-left">
                                                <img class="media-object img-circle" width="32" src="{{ asset('Resources/wrapkit/images/dummy/uifaces16.jpg') }}" alt="user">
                                              </div>
                                              <div class="media-body">
                                                <p class="pull-right"><small>Yesterday, 08:55pm</small></p>
                                                <h4 class="media-heading body-text">Olivia Gonzales</h4>
                                                <p>Updating some of the designs! - Commodo non ac, sem netus adipiscing</p>
                                              </div>
                                            </a>
                                            <span class="dd-actions">
                                              <a href="#" title="mark as unread" data-toggle="tooltip" data-container="body" data-placement="bottom"><i class="fa fa-circle"></i></a>
                                            </span>
                                          </li>
                                          <li class="media">
                                            <a href="#">
                                              <div class="media-left">
                                                <img class="media-object img-circle" width="32" src="{{ asset('Resources/wrapkit/images/dummy/uifaces20.jpg') }}" alt="user">
                                              </div>
                                              <div class="media-body">
                                                <p class="pull-right"><small>Yesterday, 03:57pm</small></p>
                                                <h4 class="media-heading body-text">Marco Auer</h4>
                                                <p>Request custom designs! - Adipiscing pellentesque cum, proin luctus</p>
                                              </div>
                                            </a>
                                            <span class="dd-actions">
                                              <a href="#" title="mark as unread" data-toggle="tooltip" data-container="body" data-placement="bottom"><i class="fa fa-circle"></i></a>
                                            </span>
                                          </li>
                                        </ul>
                                      </div><!-- /.dd-body -->
                                    </div><!-- /.dropdown-menu -->
                                  </div><!-- /.dropdown -->

                                  <div class="dropdown">
                                    <a aria-label="More" class="btn btn-icon navbar-btn dropdown-toggle" data-toggle="dropdown" href="#">
                                      <i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                      <li role="presentation"><a role="menuitem" tabindex="-1" href="page-profile.html"><span class="pull-right"><i class="fa fa-user text-muted"></i></span>Perfil</a></li>
                                      {#<li role="presentation"><a role="menuitem" tabindex="-1" href="page-timeline.html"><span class="pull-right"><i class="fa fa-clock-o text-muted"></i></span>Timeline</a></li>#}
                                      <li class="divider"></li>
                                      <li role="presentation"><a role="menuitem" tabindex="-1" href="page-help.html"><span class="pull-right"><i class="fa fa-question-circle text-muted"></i></span>Ayuda</a></li>
                                      <li class="divider"></li>
                                      <li role="presentation"><a role="menuitem" tabindex="-1" href="page-locked.html"><span class="pull-right"><i class="fa fa-lock text-muted"></i></span>Locked</a></li>
                                      <li role="presentation"><a role="menuitem" tabindex="-1" href="{{path('plusbelle_logout')}}"><span class="pull-right"><i class="fa fa-sign-out text-muted"></i></span> Cerrar sesión</a></li>
                                    </ul>
                                  </div><!-- /.dropdown -->
                                </div><!-- /navigation -->

                                <div class="brand-search" id="brandSearchFrm">
                                  <form action="#" role="search">
                                    <a href="#" class="search-close">&times;</a>
                                    <input class="search-field" placeholder="Search for everything you want..." tabindex="-1">
                                  </form>
                                </div><!-- /.brand-search -->
                            </div><!-- /.container-fluid -->
                        </nav><!-- /navigation -->
                    {% endblock %}
                    {% block sidebar %}
                        <!-- ============================================
                        SIDEBAR SECTION
                        =============================================== -->
                        <aside class="sidebar" role="complementary">

                        <!-- profile -->
                        <div class="sidebar-block">
                          <div class="media">
                            <div class="media-left">
                              <a href="page-profile.html">
                                <span class="status dotted dotted-primary" data-toggle="tooltip" data-container="body" title="available"></span>
                                <img class="media-object img-circle" src="{{ asset('Resources/wrapkit/images/dummy/uifaces14.jpg') }}" alt="photo profile">
                              </a>
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading">Marvin Vigil</h4>
                              <p class="text-muted">
                                <small>Graphic Designer</small>
                              </p>
                            </div>
                          </div>
                        </div><!-- /.sidebar-block -->
                        <!-- /profile -->

                        <!-- /navigation -->
                        <div class="nav-wrapper">
                          <ul class="nav nav-stacked" role="navigation">
                            <li class="nav-item" role="presentation">
                              <a href="layout.html">
                                <span class="nav-icon"><i class="fa fa-object-group"></i></span>
                                <span class="nav-text">Dashboard</span>
                              </a>
                            </li>

                            <li class="divider"></li>
                            <li class="nav-header" role="presentation">ACCESO RAPIDO</li>
                            <li class="nav-item" role="presentation">
                              <a href="{{path('admin_ventapaquete_new')}}">
                                <span class="nav-icon"><i class="fa fa-object-group"></i></span>
                                <span class="nav-text">Venta de paquete a paciente</span>
                              </a>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a href="ecosystem.html">
                                <span class="nav-icon"><i class="fa fa-cubes"></i></span>
                                <span class="nav-text">Ecosystem</span>
                              </a>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a href="panels.html">
                                <span class="nav-icon"><i class="fa fa-puzzle-piece"></i></span>
                                <span class="nav-text">Panels</span>
                              </a>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a href="#" data-toggle="nav-child">
                                <span class="nav-icon"><i class="fa fa-align-left"></i></span>
                                <span class="nav-text">Level Menu</span>
                              </a>
                              <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="nav-text">Lorem ipsum</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="nav-text">Dolor sit</span></a></li>
                                <li role="presentation">
                                  <a role="menuitem" tabindex="-1" data-toggle="nav-child" href="#"><span class="nav-text">Node</span></a>
                                  <ul class="nav nav-child level-2 nav-stacked nav-pills" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="nav-text">Consectetur</span></a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="nav-text">Assumenda</span></a></li>
                                  </ul>
                                </li> <!-- /node -->
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="nav-text">Amet</span></a></li>
                              </ul>
                            </li>

                            <li class="divider"></li>
                            <li class="nav-header" role="presentation">MENU</li>
                            <li class="nav-item" role="presentation">
                              <a href="#" data-toggle="nav-child">
                                <span class="nav-icon"><i class="fa fa-briefcase"></i></span>
                                <span class="nav-text">Components</span>
                              </a>
                              <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="component-grid.html"><span class="nav-text">Grids</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="component-type.html"><span class="nav-text">Type</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="component-button.html"><span class="nav-text">Buttons</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="component-icons.html"><span class="nav-text">Icons</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="component-modal.html"><span class="nav-text">Modal</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="component-tooltip-popover.html"><span class="nav-text">Tooltips & Popovers</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="component-alert-callout.html"><span class="nav-text">Alerts & Callout</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="component-progressbar.html"><span class="nav-text">Progress bar</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="component-label-badge.html"><span class="nav-text">Label & Badge</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="component-navbar.html"><span class="nav-text">Navbar</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="component-nav.html"><span class="nav-text">Nav</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="component-tabs-collapse.html"><span class="nav-text">Tabs & Collapse</span></a></li>
                              </ul>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a href="#" data-toggle="nav-child">
                                <span class="nav-icon"><i class="fa fa-check-square"></i></span>
                                <span class="nav-text">Forms</span>
                              </a>
                              <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="frm-basic.html"><span class="nav-text">Basic Elements</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="frm-advance.html"><span class="nav-text">Advance Elements</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="frm-uploader.html"><span class="nav-text">Uploader</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="frm-xeditable.html"><span class="nav-text">x-Editable</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="frm-wizard.html"><span class="nav-text">Wizard</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="frm-editor.html"><span class="nav-text">Editor</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="frm-imagecropping.html"><span class="nav-text">Image Cropping</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="frm-validator.html"><span class="nav-text">Validator</span></a></li>
                              </ul>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a href="#" data-toggle="nav-child">
                                <span class="nav-icon"><i class="fa fa-line-chart"></i></span>
                                <span class="nav-text">Charts</span>
                              </a>
                              <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="chart-js.html"><span class="nav-text">ChartJs</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="chart-morris.html"><span class="nav-text">Morris</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="chart-inline.html"><span class="nav-text">Inline Charts</span></a></li>
                              </ul>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a href="#" data-toggle="nav-child">
                                <span class="nav-icon"><i class="fa fa-database"></i></span>
                                <span class="nav-text">Tables</span>
                              </a>
                              <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="table-basic.html"><span class="nav-text">Basic Table</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="table-datatables.html"><span class="nav-text">DataTables</span></a></li>
                              </ul>
                            </li>

                            <li class="divider"></li>
                            <li class="nav-header" role="presentation">DEVELOPMENT</li>
                            <li class="nav-item" role="presentation">
                              <a href="ui-kits.html">
                                <span class="nav-icon"><i class="fa fa-cube"></i></span>
                                <span class="nav-text">Widgets</span>
                              </a>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a href="#" data-toggle="nav-child">
                                <span class="nav-icon"><i class="fa fa-plug"></i></span>
                                <span class="nav-text">Plugins</span>
                              </a>
                              <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="plugin-animate.html"><span class="nav-text">Animated</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="plugin-bootbox.html"><span class="nav-text">Bootbox</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="plugin-calendar.html"><span class="nav-text">Calendar</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="plugin-maps.html"><span class="nav-text">Maps</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="plugin-nestable.html"><span class="nav-text">Nestable List</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="plugin-session-timeout.html"><span class="nav-text">Session Timeout</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="plugin-toastr.html"><span class="nav-text">Toastr</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="plugin-treeview.html"><span class="nav-text">Tree View</span></a></li>
                              </ul>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a href="#" data-toggle="nav-child">
                                <span class="nav-icon"><i class="fa fa-file-text-o"></i></span>
                                <span class="nav-text">Pages</span>
                              </a>
                              <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="page-signin.html"><span class="nav-text">Signin</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="page-locked.html"><span class="nav-text">Lock Screen</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="page-error.html"><span class="nav-text">Error Page</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="page-profile.html"><span class="nav-text">Profile</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="page-inbox.html"><span class="nav-text">Inbox</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="page-timeline.html"><span class="nav-text">Timeline</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="page-gallery.html"><span class="nav-text">Gallery</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="page-pricing.html"><span class="nav-text">Pricing</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="page-invoice.html"><span class="nav-text">Invoice</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="page-search.html"><span class="nav-text">Search Result</span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="page-help.html"><span class="nav-text">Help</span></a></li>
                              </ul>
                            </li>
                            <li class="collapse-item" role="presentation">
                              <a href="#" data-sidebar="toggleCollapse">
                                <i class="fa fa-angle-double-left"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </aside><!-- /.SIDEBAR -->
                    {% endblock %}
                    
                    <section class="content-wrapper" role="main">
                        <div class="content">
                          <div class="content-bar">
                              <div class="pull-right" role="group">
                                <a data-toggle="modal" href="#" data-scripts="{{ asset('Resources/wrapkit/_includes/setups.js') }}" data-target="#templateSetup" title="Template Setups" aria-label="template setups" class="btn btn-nofill btn-sm btn-default" href="#"><span class="icon-settings fa-lg text-muted"></span></a>
                              </div>
                               {% block bar %}  
                                    <ul class="breadcrumb breadcrumb-angle">
                                        <li><a href="#" aria-label="home"><i class="fa fa-home"></i></a></li>
                                        <li class="active">Dashboard</li>
                                    </ul>
                              {% endblock %}   
                            </div><!-- /.content-bar -->
                        

                          <div class="content-body">
                            {% block contenido %}{% endblock %} 
                         </div><!-- /.content-body -->


                          


                    <!-- Template Setups -->
                    <div class="modal fade" id="templateSetup">
                      <div class="modal-dialog">
                        <!-- modal-content -->
                        <div class="modal-content"></div>
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.templateSetup -->


                  </div><!-- /.content -->
                </section><!-- /MAIN -->
                {% endblock %}
                {% block footer -%} 
                    <footer class="footer-wrapper" role="contentinfo">
                        <div class="footer">
                            <div class="pull-right text-muted"><small>Currently v1.2</small></div>
                            <div>Digitality Garage  &copy; 2015</div>
                        </div>
                   </footer><!-- /.FOOTER -->
                {% endblock %}
            </main>    
        {%- endblock %}  
    </body>
</html>
{% block js -%}
    <!-- VENDORS : jQuery & Bootstrap -->
    <script src="{{ asset('Resources/wrapkit/scripts/vendor.js') }}"></script>
    <!-- END VENDORS -->
    <!-- DEPENDENCIES : Required plugins -->
    <script src="{{ asset('Resources/wrapkit/scripts/dependencies.js') }}"></script>
    <!-- END DEPENDENCIES -->
    <!-- WRAPKIT -->
    <script src="{{ asset('Resources/wrapkit/scripts/wrapkit.js') }}"></script>
    <!-- END WRAPKIT -->
    <!-- WRAPKIT SETUPS -->
    <script src="{{ asset('Resources/wrapkit/scripts/wrapkit-setup.js') }}"></script>
    <!-- end WRAPKIT SETUPS -->
    <!-- PLUGIN SETUPS: vendors & dependencies setups -->
    <script src="{{ asset('Resources/wrapkit/scripts/plugin-setups.js') }}"></script>
    <!-- END PLUGIN SETUPS -->
    
    <!-- COMPONENTS -->
    <script src="{{ asset('Resources/wrapkit/scripts/morris.bundle.js') }}"></script>
    <script src="{{ asset('Resources/wrapkit/scripts/jquery.sparkline.js') }}"></script>
    <script src="{{ asset('Resources/wrapkit/scripts/jquery.tagsinput.js') }}"></script>
    <script src="{{ asset('Resources/wrapkit/scripts/jquery.mask.js') }}"></script>
    <script src="{{ asset('Resources/wrapkit/scripts/select2.js') }}"></script>
    <script src="{{ asset('Resources/wrapkit/scripts/jquery.selectBoxit.js') }}"></script>
    <script src="{{ asset('Resources/wrapkit/scripts/moment.js') }}"></script>
    <script src="{{ asset('Resources/wrapkit/scripts/daterangepicker.js') }}"></script>
    <script src="{{ asset('Resources/wrapkit/scripts/jquery-minicolors.js') }}"></script>
    <script src="{{ asset('Resources/wrapkit/scripts/moment.js') }}"></script>
    <script src="{{ asset('Resources/wrapkit/scripts/fullcalendar.js') }}"></script>
    <script src="{{ asset('Resources/wrapkit/scripts/clndr.js') }}"></script>
    <script src="{{ asset('Resources/wrapkit/scripts/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('Resources/wrapkit/scripts/dataTables.tableTools.js') }}"></script>
    <script src="{{ asset('Resources/wrapkit/scripts/jquery.validate.js') }}"></script>
    <script src="{{ asset('Resources/wrapkit/scripts/bootbox.js') }}"></script>
    <script src="{{ asset('Resources/wrapkit/scripts/toastr.js') }}"></script>
    <script src="{{ asset('Resources/wrapkit/scripts/bootstrap-editable.js') }}"></script>
    <!-- END COMPONENTS -->
{% endblock %}    

{% block javascripts_step %}
    <!-- Google Analytics: change UA-48454066-1 to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-48454066-1');ga('send','pageview');
    </script>
{% endblock %}
