<aside class="sidebar" role="complementary">
<!-- profile -->
<div class="sidebar-block">
  <div class="media">
    <div class="media-left">
      <a href="page-profile.html">
        <span class="status dotted dotted-primary" data-toggle="tooltip" data-container="body" title="available"></span>
        {% block imagenPerfil %}
            <img class="media-object img-circle" src="{{ asset('Photos/Empleado/')}}{{app.user.persona.empleado[0].foto}}" alt="photo profile">
        {% endblock %}
      </a>
    </div>
    {% block perfil %}
        <div class="media-body">
            <h4 class="media-heading">{{app.user.persona.nombres}} {{app.user.persona.apellidos}}</h4>  <!-- nombre de usuario conectado -->
            <p class="text-muted">
                <small>{{app.user.persona.empleado[0].cargo}}</small>
            </p>
        </div>

    {% endblock %}
  </div>
</div><!-- /.sidebar-block -->
<!-- /profile -->

<!-- /navigation -->
<div class="nav-wrapper">
  <ul class="nav nav-stacked" role="navigation">
    <li class="nav-item" role="presentation">
      <a href="{{path('dashboard')}}">
        <span class="nav-icon"><i class="fa fa-object-group"></i></span>
        <span class="nav-text">Dashboard</span>
      </a>
    </li>

    <li class="divider"></li>
    <li class="nav-header" role="presentation">ACCESO RAPIDO</li>
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item" role="presentation">
            <a href="{{path('admin_paciente')}}">
                <span class="nav-icon"><i class="fa fa-money"></i></span>
                <span class="nav-text">Venta de paquetes</span>
            </a>
        </li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item" role="presentation">
            <a href="#">
              <span class="nav-icon"><i class="fa fa-cubes"></i></span>
              <span class="nav-text">Expediente de pacientes</span>
            </a>        
        </li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}        
        <li class="nav-item" role="presentation">    
            <a href="{{path('admin_cita')}}">
              <span class="nav-icon"><i class="fa fa-calendar-check-o"></i></span>
              <span class="nav-text">Calendario de citas</span>
            </a>
        </li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item" role="presentation">
        
            <a href="{{path('admin_paciente')}}">
              <span class="nav-icon"><i class="fa fa-wheelchair"></i></span>
              <span class="nav-text">Consultas de emergencia</span>
            </a>
        </li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item" role="presentation">
            <a href="{{path('admin_paciente')}}">
              <span class="nav-icon"><i class="fa fa-hospital-o"></i></span>
              <span  class="nav-text">Gestión de pacientes</span>
            </a>
        </li>
    {% endif %}
    <li class="divider"></li>
    <li class="nav-header" role="presentation">MENU</li>
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item" role="presentation">
          <a href="#" data-toggle="nav-child">
            <span class="nav-icon"><i class="fa fa-bed"></i></span>
            <span class="nav-text">Pacientes</span>
          </a>
          <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('admin_paciente') }}"><span class="nav-text">Gestionar paciente</span></a></li>
          </ul>
        </li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item" role="presentation">
          <a href="#" data-toggle="nav-child">
            <span class="nav-icon"><i class="fa fa-check-square"></i></span>
            <span class="nav-text">Consultas</span>
          </a>
          <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('admin_tipoconsulta') }}"><span class="nav-text">Nuevo tipo de consulta</span></a></li>
          </ul>
        </li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item" role="presentation">
          <a href="#" data-toggle="nav-child">
            <span class="nav-icon"><i class="fa fa-heartbeat"></i></span>
            <span class="nav-text">Tratamientos</span>
          </a>
          <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('admin_tratamiento') }}"><span class="nav-text">Gestionar tratamiento</span></a></li>
          </ul>
          <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('admin_categoria') }}"><span class="nav-text">Gestionar categoria</span></a></li>
          </ul>
        </li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item" role="presentation">
          <a href="#" data-toggle="nav-child">
            <span class="nav-icon"><i class="fa fa-briefcase"></i></span>
            <span class="nav-text">Paquetes</span>
          </a>
          <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('admin_paquete') }}"><span class="nav-text">Gestionar paquete</span></a></li>
          </ul>
        </li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item" role="presentation">
          <a href="#" data-toggle="nav-child">
            <span class="nav-icon"><i class="fa fa-database"></i></span>
            <span class="nav-text">Inventario</span>
          </a>
          <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('admin_producto') }}"><span class="nav-text">Gestionar productos</span></a></li>
          </ul>
        </li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item" role="presentation">
          <a href="#" data-toggle="nav-child">
            <span class="nav-icon"><i class="fa fa-user-md"></i></span>
            <span class="nav-text">Empleados</span>
          </a>
          <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('admin_empleado') }}"><span class="nav-text">Gestionar empleado</span></a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('admin_empleado_progreso_venta') }}"><span class="nav-text">Progreso de empleado</span></a></li>
          </ul>
        </li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item" role="presentation">
          <a href="#" data-toggle="nav-child">
            <span class="nav-icon"><i class="fa fa-university"></i></span>
            <span class="nav-text">Sucursal</span>
          </a>
          <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('admin_sucursal') }}"><span class="nav-text">Gestionar sucursal</span></a></li>
          </ul>
        </li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}    
        <li class="nav-item" role="presentation">
          <a href="#" data-toggle="nav-child">
            <span class="nav-icon"><i class="fa fa-magic"></i></span>
            <span class="nav-text">Descuento</span>
          </a>
          <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('admin_descuento') }}"><span class="nav-text">Gestionar descuento</span></a></li>
          </ul>
        </li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}    
        <li class="nav-item" role="presentation">
          <a href="#" data-toggle="nav-child">
            <span class="nav-icon"><i class="fa fa-list-ul"></i></span>
            <span class="nav-text">Plantilla</span>
          </a>
          <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('admin_plantilla') }}"><span class="nav-text">Gestionar plantilla</span></a></li>
          </ul>
        </li>
    {% endif %}
    
    {% if is_granted('ROLE_ADMIN') %}    
        <li class="nav-item" role="presentation">
          <a href="#" data-toggle="nav-child">
            <span class="nav-icon"><i class="fa fa-users"></i></span>
            <span class="nav-text">Usuarios</span>
          </a>
          <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('admin_usuario') }}"><span class="nav-text">Gestionar usuarios</span></a></li>
          </ul>
        </li>
    {% endif %}
    
    {% if is_granted('ROLE_ADMIN') %}    
        <li class="nav-item" role="presentation">
          <a href="#" data-toggle="nav-child">
            <span class="nav-icon"><i class="fa fa-exchange"></i></span>
            <span class="nav-text">Roles</span>
          </a>
          <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('admin_rol') }}"><span class="nav-text">Gestionar roles</span></a></li>
          </ul>
        </li>
    {% endif %}
    
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item" role="presentation">
          <a href="#" data-toggle="nav-child">
            <span class="nav-icon"><i class="fa fa-file-text-o"></i></span>
            <span class="nav-text">Reportes</span>
          </a>
          <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('admin_reporte_paquete') }}"><span class="nav-text">Ingresos por paquete</span></a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('admin_reporte_emergencia') }}"><span class="nav-text">Ingresos por consulta emergencia</span></a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('admin_reporte_consolidado_paquete') }}"><span class="nav-text">Consolidado de paquetes</span></a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('admin_reporte_tratamiento_frecuente') }}"><span class="nav-text">Tratamiento mas frecuente en consulta de emergencia</span></a></li>
          </ul>
        </li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <li class="collapse-item" role="presentation">
          <a href="#" data-sidebar="toggleCollapse">
            <i class="fa fa-angle-double-left"></i>
          </a>
        </li>
    {% endif %}
    
  </ul>
</div>
</aside><!-- /.SIDEBAR -->
