

{% block contenido -%}
    
        
       
  <div class="panel panel-default">
    <div class="panel-heading"><p>Modificar Comisión</p></div>

    {#{{ form(edit_form) }}#}

    <div class="panel-body">
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    
     <div class="col-xs-12 col-sm-2">
     {{ form_row(edit_form.empleado) }} 
    </div>
    <div class="col-xs-12 col-sm-5">
     {{ form_row(edit_form.descripcion) }} 
    </div>
     <div class="col-xs-12 col-sm-1">
     {{ form_row(edit_form.porcentaje) }} 
    </div>
     <div class="col-xs-12 col-sm-1">
     {{ form_row(edit_form.meta) }} 
    </div>
    

        <div class="form-grouphide col-sm-9"> 
            <a href="{{ path('admin_comision') }}" class="btn btn-default btn-sm" id="cancelarModificar">Cancelar</a>
                {{ form_widget(edit_form._token) }}
                {{ form_widget(edit_form.submit) }}
        </div>

     </div>
    
{% endblock %}


{% block jquery %}
<script>
    $(document).ready(function(){
    //Accion cancelar del boton modificar
        $("#cancelarModificar").click(function(){
            $("#edit-datatables1").click();
            return false;
        });
        
        
    });
   
</script>
{% endblock %}

