{% extends 'DGPlusbelleBundle:Layout:general.html.twig' %}

{% block contenido -%}
    <h1>Comisiones</h1>

    <table id = "datable" class="table table-bordered table-hover display dt-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>Descripcion</th>
                <th>Porcentaje</th>
                <th>Meta</th>
                <th>Empleado</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_comision_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.porcentaje }}</td>
                <td>{{ entity.meta }}</td>
                <td>{{ entity.empleado }}</td>
                <td>{{ entity.estado }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_comision_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_comision_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('admin_comision_new') }}" class="btn btn-success"> Crear nueva comisión</a>
    
     <script type="text/javascript">
            $(document).ready(function() {
                    $('#datable').DataTable( {
                            "scrollCollapse": true,
                            "paging":         true
                    } );
            } );
    </script>        
    {% endblock %}
