{% extends 'DGPlusbelleBundle:Layout:layout.html.twig' %}
{% block css %}
    {{parent()}}
    <style>
        .detallePaciente, .expedientePaciente{
            cursor: pointer;
            color: #48CFAD;
        }
        .link_{
            cursor:pointer;
        }
    </style>
        <link rel="stylesheet" href="{{asset('Resources/datatables/serversideprocessing.css')}}" />
{% endblock %}


{% block contenido -%}

        
        <div class="content-body">
          <div class="panel" data-fill-color="true">
              
            <div class="panel-heading">
              {#<div class="panel-control pull-right">
                <a href="#" class="btn btn-icon" data-toggle="panel-refresh" rel="tooltip" data-placement="bottom" title="refresh"><i class="icon-refresh"></i></a>
                <a href="#" class="btn btn-icon" data-toggle="panel-expand" rel="tooltip" data-placement="bottom" title="expand"><i class="arrow_expand"></i></a>
                <a href="#" class="btn btn-icon" data-toggle="panel-collapse" rel="tooltip" data-placement="bottom" title="collapse"><i class="icon_minus_alt2"></i></a>
              </div>#}
              <h3 class="panel-title">Expediente</h3>
            </div><!-- /.panel-heading -->
            <div class="content-hero content-hero-lg" style="min-height:140px; display:none;" id="infoExpediente" >
{#            <img class="content-hero-embed" src="{{ asset('Photos/')}}logo-01.png" alt="cover" style="background: #649579;height:200px;">#}
          <div style="height:150px;background: #39a58a; opacity: 1.0" class="content-hero-overlay "></div>
          <div  style="" class="content-hero-body" >
          </div>
          <div class="content-hero-bar" {#style="margin-top:-180px; background-color: red; position: relative;"#}>
            <div class="row" {#style="margin-top:-180px; background-color: red; position: relative;"#}>
              
              <div class="col-lg-6" >
                <div class="float-bar clearfix" >
                  <div class="col-sm-11">
                    <div class="visible-xs">
                      <h2 class="display-name media-heading text-teal"></h2>
{#                      <p class="text-muted mb-4x"><span class="mr-2x">Senior UI Design</span> <span><i class="fa fa-map-marker fa-fw"></i> San Francisco, CA</span></p>#}
                    </div>
                    <div class="hidden-xs">
                      <h2 class="media-heading text-light" id="nombrePaciente">{#{{ paciente.persona.nombres}} {{ paciente.persona.apellidos}}#}</h2>
                        <p class="mb-4x text-light">
                            <span class="mr-1x" id="expediente">
                                <i class="fa fa-clipboard"></i> {#{{ expediente }}#}
                            </span>
                            {#<span class="mr-2x">
                                <i class="fa fa-briefcase"></i>
                                {% if paciente.ocupacion == ""%}
                                    No se ha especificado profesión
                                {% else %}
                                    {{paciente.ocupacion}}
                                {% endif %}
                            </span>#}
                            <span class="mr-1x" id="telefono">
                                <i class="fa fa-phone"></i>
                                {#{% if paciente.persona.telefono== ""%}
                                    No ingresado al sistema
                                {% else %}
                                    {{paciente.persona.telefono}}
                                {% endif %}#}
                            </span>
                            
                            <span class="mr-1x" id="edad">
                                <i class="fa fa-birthday-cake"></i>
                                
                                    {#{{edad}}#}
                            </span>
                            
                            <span class="mr-1x" id="direccion">
                                <i class="fa fa-map-marker fa-fw"></i>
                                
                                {#{% if paciente.persona.direccion == ""%}
                                    No ingresado al sistema
                                {% else %}
                                    {{paciente.persona.direccion}}
                                {% endif %}#}
                            </span>
                                
                        </p>
                    </div>
                    
                  </div><!-- /.media-body -->
                </div><!-- /.float-bar -->
              </div><!-- /.cols -->
              <div class="col-lg-6" >
                  <div class="float-bar clearfix" >
                      <div class="col-sm-11">
                          <p id="total-sesiones" class="mb-4x text-light text-right"></p>
                          <p id="deuda-total" class="mb-4x text-light text-right"></p>
                      </div>
                  </div>
              </div>
              {#<div class="col-lg-6">
                <h4 class="text-muted">Achievement</h4>
                <div class="row">
                  <div class="col-xs-3">
                    <span class="headline"><strong>68</strong></span>
                    <p>Posts</p>
                  </div>
                  <div class="col-xs-3">
                    <span class="headline"><strong>23</strong></span>
                    <p>Projects</p>
                  </div>
                  <div class="col-xs-3">
                    <span class="headline"><strong>1,2K</strong></span>
                    <p>Followers</p>
                  </div>
                  <div class="col-xs-3">
                    <span class="headline"><strong>26K</strong></span>
                    <p>Sales</p>
                  </div>
                </div>
              </div><!-- /.cols -->#}
            </div><!-- /.row -->
          </div><!-- /.content-hero-bar -->
        </div>
            <div class="panel-body">
              <div class="btn-toolbar clearfix" role="toolbar">
               
                {#<div class="btn-group btn-group-sm pull-left">
                    <button data-toggle="tooltip" data-container="body" title="Nuevo paciente" id="add-datatables1" class="btn btn-default" role="button">
                        <i class="icon-user-follow"></i>
                    </button> #}
                    {#<button data-toggle="tooltip" data-container="body" title="Detalles paciente" id="detalle-datatables1" class="btn btn-default disabled" role="button">
                        <i class="fa fa-bars"></i>
                    </button> #}
                {#</div>
                <div class="btn-group btn-group-sm pull-left">
                    <button id="ver-expediente" data-toggle="tooltip" data-container="body" title="Ver expediente" class="btn btn-default datatables1-actions disabled opciones" role="button">
                        <i class="fa fa-book"></i><a href="{{ path('admin_historial_consulta') }}"> </a>
                    </button> 
                </div>#}
                {#<div class="btn-group btn-group-sm pull-left">
                    <button id="nueva-cita" data-toggle="tooltip" data-container="body" title="Nueva cita" class="btn btn-default datatables1-actions {#disabled#} {#opciones" role="button">#}
                      {#  <i class="fa fa-calendar-plus-o"></i><a href="{{ path('admin_cita_new') }}"> </a>
                    </button>
                    <button id="nueva-consulta" data-toggle="tooltip" data-container="body" title="Nueva consulta" class="btn btn-default datatables1-actions disabled opciones" role="button">
                        <i class="fa fa-folder-open"></i><a href="{{ path('admin_consulta_nueva_paciente') }}"> </a>
                    </button>#}
                    {#<button id="nueva-consulta" data-toggle="tooltip" data-container="body" title="Nueva consulta emergencia" class="btn btn-default datatables1-actions disabled opciones" role="button">
                        <i class="fa fa-folder-open"></i><a href="{{ path('admin_consulta_nueva_paciente') }}"> </a>
                    </button>#}
                    {#<button id="nueva-devolucion" data-toggle="tooltip" data-container="body" title="Nueva devolucion" class="btn btn-default datatables1-actions disabled opciones" role="button">
                        <i class="fa fa-money"></i><a href="{{ path('admin_devolucion_new') }}"> </a>
                    </button> 
                    <button id="vender-paquete" data-toggle="tooltip" data-container="body" title="Vender paquete" class="btn btn-default datatables1-actions disabled opciones" role="button">
                        <i class="fa fa-briefcase"></i><a href="{{ path('admin_ventapaquete_new') }}"> </a>
                    </button> 
                    <button id="vender-tratamiento" data-toggle="tooltip" data-container="body" title="Vender tratamiento" class="btn btn-default datatables1-actions disabled opciones" role="button">
                        <i class="fa fa-leanpub"></i><a href="{{ path('admin_personatratamiento_new') }}"> </a>
                    </button> 
                     <button id="nuevo-abono" data-toggle="tooltip" data-container="body" title="Nuevo abono" class="btn btn-default datatables1-actions disabled opciones" role="button">
                        <i class="fa fa-dollar"></i><a href="{{ path('admin_abono_new') }}"> </a>
                    </button> 
                    
                </div>#}
                {#<div class="btn-group btn-group-sm pull-left">
                  <button id="edit-datatables1" data-toggle="tooltip" data-container="body" title="Modificar paciente" class="btn btn-default datatables1-actions disabled" role="button">
                    <i class="fa fa-edit"></i>
                  </button>#}
                  {#<button id="delete-datatables1" data-toggle="tooltip" data-container="body" title="Eliminar registro" class="btn btn-default datatables1-actions disabled" role="button">
                    <i class="fa fa-trash-o"></i>
                  </button>#}
{#                </div>#}
                <div class="btn-group pull-left">
                  <input id="filterDatatables1" class="form-control input-sm" placeholder="Buscar...">
                </div>
                <div class="btn-group pull-right" id="venta" style="display:none;">
                    <a href="{{path('admin_historial_consulta')}}" class="btn btn-success btn-xs btn">Nueva venta</a>
                </div>
                <div class="btn-group pull-right" id="consulta" style="display:none;">
                    <a href="{{path('admin_consulta_nueva_paciente_SD')}}" class="btn btn-success btn-xs btn">Nueva consulta</a>
                </div>
              </div><!-- /btn-toolbar -->
            </div><!-- /.panel-body -->

            
            
            

       
 <!--    <a href="{{ path('admin_paciente_new') }}" class="btn btn-success"> Crear nuevo paciente</a>  -->

    <table id = "datatables1" class="table table-bordered table-hover display dt-responsive" style="margin-top: 30px">
        <thead>
            <tr>
                {#<th>ID</th>#}
                <th>Fecha</th>
                <th>Transacción</th>
                <th>Atendido por</th>
                <th>Se realizó</th>
                <th>Detalles</th>
                {#<th>DUI</th>#}
                {#<th>Teléfono</th>
                <th>Email</th>#}
                {#<th>Ocupación</th>#}
                {#<th>Lugar de trabajo</th> 
                <th>Fecha de nacimiento</th>
                #}
{#                <th>Valor ($)</th>#}
           {# </tr>
        </thead>
        <tbody>
         {% for key, entity in pacientes %}
                <tr id="P{{entity.id}}">#}
             {# <td>{{ entity.idpac }}</td>  #}
                {#<td>
                    {{key+1}}
                </td> #}
               {# <td>
                    {{ entity.numero }}

                </td>
                <td>
                    {#<p class="detallePaciente">#}{#{{ entity.nombres|upper }} {{ entity.apellidos|upper }}{#</p>#}
                    {#<i class="expedientePaciente fa fa-th-list pull-right" data-toggle="tooltip" data-original-title="Ver expediente"></i>
                    
                    <i class="detallePaciente fa fa-info-circle pull-right" data-toggle="tooltip" data-original-title="Ver información general" style="margin-right:30px;"></i>
                </td>#}
                
                {#<td>{{ entity.direccion }}</td>#}
{#                <td>{{ entity.tel}}</td>#}
{#                <td>{{ entity.email|lower }}</td>#}
               
                {#<td>{{ entity.ocupacion }}</td>#}
                {#<td>{{ entity.lugarTrabajo|upper }}</td>
                <td>{% if entity.fechaNacimiento %}{{ entity.fechaNacimiento|date('d-m-Y') }}{% endif %}</td>#}
                {#<td>{{ entity.referidoPor }}</td>#}
                {#<td>{{ entity.personaEmergencia }}</td>
                <td>{{ entity.telefonoEmergencia }}</td>#}
                
                 {#<td>
                <ul>
                    <li>
                        <a href="{{ path('admin_paciente_show', { 'id': entity.idpac }) }}">Consulta de emergencia</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_cita_new', { 'id': entity.idpac }) }}">Nueva cita</a>
                    </li>
                </ul>
                </td>#}    
            {#</tr>
        {% endfor %}
        </tbody>#}
    </table>
    </div><!-- /.panel -->    
       
<!-- Template Setups -->
     {#   <div class="modal fade" id="templateSetup">
          <div class="modal-dialog">
            <!-- modal-content -->
            <div class="modal-content"></div>
          </div><!-- /.modal-dialog -->
        </div><!-- /.templateSetup -->
            #}
      </div><!-- /.content -->
   

     
  
   {% endblock %}
   
    
       
  {% block javascripts_step %}
        <script src="{{ asset('Resources/js/Paciente.js') }}"></script>
        <script>
            $(document).ready(function(){
                var idPaciente = 0;
               
                $(document).on('click','.link_',function(){
                    var id = $(this).attr('id');
                    var url="";
                    //alert(""+id[0]);
                    var idPac = $('#consulta').children().attr('href');
{#                    var idPacArray2 = id.split('-');#}
                    var idPacArray = idPac.split('=');
                    //console.log(idPacArray);
                    switch(id[0]){
                        case "c":
                            if($(this).hasClass('SD')){
                                url = Routing.generate('admin_consulta_nueva_paciente_SD', { id: idPacArray[1],idtransaccion:id}); 
                            }
                            else{
                                url = Routing.generate('admin_consulta_nueva_paciente_LPB', { id: idPacArray[1],idtransaccion:id}); 
                            }
                            break;
                        case "t":
                            url = Routing.generate('admin_editarventa_tratamiento', { id: id}); 
                            break;
                        case "p":
                            url = Routing.generate('admin_editarventa_paquete', { id: id}); 
                            break;
                    }
                    console.log(url);
                    window.location = url;
                });
               
                $('#filterDatatables1').focus();
                
              // validando campos  
              $('#dgplusbellebundle_paciente_dui').mask('00000000-0');  
              $('#dgplusbellebundle_paciente_persona_telefono').mask('0000-0000'); 
              $('#dgplusbellebundle_paciente_telefonoEmergencia').mask('0000-0000'); 
              
        {#$(".detallePaciente").click(function(){
                    $.getJSON(Routing.generate('get_infopaciente', { id: idPaciente}), 
                    function(data) {
                        var mensaje = "";
                          mensaje += "<div class='row'></div>";
                          //mensaje += "<div class='col-md-12'><hr></div></div>";
                          
                          mensaje += "<div class='col-md-6 text-right'><b>Nombre del paciente: </b></div><div class='col-md-6'>"+data.regs[0].nombres+" "+data.regs[0].apellidos+"</div>";
                          mensaje += "<div class='col-md-6 text-right'><b>DUI: </b></div><div class='col-md-6'>"+data.regs[0].dui+"</div>";
                          mensaje += "<div class='col-md-6 text-right'><b>Teléfono: </b></div><div class='col-md-6'>"+data.regs[0].telefono+"</div>";
                          mensaje += "<div class='col-md-6 text-right'><b>Correo: </b></div><div class='col-md-6'>"+data.regs[0].email+"</div>";
                          mensaje += "<div class='col-md-6 text-right'><b>Estado civil: </b></div><div class='col-md-6'>"+data.regs[0].estadoCivil+"</div>";
                          
                          mensaje += "<div class='col-md-6 text-right'><b>Sexo: </b></div><div class='col-md-6'>"+data.regs[0].sexo+"</div>";
                          mensaje += "<div class='col-md-6 text-right'><b>Ocupación: </b></div><div class='col-md-6'>"+data.regs[0].ocupacion+"</div>";
                          mensaje += "<div class='col-md-6 text-right'><b>Lugar de trabajo: </b></div><div class='col-md-6'>"+data.regs[0].lugarTrabajo+"</div>";
                          mensaje += "<div class='col-md-6 text-right'><b>Fecha de nacimiento: </b></div><div class='col-md-6'>"+data.regs[0].fechaNacimiento+"</div>";
                          mensaje += "<div class='col-md-6 text-right'><b>Referido por: </b></div><div class='col-md-6'>"+data.regs[0].referidoPor+"</div>";
                          mensaje += "<div class='col-md-6 text-right'><b>En caso de emergencia llamar a: </b></div><div class='col-md-6'>"+data.regs[0].personaEmergencia+"</div>";
                          mensaje += "<div class='col-md-6 text-right'><b>Teléfono: </b></div><div class='col-md-6'>"+data.regs[0].telefonoEmergencia+"</div>";
                          mensaje += "</div>";
                          bootbox.dialog({
                                message: mensaje,
                                title: "Información del paciente",
                                buttons: {
                                  main: {
                                    label: "Aceptar",
                                    className: "btn-primary",
                                    callback: function() {

                                    }
                                  }
                                }
                            });
                    });
                
                });
              #}
                //Seleccionar un registro
{#                $(document).on('click','#datatables1>tbody>tr,.infoPaciente', function(event) {#}
                $(document).on('click','a', function(event) {
                    idPaciente=$(this).children().html();
                    
                    //alert($(this).prop("tagName"));
                    if($(this).prop("tagName")=="I"){
                        idPaciente=$(this).parent().parent().parent().children().html();
                        //alert(idPaciente);
                        $.getJSON(Routing.generate('get_infopaciente', { id: "P"+ idPaciente}), 
                        function(data) {
                            var mensaje = "";
                            mensaje += "<div class='container-fluid'>";
                            //mensaje += "<div class='col-md-12'><hr></div></div>";

                            mensaje += "<div class='col-md-6 text-right'><b>Nombre del paciente: </b></div><div class='col-md-6'>"+data.regs[0].nombres+" "+data.regs[0].apellidos+"</div>";
                            mensaje += "<div class='clearfix'></div>";
                            mensaje += "<div class='col-md-6 text-right'><b>DUI: </b></div><div class='col-md-6'>"+data.regs[0].dui+"</div>";
                            mensaje += "<div class='clearfix'></div>";
                            mensaje += "<div class='col-md-6 text-right'><b>Teléfono de contacto: </b></div><div class='col-md-6'>"+data.regs[0].telefono+"</div>";
                            mensaje += "<div class='clearfix'></div>";
                            mensaje += "<div class='col-md-6 text-right'><b>Correo: </b></div><div class='col-md-6'>"+data.regs[0].email+"</div>";
                            mensaje += "<div class='clearfix'></div>";
                            mensaje += "<div class='col-md-6 text-right'><b>Estado civil: </b></div><div class='col-md-6'>"+data.regs[0].estadoCivil+"</div>";
                            mensaje += "<div class='clearfix'></div>";

                            mensaje += "<div class='col-md-6 text-right'><b>Sexo: </b></div><div class='col-md-6'>"+data.regs[0].sexo+"</div>";
                            mensaje += "<div class='clearfix'></div>";
                            mensaje += "<div class='col-md-6 text-right'><b>Ocupación: </b></div><div class='col-md-6'>"+data.regs[0].ocupacion+"</div>";
                            mensaje += "<div class='clearfix'></div>";
                            mensaje += "<div class='col-md-6 text-right'><b>Lugar de trabajo: </b></div><div class='col-md-6'>"+data.regs[0].lugarTrabajo+"</div>";
                            mensaje += "<div class='clearfix'></div>";
                            mensaje += "<div class='col-md-6 text-right'><b>Fecha de nacimiento: </b></div><div class='col-md-6'>"+data.regs[0].fechaNacimiento+"</div>";
                            mensaje += "<div class='clearfix'></div>";
                            mensaje += "<div class='col-md-6 text-right'><b>Referido por: </b></div><div class='col-md-6'>"+data.regs[0].referidoPor+"</div>";
                            mensaje += "<div class='clearfix'></div>";
                            mensaje += "<div class='col-md-6 text-right'><b>En caso de emergencia llamar a: </b></div><div class='col-md-6'>"+data.regs[0].personaEmergencia+"</div>";
                            mensaje += "<div class='clearfix'></div>";
                            mensaje += "<div class='col-md-6 text-right'><b>Teléfono: </b></div><div class='col-md-6'>"+data.regs[0].telefonoEmergencia+"</div>";
                            mensaje += "<div class='clearfix'></div>";
                            mensaje += "</div>";
                            bootbox.dialog({
                                  message: mensaje,
                                  title: "Información del paciente",
                                  buttons: {
                                    main: {
                                      label: "Aceptar",
                                      className: "btn-primary",
                                      callback: function() {

                                      }
                                    }
                                  }
                            });
                        });
                    }
                    else{
                    
                        //Se limpia los otros que esten activos
                        $('#datatables1>tbody>tr').each(function(index, val) {
                            $(this).removeClass("active");
                        });
                        //Se activa el registro en el que se hizo click
                        $(this).addClass("active");
                        //Se habilitan los botones de editar y borrar
                        $("#edit-datatables1").removeClass("disabled");
                        $("#delete-datatables1").removeClass("disabled");
                        $("#nueva-cita").removeClass("disabled");
                        $("#nueva-consulta").removeClass("disabled");
                        $("#nueva-devolucion").removeClass("disabled");
                        $("#vender-paquete").removeClass("disabled");
                        $("#vender-tratamiento").removeClass("disabled");
                        $("#ver-expediente").removeClass("disabled");
                        $("#nuevo-abono").removeClass("disabled");
                        $("#detalle-datatables1").removeClass("disabled");

                        //var link=$('#datatables1>tbody>tr>td>a').attr("href");
                        //var link=$(this).children("td:first").children().attr("href");
                        //Obtener el id del registro


                        //alert(link);
                        //Carga del form modificar
                        //$("#editFormContainer").load("P"+idPaciente+"/edit");


                        //var href=link.attr("href");
                        //alert(object);
                    }
                });
                
                
                $(document).on('click','.expPaciente', function(event) {
                    //alert('prueba');
                    var idPaciente=$(this).parent().parent().parent().children().html();
                    console.log(idPaciente);
                    var url="{{path('admin_historial_consulta')}}?id=P"+idPaciente;
                    console.log(url);
                    window.location=url;
                });
                
                
                $('.expedientePaciente').on('click', function(event) {
                    var id = $(this).parent().parent().attr('id');
                    var href = "{{path('admin_historial_consulta')}}?id="+id;
                    window.location = href;
                    //alert(href);
                });
                
                
                $("#add-datatables1").click(function(){
                    if($("#addFormContainer").hasClass("hide")){
                        $("#addFormContainer").removeClass("hide");
                        $("#editFormContainer").addClass("hide");
                        $('.calZebra').Zebra_DatePicker({
                            months:['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                            days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                            format: 'd-m-Y',
                            show_clear_date:false,
                            show_select_today: "Hoy",
                        });
                    }
                    else{
                        $("#addFormContainer").addClass("hide");
                        limpiarCampos();
                        //$("#editFormContainer").removeClass("hide");
                    }

                });
                
                //Accion cancelar del boton nuevo
                $("#cancelarNuevo").click(function(){
                    $("#add-datatables1").click();
                    limpiarCampos();
                    return false;
                });
                
                //Accion cancelar del boton modificar
                $("#cancelarModificar").click(function(){
                    $("#edit-datatables1").click();
                    return false;
                });
                
                //Accion nueva cita
                $(".opciones").click(function(){
                    //$("#edit-datatables1").click();
                    var href = $(this).children("a").attr("href")+"?id="+idPaciente;
                    
                    if( !$(this).hasClass("disabled") ){
                        //$("#opcionesFormContainer").load(href);
                        window.location=href;
                        //$("#addFormContainer").addClass("hide");
                        //$("#editFormContainer").addClass("hide");
                        //$("#opcionesFormContainer").removeClass("hide");
                    }
                    return false;
                });
                
                
                $("#edit-datatables1").click(function(){
                    if(!$("#edit-datatables1").hasClass("disabled")){
                        if($("#editFormContainer").hasClass("hide")){
                            $("#addFormContainer").addClass("hide");
                            $("#editFormContainer").removeClass("hide");
                            $('.calZebra').Zebra_DatePicker({
                                months:['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                                days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                                format: 'd-m-Y',
                                show_clear_date:false,
                                show_select_today: "Hoy",
                            });
                        }
                        else{
                            //$("#addFormContainer").removeClass("hide");
                            $("#editFormContainer").addClass("hide");
                        }
                    }

                });
                /*
                $("#dgplusbellebundle_sucursal_submit").click(function(){
                    $(".icon-refresh").click();
                    return false;
                });
                */
                {#$('#filterDatatables1').on('keyup', function(event) {
                    var filtro = $(this).val(); 
                    //alert(filtro);
                    $('#datatables1_filter>label>input').val($(this).val());
                    $('#datatables1_filter>label>input').keyup();
                });#}
                
                                
                //var long = $('datatables1_length').children().children().val();
                $('#datatables1').DataTable({
                    {#searching:true,
                    order:[[1,"asc"]],#}
{#                    "processing": true,#}
                    
{#                    "deferLoading":0,#}
                    "serverSide": true,
                    "ajax": {
                        "url": '{{path('admin_paciente_expediente')}}',
                        "type": 'GET'
                    },
                    "columns": [
                        
                        { "data": "fecha"},
                        { "data": "transaccion" },
                        { "data": "atendido" },
                        { "data": "realizado" },
                        { "data": "detalles" }
                        {#{ "data": "dui" },#}
                        {#{ "data": "telefono" },
                        { "data": "email" },#}
                        {#{ "data": "lugarTrabajo" },
                        { "data": "fechaNacimiento" },#}
                        
                    ],
                    "columnDefs": [
                           { "orderable": false, "targets": 0 }
                           
                           
                           
                           //{ "orderData": [ 2, 3, 4 ], "targets": 2 }
                    ],
                    "language": {
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "",
                    "emptyTable": "No se encontraron registros",
                    "paginate": { 
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "processing": "Procesando petición...",
                    "search": "Buscar registros:",
                    "lengthMenu": "Mostrar _MENU_ registros"
                },
        });
    
            
    
             {#   
                $('#datatables1').DataTable({ 
                    searching:true,
                    "order":[[1,"asc"]],
                    "columnDefs": [
                           { "orderable": false, "targets": 0 },
                           { "orderable": false, "targets": 1 }
                           
                    ],
                    "language": {
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "",
                    "emptyTable": "No se encontraron registros",
                    "paginate": { 
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "processing": "Procesando petición...",
                    "search": "Buscar registros:",
                    "lengthMenu": "Mostrar _MENU_ registros"
                }, 
                    
                });#}
        
        
        //Oculta el filtro de la tabla
        $('#datatables1_filter').hide();
        //$('#filterDatatables1').val('');
        var expe = '{{expediente}}';
        $('#filterDatatables1').val('{{expediente}}');
        $('#datatables1_filter>label>input').val('{{expediente}}');
        $('#filterDatatables1').on('keyup',function(e){
            var filtro = $(this).val(); 
            //alert(filtro);
            console.log(expe);
            var expediente = $(this).val();
            expediente = expediente.toUpperCase();
            $(this).val(expediente);
            if(e.keyCode == 13 || expe!='') {
                $('#datatables1_filter>label>input').val(expediente);
                $('#datatables1_filter>label>input').keyup();
                {#var tb = document.getElementById("scriptBox");
                eval(tb.value);
                return false;#}
                console.log('enter');
                $('#venta').hide();
                $('#consulta').hide();
                var expediente = $(this).val();
                var hrefOriginal="";
                $('#infoExpediente').hide();
                console.log(expediente);
                $.ajax({
                    data:{expediente:expediente},
                    url:"{{path('busqueda_expediente_data')}}",
                    type: "post",
                    success: function (data) {
                            if(data.data.length!=0){
                                var hrefconsulta="";

                                hrefconsulta = $('#consulta').children().attr('href');
                                var res = hrefconsulta.split("?");
                                hrefconsulta = res[0]+"?id=P"+data.data[0].id;
                                //console.log(data);
                                //console.log(href);
                                $('#consulta').children().attr('href',hrefconsulta);

                                var hrefventa=""
                                hrefventa = $('#venta').children().attr('href');
                                hrefventa = hrefventa+"?id=P"+data.data[0].id;
                                //console.log(data);
                                //console.log(href);
                                res = hrefventa.split("?");
                                hrefventa = res[0]+"?id=P"+data.data[0].id;
                                //console.log(data);
                                console.log(hrefventa);
                                $('#venta').children().attr('href',hrefventa);



                                $('#infoExpediente').show();
                                $('#venta').show();
                                $('#consulta').show();
                                var exp = ""; 
                                //exp = $('#expedientePaciente').html();

                                var nombres = ""; 
                                nombres = data.data[0].nombres+" "+ data.data[0].apellidos;
                                $('#nombrePaciente').html(nombres);

                                var telefono= '<i class="fa fa-phone"></i>';
                                if(data.data[0].telefono==null){
                                    $('#telefono').html(telefono+"N/A");
                                }
                                else{
                                    $('#telefono').html(telefono+ " "+data.data[0].telefono);
                                }

                                var direccion = '<i class="fa fa-map-marker fa-fw"></i>';
                                if(data.data[0].direccion==null){
                                    $('#direccion').html(direccion+" N/A");
                                }
                                else{
                                    $('#direccion').html(direccion+" "+data.data[0].direccion);
                                }

                                var expediente ='<i class="fa fa-clipboard"></i>';
                                $('#expediente').html(expediente +" "+$('#filterDatatables1').val().toString().toUpperCase());

                                var edad='<i class="fa fa-birthday-cake"></i>';
                                if(data.data[0].direccion==null){
                                    $('#edad').html(edad+" N/A");
                                }
                                else{
                                    $('#edad').html(edad+" "+data.edad);
                                }

                            {#<i class="fa fa-birthday-cake"></i>#}

                                //$('#expedientePaciente').html(exp);
                                //$('#nombrePaciente').html(data.nombres + " "+data.apellidos);
                            }
                            else{
                                console.log(5);
                            }
                            //inicio = data.inicio++;
{#                                console.log(data.data.length);#}
                            console.log(data.data.length);
                        },
                    error: function (data) {

                        }
                });
            }
            else{
                console.log('log: '+expe);
            }
            
        });
        
        
{#                console.log(expe);#}
{#                alert('{{expediente}}');#}
                if(expe!=''){
                    
                    
                    
                    $('#filterDatatables1').keyup();
{#                    $('#datatables1_filter>label>input').keyup();#}
                }
           validarPaciente();  
        
    });//Fin document ready
        
    //Definición de funciones
    function limpiarCampos(){
        //Limpiar los campos de tipo text
        $("#add-datatables1 input[type=text]").each(function(index, val) {
            $(this).val("");
        });
        //Seleccionar el primer elemento de los dropdown
        $('add-datatables1 select option').each( function(index, val) {
            if(index == 0){
                $(this).attr("selected","selected");
            }
            else{
                $(this).removeAttr("selected");
            }
            
         
	});             
    };
    
        </script>

    {% endblock %} 
