{#{% extends 'DGPlusbelleBundle:Layout:general.html.twig' %}#}
{% extends 'DGPlusbelleBundle:Layout:layout.html.twig' %}


{% block css %}
    {{parent()}}
    <style>
        
{#        //Posicion del boton agregar#}
        .placas>div:last-child {
            position:absolute;
        }
        .addItem{
            position: absolute;
            height: 50px;
            float: right;
            margin-bottom: 50px;
            padding-bottom: 100px;
            top: -65px;
            left: -2px;
        }
        
            .addItem div {
                position: absolute;
            }
        
        /*.col-md-6{
            padding-top: 40px;
        }*/
        
        #dgplusbellebundle_consulta_horaInicio_hourSelectBoxItContainer, #dgplusbellebundle_consulta_horaInicio_minuteSelectBoxItContainer{
            width:75px;
        }
        
        #listadoa>div>div>div>div>label{
            display: none;
        }
        
        textarea{
            resize: none;
        }
        
            #info_paciente tr td{
                border: 1px solid black;
            }
    </style>
    
{% endblock %}

{% block contenido -%}
    
    
    
    <!-- ============================================
    MAIN CONTENT SECTION
    =============================================== -->
    


        <div class="content-body">
          <div class="panel" data-fill-color="true">
            <div class="panel-heading">
              <div class="panel-control pull-right">
                {#<a href="#" class="btn btn-icon" data-toggle="panel-refresh" rel="tooltip" data-placement="bottom" title="refresh"><i class="icon-refresh"></i></a>#}
                <a href="#" class="btn btn-icon" data-toggle="panel-expand" rel="tooltip" data-placement="bottom" title="expand"><i class="arrow_expand"></i></a>
                <a href="#" class="btn btn-icon" data-toggle="panel-collapse" rel="tooltip" data-placement="bottom" title="collapse"><i class="icon_minus_alt2"></i></a>
              </div>
              <h3 class="modal-title" id="myModalLabel">Historial del paciente</h3>
        
            </div><!-- /.panel-heading -->

            
            
            
            <!-- datatables1 -->
            <div class="row">
                
                <div class="col-md-6">

                    <div data-init-panel="true" class="panel bg-grd-light fade in panel-default panel-fill" data-fill-color="true" style="height:200px;">
                        <div class="panel-body">
                          {#<div class="pull-left mr-2x">
                            <span class="kit-avatar kit-avatar-64">
                              <img class="media-object" src="images/dummy/uifaces15.jpg" alt="photo profile">
                            </span>
                          </div>#}
                            {#<p class="lead mb-1x">   Datos del paciente </p>#}
                            <p class="text-muted"><i class="fa fa-fw"></i><div class="col-md-4">Nombre: </div><div class="col-md-8">{{ paciente.persona.nombres}} {{ paciente.persona.apellidos}} </div> </p>
                            <p class="text-muted"><i class="fa fa-fw"></i><div class="col-md-4">Expediente:</div><div class="col-md-8"> {{ expediente }} </div> </p>
                            <p class="text-muted"><i class="fa fa-fw"></i><div class="col-md-4">Edad: </div><div class="col-md-8">{{ edad }} </div> </p>
                          <div class="clearfix"></div>
                          
                          
                        </div><!-- /.panel-body -->
                    </div>
                </div>
                <div class="col-md-6" id="progressTratamiento">
                    <div id="donut-example" style="height:200px;"></div>
                    
                </div>
                                
            </div>
            <div class="row">
                <div class="col-md-12"><hr></div>
            </div>
            <div class="panel-body">
              <div class="btn-toolbar clearfix" role="toolbar">
                <div class="btn-group btn-group-sm pull-left">
                    <button data-toggle="tooltip" data-container="body" title="Consultas realizadas" id="consultas-datatables3" class="btn btn-default" role="button">
                        <i class="fa fa-medkit" style="margin-right:5px;"></i>({{totalConsultas}})
                    </button>
                </div>  
                <div class="btn-group btn-group-sm pull-left">
                    <button data-toggle="tooltip" data-container="body" title="Tratamientos realizados" id="tratamientos-datatables1" class="btn btn-default" role="button">
                        <i class="fa fa-clipboard" style="margin-right:5px;"></i>({{totalTratamientos}})
                    </button>
                </div>
                <div class="btn-group btn-group-sm pull-left">
                    <button data-toggle="tooltip" data-container="body" title="Paquetes vendidos" id="ventapaquetes-datatables2" class="btn btn-default" role="button">
                        <i class="fa fa-briefcase" style="margin-right:5px;"></i>({{totalPaquetes}})
                    </button>
                </div>
                <div class="btn-group btn-group-sm pull-left">
                    <input id="filterDatatables1" class="form-control input-sm" placeholder="Buscar...">
                    <input id="filterDatatables2" class="form-control input-sm" placeholder="Buscar...">
                    <input id="filterDatatables3" class="form-control input-sm" placeholder="Buscar...">
                </div>
              </div><!-- /btn-toolbar -->
            </div><!-- /.panel-body -->
            <div class="row" id="tabla1">
                <div class="col-md-12">
                    <h3 class="modal-title" id="myModalLabel">Venta de tratamientos</h3>
                    
                    <hr>
                </div>
                <div class="col-md-12">
                    <table id = "datatables1" class="table table-noborder table-hover bordered-top dataTable" role="grid" aria-describedby="datatables1_info">
                        <thead>
                            <tr row="role">
                                <th class="text-center">N°</th>
                                <th class="text-center">Tratamiento</th>
                                <th class="text-center">Número de sesiones</th>
                                <th class="text-center">Costo ($)</th>
                                <th class="text-center">Fecha de venta</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, entity in tratamientos %}
                                <tr id="{{entity.tratamiento.id}}">
                                    <td class="text-center">{{key+1}}</td>
                                    <td>{{ entity.tratamiento}}</td>
                                    <td class="text-center">{{ entity.numSesiones}}</td>
                                    <td class="text-center">{{ entity.costoConsulta}}</td>
                                    <td class="text-center">{% if entity.fechaVenta%}{{ entity.fechaVenta|date('d/m/Y') }}{% endif %}</td>
                                    <td class="center-block">
                                        <div class="row">
                                            <div class="col-md-1 col-md-offset-3">
                                                <div class="btn-group btn-group-sm pull-left">
                                                    <button id="nueva-sesion" data-toggle="tooltip" data-container="body" title="Registrar sesion de tratamiento" class="btn btn-default datatables1-actions" role="button" onclick="sesionTratamiento({{ entity.id }});">
                                                        <i class="fa fa-pencil-square-o"></i><a href=""> </a>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="btn-group btn-group-sm pull-left">
                                                    <button id="seguimiento-tratamiento" data-toggle="tooltip" data-container="body" title="Seguimiento del tratamiento" class="btn btn-default datatables1-actions seguimiento" role="button" onclick="seguimientoTratamiento({{ entity.id }});">
                                                        <i class="fa fa-history"></i><a href=""> </a>
                                                    </button>
                                                </div>
                                            </div>  
                                            <div class="col-md-5">
                                                <div class="btn-group btn-group-sm pull-left">
                                                    <button id="seguimiento-fototratamiento" data-toggle="tooltip" data-container="body" title="Ver imagenes" class="btn btn-default datatables1-actions seguimiento" role="button" onclick="imagenTratamiento({{ entity.id }});">
                                                        <i class="glyphicon glyphicon-picture"></i><a href="{{path('admin_imagentratamiento_galeria',{id:entity.id})}}"> </a>
                                                    </button>
                                                    {% set cont = 0 %}
                                                    {% if is_granted('ROLE_ADMIN') %}
                                                        {% for paq in tratamientosnoedit%}
                                                            {% if entity.id == paq.idpersonatrat%}
                                                                {% set cont=cont+1 %}

                                                            {% endif %}
                                                        {% endfor %}
                                                        {% if cont==0 %}
                                                            <a style="padding-top:8px; height: 30px;" href="{{path('admin_personatratamiento_edit',{id:entity.id})}}" data-toggle="tooltip" data-container="body" title="Editar venta tratamiento" class="btn btn-default datatables1-actions seguimiento" role="button" onclick="borrarConsulta({{ entity.id }})">
                                                                <i class="fa fa-edit"></i>
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                                {% for ent in entity.sestratamiento%}
                                                    <div class="col-md-1">
                                                        <div class="btn-group btn-group-sm pull-left">
                                                            <button id="ver-receta" data-toggle="tooltip" data-container="body" title="Consultar receta" class="btn btn-default datatables1-actions" role="button" onclick="exportarRecetaVentaTratamientoPDF({{ entity.id }});">
                                                                <i class="fa fa-file-pdf-o"></i><a href=""> </a>
                                                            </button>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" id="tabla2">
                <div class="col-md-12">
                    <h3 class="modal-title" id="myModalLabel">Paquetes vendidos</h3>
                    <hr>
                </div>
                <div class="col-md-12">
                    <table id = "datatables2" class="table table-noborder table-hover bordered-top dataTable" role="grid" aria-describedby="datatables1_info">
                        <thead>
                            <tr row="role">
                                <th class = "text-center">N°</th>
                                <th class = "text-center">Paquete</th>
                                <th class = "text-center">Vendido por</th>
                                <th class = "text-center">Fecha de venta</th>
                                <th class = "text-center">Estado</th>
                                <th class = "text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for key, entity in paquetes %}
                            <tr>
                                <td class = "text-center">{{key+1}}</td>
                                <td>{{ entity.paquete }}</td>
                                <td>{{ entity.empleado }}</td>
                                <td class = "text-center">{% if entity.fechaVenta %}{{ entity.fechaVenta|date('d/m/Y') }}{% endif %}</td>
                                <td class = "text-center">
                                    {% if entity.estado == 1 %}Sin comenzar{% elseif entity.estado == 2 %}En proceso{% elseif entity.estado == 3 %}Finalizado{% endif %}
                                </td>
                                <td class="center-block">
                                    <div class="row">
                                        <div class="col-md-1 col-md-offset-3">
                                            <div class="btn-group btn-group-sm pull-left">
                                                <button id="nueva-sesion" data-toggle="tooltip" data-container="body" title="Registrar sesion de tratamiento" class="btn btn-default datatables1-actions" role="button" onclick="nuevaSesionTratamiento({{ entity.id }});">
                                                    <i class="fa fa-pencil-square-o"></i><a href=""> </a>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="btn-group btn-group-sm pull-left">
                                                <button id="seguimiento-paquete" data-toggle="tooltip" data-container="body" title="Seguimiento paquete" class="btn btn-default datatables1-actions seguimiento" role="button" onclick="seguimientoPaquete({{ entity.id }});">
                                                    <i class="fa fa-history"></i><a href=""> </a>
                                                </button>
                                            </div>
                                        </div>       
                                        <div class="col-md-5">
                                            <div class="btn-group btn-group-sm pull-left">
                                                <button id="seguimiento-fototratamiento" data-toggle="tooltip" data-container="body" title="Ver imagenes" class="btn btn-default datatables1-actions seguimiento" role="button" onclick="imagenPaquete({{ entity.id }});">
                                                    <i class="glyphicon glyphicon-picture"></i><a href="{{path('admin_imagentratamiento_galeria',{id:entity.id})}}"> </a>
                                                </button>
                                                {% set cont = 0 %}
                                                {% if is_granted('ROLE_ADMIN') %}
                                                    {% for paq in paquetesnoedit%}
                                                        {% if entity.id == paq.idpaquete%}
                                                            {% set cont=cont+1 %}
                                                        
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if cont==0 %}
                                                        <a style="padding-top:8px; height: 30px;" href="{{path('admin_ventapaquete_edit',{id:entity.id})}}" data-toggle="tooltip" data-container="body" title="Editar venta paquete" class="btn btn-default datatables1-actions seguimiento" role="button" onclick="borrarConsulta({{ entity.id }})">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div> 
                                            {#{% for ent in entity.ventapaq %}
                                               {% if ent.registraReceta == 1 %}
                                                <div class="col-md-1">
                                                    <div class="btn-group btn-group-sm pull-left">
                                                        <button id="ver-receta" data-toggle="tooltip" data-container="body" title="Consultar receta" class="btn btn-default datatables1-actions" role="button" onclick="exportarPaqueteRecetaPDF({{ ent.id }},{{entity.paciente.id}});">
                                                            <i class="fa fa-file-pdf-o"></i><a href=""> </a>
                                                        </button>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            {% endfor %}#}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" id="tabla3">
                <div class="col-md-12">
                    <h3 class="modal-title" id="myModalLabel">Consultas realizadas</h3>
                    <hr>
                </div>
                <div class="col-md-12">
                    <table id = "datatables3" class="table table-noborder table-hover bordered-top dataTable" role="grid" aria-describedby="datatables1_info">
                        <thead>
                            <tr row="role">
                                <th>N°</th>
                                <th>Tratamiento</th>
                                <th>Tipo consulta</th>
                                <th>Atendido por</th>
                                <th>Fecha</th>
                                <th>Hora de consulta</th>
                                <th>Costo ($)</th>
                                <th>Acciones</th> 
                            </tr>
                        </thead>
                        <tbody>
                        {% set corr = 1 %}    
                        {% for key, entity in consultas %}
                            <tr >
                                <td>{{ corr }}</td>
                                    <td>{{ entity.tratamiento}}</td>
                                    <td>{{ entity.tipoConsulta}}</td>
                                    <td>{{ entity.empleado}}</td>
                                    <td>{% if entity.fechaConsulta %}{{ entity.fechaConsulta|date('d/m/Y') }}{% endif %}</td>
                                    <td>{% if entity.horaInicio %}
                                            {{ entity.horaInicio|date('H:i') }} - {{ entity.horaFin|date('H:i') }}
                                        {% endif %}
                                    </td>
                                    <td>{{ entity.costoConsulta}}</td>
                                    <td>
                                       <div class="btn-group btn-group-sm pull-left">
                                            {% if entity.reportePlantilla %}
                                                <button id="exportar-pdf" data-toggle="tooltip" data-container="body" title="Detalle de consulta" class="btn btn-default datatables1-actions opciones" role="button" onclick="exportarPDF({{ entity.id }})">
                                                    <i class="fa fa-file-pdf-o"></i><a href=""> </a>
                                                </button>
                                                
                                            {% else %}
                                                No aplica
                                            {% endif %}    
                                            <button id="seguimiento-fototratamiento" data-toggle="tooltip" data-container="body" title="Ver imagenes" class="btn btn-default datatables1-actions seguimiento" role="button" onclick="imagenConsulta({{ entity.id }})">
                                                    <i class="glyphicon glyphicon-picture"></i>
                                            </button>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <a href="{{path('admin_consulta_delete',{id:entity.id,idpaciente:"P"+paciente.id})}}" data-toggle="tooltip" data-container="body" title="Borrar consulta" class="btn btn-default datatables1-actions seguimiento" role="button" onclick="borrarConsulta({{ entity.id }})">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                              
                                        {% for ent in entity.ventapaq%}
                                            <div class="col-md-1">
                                                <div class="btn-group btn-group-sm pull-left">
                                                    <button id="ver-receta" data-toggle="tooltip" data-container="body" title="Consultar receta" class="btn btn-default datatables1-actions" role="button" onclick="exportarConsultaRecetaPDF({{ ent.consultareceta.id }});">
                                                        <i class="fa fa-file-pdf-o"></i><a href=""> </a>
                                                    </button>
                                                </div>
                                            </div>
                                        {% endfor %}
                                                    
                                    </td>
                                    
                            </tr>
                            {% set corr = corr + 1 %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>            
            
          </div><!-- /.panel -->
    
            
    {% endblock %}
    
    
    {% block javascripts_step %}
        
       
        <script>
            $(document).ready(function(){
                
                var totalTratamientos = {{totalTratamientos}};
                var totalPaquetes = {{totalPaquetes}};
                var totalConsultas= {{totalConsultas}};
                
                //alert(totalTratamientos);
                //alert(totalPaquetes);
                
                $('#dgplusbellebundle_consulta_fechaConsulta').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    locale: {
                        format: 'YYYY-MM-DD'
                    },
                }); 
                
                
                //Seleccionar un registro
                $('#datatables1>tbody>tr').on('click', function(event) {
                    $("#editFormContainer").html();
                    
                    //Limpia los otros tr que esten activos
                    $('#datatables1>tbody>tr').each(function(index, val) {
                        $(this).removeClass("active");
                    });
                    //Se activa el registro en el que se hizo click
                    $(this).addClass("active");
                    //Se habilitan los botones de editar y borrar
                    $("#edit-datatables1").removeClass("disabled");
                    $("#delete-datatables1").removeClass("disabled");
                    
                    //var link=$('#datatables1>tbody>tr>td>a').attr("href");
                    //var link=$(this).children("td:first").children().attr("href");
                    //Obtener el id del registro
                    var link=$(this).attr("id");
                    //alert(link);
                    
                });
                
                
                $("#tratamientos-datatables1").click(function(){
                    //alert("tratamiento");
                    //alert('oculto tabla2');
                    $("#tabla1").show();
                    $("#tabla2").hide();
                    $("#tabla3").hide();
                    
                    $('#filterDatatables1').show();            
                    $('#filterDatatables2').hide();
                    $('#filterDatatables3').hide();
                    
                    $('#datatables2_filter').children().children().val('');
                    $('#datatables3_filter').children().children().val('');
                    
                });
                
                $("#ventapaquetes-datatables2").click(function(){
                    //alert("paquete");
                    //alert('oculto tabla1');
                    $("#tabla1").hide();
                    $("#tabla2").show();
                    $("#tabla3").hide();
                    
                    $('#filterDatatables1').hide();
                    $('#filterDatatables2').show();
                    $('#filterDatatables3').hide();
                    
                    $('#datatables1_filter').children().children().val('');
                    $('#datatables3_filter').children().children().val('');
                    
                });
                
                $("#consultas-datatables3").click(function(){
                    //alert("paquete");
                    //alert('oculto tabla1');
                    $("#tabla1").hide();
                    $("#tabla2").hide();
                    $("#tabla3").show();
                    
                    $('#filterDatatables1').hide();
                    $('#filterDatatables2').hide();
                    $('#filterDatatables3').show();
                    
                    $('#datatables1_filter').children().children().val('');
                    $('#datatables2_filter').children().children().val('');
                    
                });
                /*
                $("#dgplusbellebundle_sucursal_submit").click(function(){
                    $(".icon-refresh").click();
                    return false;
                });
                */
                $('#filterDatatables1').on('keyup', function(event) {
                    var filtro = $(this).val(); 
                    //alert(filtro);
                    $('#datatables1_filter>label>input').val($(this).val());
                    $('#datatables1_filter>label>input').keyup();

                });
                
                $('#filterDatatables2').on('keyup', function(event) {
                    var filtro = $(this).val(); 
                    //alert(filtro);
                    $('#datatables2_filter>label>input').val($(this).val());
                    $('#datatables2_filter>label>input').keyup();
                });
                
                $('#filterDatatables3').on('keyup', function(event) {
                    var filtro = $(this).val(); 
                    //alert(filtro);
                    $('#datatables3_filter>label>input').val($(this).val());
                    $('#datatables3_filter>label>input').keyup();
                });
                
                $('#datatables1').DataTable({ 
                    searching:true,
                        "order":[[0, "desc"],[1,"desc"]],
                        "columnDefs": [
                               { "orderable": false, "targets": 0 },
                               { "orderable": false, "targets": 2 },
                               { "orderable": false, "targets": 3 },
                               { "orderable": false, "targets": 4 }
                               
                               //{ "orderData": [ 2, 3, 4 ], "targets": 2 }
                        ],
                        "language": {
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "",
                        "infoFiltered": "filtrando de _MAX_ registros",
                        "emptyTable": "No se encontraron registros",
                        "paginate": { 
                            "next": "Siguiente",
                            "previous": "Anterior"
                        },
                        "processing": "Procesando petición...",
                        "search": "Buscar registros:",
                        "lengthMenu": "Mostrar _MENU_ registros"
                    }, 

                    });
                
                
                $('#datatables2').DataTable({ 
                    searching:true,
                    "order":[[0, "desc"],[1,"desc"]],
                    "columnDefs": [
                           { "orderable": false, "targets": 0 }
                           //{ "orderData": [ 2, 3, 4 ], "targets": 2 }
                    ],
                    "language": {
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "",
                    "infoFiltered": "filtrando de _MAX_ registros",
                    "emptyTable": "No se encontraron registros",
                    "paginate": { 
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "processing": "Procesando petición...",
                    "search": "Buscar registros:",
                    "lengthMenu": "Mostrar _MENU_ registros"
                }, 
                    
                });
                
                $('#datatables3').DataTable({ 
                    searching:true,
                        "order":[[0, "asc"],[1,"asc"]],
                        "columnDefs": [
                               { "orderable": false, "targets": 0 },
                               { "orderable": false, "targets": 2 },
                               { "orderable": false, "targets": 3 },
                               { "orderable": false, "targets": 4 },
                               { "orderable": false, "targets": 5 }
                               //{ "orderData": [ 2, 3, 4 ], "targets": 2 }
                        ],
                        "language": {
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "",
                        "infoFiltered": "filtrando de _MAX_ registros",
                        "emptyTable": "No se encontraron registros",
                        "paginate": { 
                            "next": "Siguiente",
                            "previous": "Anterior"
                        },
                        "processing": "Procesando petición...",
                        "search": "Buscar registros:",
                        "lengthMenu": "Mostrar _MENU_ registros"
                    }, 

                    });
        
        //Oculta el filtro de las tablas
        
        
        //Oculta la tabla paquete
        //$('#tabla2').hide();
        //$('#tabla2').hide();
        $('#filterDatatables2').hide();
        $('#tabla2').hide();
        
        $('#datatables1_filter, #datatables2_filter,#datatables3_filter').hide();
        
        //Oculta la tabla consulta
        $('#filterDatatables3').hide();
        $('#tabla3').hide();
        $('#filterDatatables1, #filterDatatables2, #filterDatatables3').val('');
        
        
        
        //alert(data0);
        Morris.Donut({
            element: 'donut-example',
            data: [

                { label: "Tratamientos", value: totalTratamientos },
                { label: "Paquetes", value: totalPaquetes},
                { label: "Consultas", value: totalConsultas}
            ],
            //formatter:function (y, data) { return y + '%' }
        });
        
    });//Fin document ready
        
    //Definición de funciones
    function limpiarCampos(){
        //Limpiar los campos de tipo text
        $("input[type=text]").each(function(index, val) {
            $(this).val("");
        });
        //Seleccionar el primer elemento de los dropdown
        $('select option').each( function(index, val) {
            if(index == 0){
                $(this).attr("selected","selected");
            }
            else{
                $(this).removeAttr("selected");
            }

        
	});             
    };
        </script>
    <script>  
        function exportarPDF(id){
            var url = Routing.generate('admin_reporteplantilla_pdf', {'id': id});
            window.open(url,'_blank');
        }//Fin funcion
    </script>
     <script>  
        function nuevaSesionTratamiento(id){
            $.post( "{{path('admin_evaluar_sesiones_paquete')}}", { id: id }, function( data ) {
                var aux = 0;
                var total = data.query.length;
                $.each( data.query, function( key, value ) {
                   if(value.numSesion >= value.sesiones){
                        aux = aux + 1;
                    }
                });   
                if(aux < total){
                    var url = Routing.generate('admin_sesiontratamiento_new', {'id': id});
                    window.open(url);
                } else {
                    bootbox.alert('Se han completado las sesiones, no se puede registrar una nueva sesion en el paquete');
                }
                    
                
            }, "json"); // Fin de post                
        }
    </script>
    <script>  
        function sesionTratamiento(id){
            $.post( "{{path('admin_evaluar_sesiones_tratamiento')}}", { id: id }, function( data ) {
                if(data.query[0].numSesion < data.query[0].sesiones){
                    var url = Routing.generate('admin_sesionventatratamiento_new', {'id': id});
                    window.open(url);
                } else {
                    bootbox.alert('Se han completado las sesiones, no se puede registrar una nueva sesion');
                }
            }, "json"); // Fin de post        
        }
    </script>
    <script>  
        function exportarRecetaVentaTratamientoPDF(id){
            var url = Routing.generate('admin_recetaventatrat_pdf', {'id': id});
            window.open(url,'_blank');
        }//Fin funcion
    </script>
    <script>  
        function exportarConsultaRecetaPDF(id){
            var url = Routing.generate('admin_reporteconsultarecetaplantilla_pdf', {'id': id});
            window.open(url,'_blank');
        }//Fin funcion
    </script>
    
    <script>  
        function exportarPaqueteRecetaPDF(id,pac){
            var url = Routing.generate('admin_reportepaqueterecetaplantilla_pdf', {'id': id,'pac': pac});
            window.open(url,'_blank');
        }//Fin funcion
    </script>
    
     <script>  
        function sesionFotoTratamiento(id){
            var url = Routing.generate('admin_seguimientotratamiento_show', {'id': id});
            window.open(url);
        }
        
    </script>
    <script>  
        function imagenTratamiento(id){
            var url = Routing.generate('admin_imagentratamiento_galeria', {'id': id});
            window.open(url);
            
        }
    </script>
    <script>  
        function imagenPaquete(id){
            var url = Routing.generate('admin_imagenpaquete_galeria', {'id': id});
            window.open(url);
            
        }
    </script>
    <script>  
        function imagenConsulta(id){
            var url = Routing.generate('admin_imagenconsulta_galeria', {'id': id});
            window.open(url);
            
        }
    </script>
     <script>  
        function seguimientoPaquete(id){
           $.post( "{{path('admin_busqueda_paquete_seguimiento')}}", { id: id }, function( data ) {
                var fecha = data.query[0].venta.split('-');
                var par = new Array();
               par = data.query;
                
                // Si el paquete vendido tiene sesiones de tratamiento
                if(par.length !== 0){
                    var mensaje = "";
                    mensaje += "<div class='row'></div>";
                    mensaje += "<div class='col-md-6 text-right'><b>Vendido por:: </b></div><div class='col-md-6'>" + data.query[0].empleado + "</div>";
                    mensaje += "<div class='clearfix'></div>"
                    mensaje += "<div class='col-md-6 text-right'><b>Nombre del paciente: </b></div><div class='col-md-6'>" + data.query[0].paciente + "</div>";
                    mensaje += "<div class='clearfix'></div>"
                    mensaje += "<div class='col-md-6 text-right'><b>Expediente No.: </b></div><div class='col-md-6'>" + data.query[0].numExp.toUpperCase() + "</div>";
                    mensaje += "<div class='clearfix'></div>"
                    mensaje += "<div class='col-md-6 text-right'><b>Paquete: </b></div><div class='col-md-6'>" + data.query[0].nomPaquete + "</div>";
                    mensaje += "<div class='clearfix'></div>"
                    mensaje += "<div class='col-md-6 text-right'><b>Fecha de venta: </b></div><div class='col-md-6'>" + fecha[2] + "/" +fecha[1] + "/" +fecha[0] + "</div>";
                    mensaje += "<div class='clearfix'></div>"
                    mensaje += "<div class='col-md-6 text-right'><b>Costo del paquete: </b></div><div class='col-md-6'> $ " + data.query[0].costoPaquete + "</div>";
                    mensaje += "<div class='clearfix'></div>"
                    mensaje += "<div class='col-md-6 text-right'><b>Descuento aplicado: </b></div><div class='col-md-6'><b style='color:red'> $ " + redondeoV4(((data.query[0].porcentaje * data.query[0].costoPaquete)/100),2) + "</b></div>";
                    mensaje += "<div class='clearfix'></div>"
                    mensaje += "<div class='col-md-6 text-right'><b>Monto total a cancelar: </b></div><div class='col-md-6'><b> $ " + redondeoV4(( data.query[0].costoPaquete - ((data.query[0].porcentaje * data.query[0].costoPaquete)/100)),2) + "</b></div>";
                    mensaje += "<div class='clearfix'></div>"
                    mensaje += "<div class='col-md-6 text-right'><b>Deuda pendiente: </b></div><div class='col-md-6'> $ " + redondeoV4(( (data.query[0].costoPaquete - ((data.query[0].porcentaje * data.query[0].costoPaquete)/100)) - data.abonos.abonos),2) + "</div>";
                    mensaje += "<div class='clearfix'></div>"
                    mensaje += "</div>";
                    
                    mensaje += "<div class='row' ></div>";
                    mensaje += "<table class='table table-bordered table-condensed' style='margin-top:25px'>";
                    mensaje += "<thead>";
                    mensaje += "<tr><th class='text-center'>Tratamiento</th><th class='text-center'>Sesiones</th><th></th></tr>";
                    mensaje += "</thead>";
                    mensaje += "<tbody>";
                    
                    $.each( data.query, function( key, value ) {
                        mensaje +=  "<tr><td>" + value.ntrata + "</td><td>";
                        
                        if(value.numSesion == 0){
                            for (var i = 0; i < value.sesiones; i++) {
                                mensaje += "<div class='fa fa-certificate'></div>";
                            }    
                        } else {
                            for (var i = 0; i < value.numSesion; i++) {
                                mensaje += "<div class='fa fa-check'></div>";
                            }
                            for (var i = 0; i < value.sesiones - value.numSesion; i++) {
                                mensaje += "<div class='fa fa-certificate'></div>";
                            }
                            
                        }
{#                            alert(data.query.id);#}
                        mensaje+= "</td><td>";
                            {% for key, entity in paquetes %}
                                    {% for ent in entity.ventapaq %}
                                        if(data.query.id=={{ent.id}})
                                        {
                                            mensaje+="<button id='ver-receta' data-toggle='tooltip' data-container='body' title='Consultar receta' class='btn btn-default datatables1-actions' role='button' onclick='exportarPaqueteRecetaPDF(5);'><i class='fa fa-file-pdf-o'></i><a href=''></a></button>"
                                        }
                                        else{
                                            mensaje+="";
                                        }
                                        
                                    {% endfor %}
                            {% endfor %}
                        mensaje+="</td></tr>";
                    });    

                    mensaje += "</tbody>";
                    mensaje += "</table>";
                    mensaje += "</div>";
                    
                    bootbox.dialog({
                          message: mensaje,
                          title: "Información del paquete ",
                          buttons: {
                            main: {
                              label: "Aceptar",
                              className: "btn-primary",
                              callback: function() {

                              }
                            }
                          }
                    });
                }
                else{
                    console.log( 'Este paquete no tiene sesiones que mostrar' );
                }
            }, "json");
        }//Fin funcion
    </script>
    <script>  
        function seguimientoTratamiento(id){
            $.post( "{{path('admin_busqueda_tratamiento_seguimiento')}}", { id: id }, function( data ) {
                console.log(data.query);
                
                var fecha = data.query[0].venta.split('-');
                var par = new Array();
                par = data.query;
                
                // Si el paquete vendido tiene sesiones de tratamiento
                if(par.length !== 0){
                    var mensaje = "";
                    
                    mensaje += "<div class='row'></div>";
                    mensaje += "<div class='col-md-6 text-right'><b>Vendido por: </b></div><div class='col-md-6'>" + data.query[0].empleado + "</div>";
                    mensaje += "<div class='clearfix'></div>"
                    mensaje += "<div class='col-md-6 text-right'><b>Nombre del paciente: </b></div><div class='col-md-6'>" + data.query[0].paciente + "</div>";
                    mensaje += "<div class='clearfix'></div>"
                    mensaje += "<div class='col-md-6 text-right'><b>Expediente No.: </b></div><div class='col-md-6'>" + data.query[0].numExp.toUpperCase() + "</div>";
                    mensaje += "<div class='clearfix'></div>"
                    mensaje += "<div class='col-md-6 text-right'><b>Fecha de venta: </b></div><div class='col-md-6'>" + fecha[2] + "/" +fecha[1] + "/" +fecha[0] + "</div>";
                    mensaje += "<div class='clearfix'></div>"
                    mensaje += "<div class='col-md-6 text-right'><b>Costo del tratamiento: </b></div><div class='col-md-6'> $ " + data.query[0].costoTratamiento + "</div>";
                    mensaje += "<div class='clearfix'></div>"
                    mensaje += "<div class='col-md-6 text-right'><b>Descuento aplicado: </b></div><div class='col-md-6'><b style='color:red'> $ " + redondeoV4(((data.query[0].porcentaje * data.query[0].costoTratamiento)/100),2) + "</b></div>";
                    mensaje += "<div class='clearfix'></div>"
                    mensaje += "<div class='col-md-6 text-right'><b>Monto total a cancelar: </b></div><div class='col-md-6'><b> $ " + redondeoV4(( data.query[0].costoTratamiento - ((data.query[0].porcentaje * data.query[0].costoTratamiento)/100)),2) + "</b></div>";
                    mensaje += "<div class='clearfix'></div>"
                    mensaje += "<div class='col-md-6 text-right'><b>Deuda pendiente: </b></div><div class='col-md-6'> $ " + redondeoV4(( (data.query[0].costoTratamiento - ((data.query[0].porcentaje * data.query[0].costoTratamiento)/100)) - data.abonos.abonos),2) + "</div>";
                    mensaje += "<div class='clearfix'></div>"
                    mensaje += "</div>";
                    
                    mensaje += "<div class='row' ></div>";
                    mensaje += "<table class='table table-bordered table-condensed' style='margin-top:25px'>";
                    mensaje += "<thead>";
                    mensaje += "<tr><th class='text-center'>Tratamiento</th><th class='text-center'>Sesiones</th></tr>";
                    mensaje += "</thead>";
                    mensaje += "<tbody>";
                    mensaje +=  "<tr><td>" + data.query[0].ntratamiento + "</td><td>";

                    if(data.query[0].numSesion == 0){
                        for (var i = 0; i < data.query[0].sesiones; i++) {
                            mensaje += "<div class='fa fa-certificate'></div>";
                        }    
                    } else {
                        for (var i = 0; i < data.query[0].numSesion; i++) {
                            mensaje += "<div class='fa fa-check'></div>";
                        }
                        for (var i = 0; i < data.query[0].sesiones - data.query[0].numSesion; i++) {
                            mensaje += "<div class='fa fa-certificate'></div>";
                        }

                    }

                    mensaje += "</td></tr>";
                    mensaje += "</tbody>";
                    mensaje += "</table>";
                    mensaje += "</div>";
                    
                    bootbox.dialog({
                          message: mensaje,
                          title: "Información del tratamiento ",
                          buttons: {
                            main: {
                              label: "Aceptar",
                              className: "btn-primary",
                              callback: function() {

                              }
                            }
                          }
                    });
                }
                else{
                    console.log( 'Este paquete no tiene sesiones que mostrar' );
                }
             }, "json"); // Fin de post    
        } //Fin funcion seguimientoTratamiento
        
        function redondeoV4(numero, decimales)
        {
            var resultado = Math.round(numero*Math.pow(10,decimales))/Math.pow(10,decimales);
            return resultado;
        }
    </script>
    {% endblock %}
