{#{% extends 'DGPlusbelleBundle:Layout:general.html.twig' %}#}


{% block contenido -%}
    
    
<div class="panel panel-default">
    <div class="panel-heading">
        <p>Registrar consulta</p>
    </div>
    
    <div class="panel-body">
    {{ form_start(form) }}
        {{ form_errors(form) }}
            {#  {{ form(form) }}  #}
            
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center">Paciente</h3>
                        
                    </div>
                </div>
                {# Formulario de persona #}

                <div class="row">
                    <div class="col-md-3">
                        {{ form_row(form.paciente.persona.primerNombre) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.paciente.persona.segundoNombre) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.paciente.persona.primerApellido) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.paciente.persona.segundoApellido) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        {{ form_row(form.paciente.persona.direccion) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.paciente.persona.telefono) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.paciente.persona.email) }}
                    </div>

                {# Formulario de paciente #}
                    <div class="col-md-3">
                        {{ form_row(form.paciente.dui) }}
                    </div>
                    
                </div>
                    <div class="row">
                        <div class="col-md-3">
                            {{ form_row(form.paciente.referidoPor) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.paciente.fechaNacimiento) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.paciente.estadoCivil) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.paciente.sexo) }}
                        </div>
                       
                    </div>
                        
                    
                    <div class="row">   
                        <div class="col-md-3">
                            {{ form_row(form.paciente.telefonoEmergencia) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.paciente.ocupacion) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.paciente.lugarTrabajo) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.paciente.personaEmergencia) }}
                        </div>
                    </div>
                        
                <div class="row">
                    <br>
                    <hr>
                    <div class="col-md-12">
                        <h3 class="text-center">Consulta</h3>
                    </div>
                </div>
            
            {# Formulario de consulta#}
            <div class="row">
                <br>
                <div class="col-md-2">
                    {{ form_row(form.fechaConsulta) }}
                </div>
                
                <div class="col-md-2">
                    {{ form_row(form.horaInicio) }}
                </div>
                
                <div class="col-md-2">
                    {{ form_row(form.horaFin) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.tipoConsulta) }}
                </div>
                
                <div class="col-md-3">
                    {{ form_row(form.tratamiento) }}
                </div>
                
            </div>
            
            
            <div class="row">
                <br>
                {#<div class="col-md-3">
                    {{ form_row(form.cita) }}
                </div>
                #}
                <div class="col-md-3">
                    {{ form_row(form.incapacidad) }}
                </div>
                
                <div class="col-md-9">
                    {{ form_row(form.observacion) }}
                </div>
            </div>
            {#
        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_consulta') }}">
            Back to the list
        </a>
    </li>
</ul>#}
            
            <br>
            <div class="form-grouphide"> 
                 <a href="{{ path('admin_sucursal') }}" class="btn btn-default btn-sm" id="cancelarNuevo">Cancelar</a>
                {{ form_widget(form.submit) }}
             </div>
	        
        
     
 </div>
{{ form_widget(form._token) }}
</div>  
{{ form_end(form) }}   
            
{% endblock %}



