{#{% extends 'DGPlusbelleBundle:Layout:general.html.twig' %}#}
{% extends 'DGPlusbelleBundle:Layout:layouterpajustes.html.twig' %}



{% block navegacion %}
{#        {{parent()}}#}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_reporte_emergencia') }}" class="leftnava"><li class="leftnav left">Ingresos consulta<span class="pull-right right"><i class=""></i></span></li></a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_reporte_diario') }}" class="leftnava"><li class="leftnav left">Ingresos diarios<span class="pull-right right"><i class=""></i></span></li></a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_reporte_referidos') }}" class="leftnava"><li class="leftnav left ">Pacientes referidos<span class="pull-right right"><i class=""></i></span></li></a>
    {% endif %}
    {#{% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_tratamiento') }}" class="leftnava"><li class="leftnav left">Tratamientos<span class="pull-right right"><i class=""></i></span></li></a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_categoria') }}" class="leftnava"><li class="leftnav left">Categorias<span class="pull-right right"><i class=""></i></span></li></a>
    {% endif %}#}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_empleado_progreso_venta') }}" class="leftnava"><li class="leftnav left active">Progreso empleado<span class="pull-right right"><i class="fa fa-arrow-right"></i></span></li></a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        {#<a href="{{ path('admin_sucursal') }}" class="leftnava"><li class="leftnav left ">Sucursal<span class="pull-right right"><i class=""></i></span></li></a>#}
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        
    {% endif %}
        
            {#<li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('admin_reporte_consolidado_paquete') }}"><span class="nav-text">Consolidado de paquetes</span></a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('admin_reporte_tratamiento_frecuente') }}"><span class="nav-text">Tratamiento más vendido</span></a></li>#}
            
            
            
        
{% endblock navegacion %}

{% block descripcion %}
    <div class="col-md-6">
        <p class="robo" style="font-weight: 300; margin-bottom: 0px; font-size: 30px;">Reporte de progreso de empleado</p>
        <p class="robo" style="font-weight: 300; font-size: 14px; height: 40px;">Genere reporte de los empleados con metas de venta, controle quienes cumplen dicho objetivo.</p>
    </div>
{% endblock %}


{% block css %}
    {{parent()}}
        <link rel="stylesheet" href="{{ asset('Resources/wrapkit/styles/components.css') }}">
{% endblock %}

{% block contenido -%}
    
    
    
    <!-- ============================================
    MAIN CONTENT SECTION
    =============================================== -->
        <div class="content-body">
          <div class="panel" data-fill-color="true">
            

            <div class="panel-body">
              <div class="btn-toolbar clearfix" role="toolbar">
                <div class="btn-group pull-left">
                    <input id="fecha" class="form-control input-sm" placeholder="Filtrar fecha...">
                </div>
              </div><!-- /btn-toolbar -->
            </div><!-- /.panel-body -->  
            <div id="contenedorEmpleados" >
            </div>
            
          </div><!-- /.panel -->
    </div><!-- /.body -->
        
       
            
    {% endblock %}
    
    
    {% block javascripts_step %}
        {{parent()}}
        
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
        <script src="{{ asset('Resources/Zebra/js/zebra_datepicker.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
        <script src="{{ asset('Resources/js/Paciente.js') }}"></script>
        
        <script src="{{ asset('Resources/wrapkit/scripts/bootbox.js') }}"></script>
        <script src="{{ asset('Resources/wrapkit/scripts/chartjs.js') }}"></script>
        <script type="text/javascript" src="{{ asset('Resources/Zebra/inicializacioncalendarios.js')}}" ></script>    
        
        
        
        <script type="text/javascript" src="{{ asset('Resources/wrapkit/scripts/jquery.easypiechart.js')}}"></script>
        <script type="text/javascript" src="{{ asset('Resources/wrapkit/scripts/demo/chart-inline-demo.js')}}"></script>
        <script>
            $(document).ready(function(){
                var fecha = $('#fecha').val();
                var datepickerInicio = $('#fecha').data('Zebra_DatePicker');
                datepickerInicio.update({
                    format: 'm-Y',
                    onSelect: function(){
                        $('#contenedorEmpleados').html('');
                        fecha = $('#fecha').val();
                        var url = "{{ path('admin_empleado_progreso_venta_ajax') }}";
                        url+="?fecha="+fecha;
                        $('#contenedorEmpleados').load(url);        
                    }
                });  
            });//Fin document ready
        </script>
    {% endblock %}
