{% extends 'DGPlusbelleBundle:Layout:layouterp.html.twig' %}
{#{% extends 'DGPlusbelleBundle:Layout:layout.html.twig' %}#}

{% block descripcion %}
    <div class="col-md-6">
        <p class="robo" style="font-weight: 300; margin-bottom: 0px; font-size: 30px;">Nueva contrase単a</p>
        <p class="robo" style="font-weight: 300; font-size: 14px; height: 40px;">Ingrese su nueva contrase単a.</p>
    </div>
{% endblock %}

{% block contenido -%}
    
    <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><p>Editar contrase単a</p></div>
  <div class="panel-body">
  {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    <div class="row">
        <div class="col-md-3">
            {{ form_row(edit_form.password.first) }}
        </div>
        <div class="col-md-3">
            {{ form_row(edit_form.password.second) }}
        </div>
    </div>
  
     <div class="form-grouphide col-sm-9">
        <a href="{{ path('admin_cita') }}" class="btn btn-default btn-sm" id="cancelarNuevo">Cancelar</a>
        {{ form_widget(edit_form.submit) }}
      </div>
      <div>
            {{ form_widget(edit_form._token) }}
      </div>
  </div>


</div>        

{% endblock %}


{% block javascripts_step %}
      <script src="{{ asset('Resources/js/EditUsuario.js') }}"></script>  
      
       <script>
            $(document).ready(function(){
           var seleccionado="";
                //Eliminar options del select de usuario
                $('#dgplusbellebundle_usuario_persona option').each(function(index, val) {
                    
                    seleccionado = $(this).attr('selected');
                    if (!seleccionado){
                        $(this).remove();
                    }
                });    
                
               validarEditUsuario();            
                /*$('#dgplusbellebundle_usuario_submit').on('click', functions(){
                    if( $('#dgplusbellebundle_usuario_password_second').val()!= $('#dgplusbellebundle_usuario_password_second').val() ){
                        bootbox.alert('Contrase単as deben ser iguales');
                    }
                });*/
          });//Fin document ready
       </script>           
 {% endblock %}  