{% extends 'DGPlusbelleBundle:Layout:layout.html.twig' %}



{% block contenido -%}
    <h1>Imágenes</h1>

    
    
    
    
    
          

    <!-- ============================================
    MAIN CONTENT SECTION
    =============================================== -->
    
    {#<div class="row">
        <div class="col-md-6 text-center"><b><h3>Fotos antes</h3></b></div>
        <div class="col-md-6 text-center"><b><h3>Fotos despues</h3></b></div>
    </div>#}

        <div class="content-body">
            <div id="gallery" class="gallery-content gallery-grid" itemscope itemtype="http://schema.org/ImageGallery">
                
                    {% if entities %}
                        {% for entity in entities %}
                            <div class="gallery-col mix" data-mysort="147">
                              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="{{ asset('Photos/Paciente/')}}{{entity.fotoAntes}}">
                                <div class="thumbnail" data-lref="{{ asset('Photos/Paciente/')}}{{entity.fotoAntes}}" itemprop="contentUrl" data-size="1280x720">
                                  <div class="embed-responsive embed-responsive-16by9">
                                    <img class="embed-responsive-item" itemprop="thumbnail" src="{{ asset('Photos/Paciente/')}}{{entity.fotoAntes}}" alt="dummy image">
                                    <div class="embed-bar">

                                    </div>
                                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">

                                      <div><i class="icon-calendar"></i>  {{ entity.fechaSesion|date('d-m-Y')}}</div>
                                    </div>
                                  </div><!-- /.embed -->
                                </div><!-- /.thumbnail -->
                                <div class="gallery-info">
                                  <p class="hidden-gallery-grid text-muted pull-right"><small></small></p>
                                  <h3 class="img-title" itemprop="caption description"></h3>
                                  <p class="img-desc"></p>
                                  <div class="hidden-gallery-grid">
                                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                                  </div>
                                </div><!-- /.gallery-info -->
                              </div><!-- /.gallery-item -->
                            </div><!-- /.cols -->
                        {% endfor %}
                    
                        {% for entity in entities %}
                            <div class="gallery-col mix" data-mysort="147">
                                <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="{{ asset('Photos/Paciente/')}}{{entity.fotoDespues}}">
                                <div class="thumbnail" data-lref="{{ asset('Photos/Paciente/')}}{{entity.fotoDespues}}" itemprop="contentUrl" data-size="1280x720">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <img class="embed-responsive-item" itemprop="thumbnail" src="{{ asset('Photos/Paciente/')}}{{entity.fotoDespues}}" alt="dummy image">
                                        <div class="embed-bar">

                                        </div>
                                        <div class="embed-bar hidden-gallery-list embed-bar-bottom">

                                            <div><i class="icon-calendar"></i>  {{ entity.fechaSesion|date('d-m-Y')}}</div>
                                        </div>
                                    </div><!-- /.embed -->
                                </div><!-- /.thumbnail -->
                                <div class="gallery-info">
                                    <p class="hidden-gallery-grid text-muted pull-right"><small></small></p>
                                    <h3 class="img-title" itemprop="caption description"></h3>
                                    <p class="img-desc"></p>
                                    <div class="hidden-gallery-grid">
                                        <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                                        <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                                        <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                                    </div>
                                </div><!-- /.gallery-info -->
                              </div><!-- /.gallery-item -->
                            </div><!-- /.cols -->
                        
                        {% endfor %}
                    {% else %}
                        <div class="row">
                            <div class="col-lg-12 text-center"><b>Este registro no tiene imágenes</b></div>
                        </div>
                        
                    {% endif %}
                </div>
            </div><!-- /.gallery-content -->

        </div><!-- /.content-body -->


        <!-- Photoswipe fs template -->
        <!-- Root element of PhotoSwipe. Must have class pswp. -->
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

          <!-- Background of PhotoSwipe.
          It's a separate element as animating opacity is faster than rgba(). -->
          <div class="pswp__bg"></div>

          <!-- Slides wrapper with overflow:hidden. -->
          <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">
              <div class="pswp__top-bar">
                <!--  Controls are self-explanatory. Order can be changed. -->
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                  <div class="pswp__preloader__icn">
                    <div class="pswp__preloader__cut">
                      <div class="pswp__preloader__donut"></div>
                    </div>
                  </div>
                </div><!-- /.pswp__preloader -->
              </div><!-- /.pswp__top-bar -->

              <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
              </div><!-- /.pswp__share -->

              <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
              </button>

              <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
              </button>

              <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
              </div>

            </div><!-- /.pswp__ui -->
          </div><!-- /.pswp__scroll-wrap -->
        </div><!-- /.pswp -->


        <!-- Template Setups -->
        <div class="modal fade" id="templateSetup">
          <div class="modal-dialog">
            <!-- modal-content -->
            <div class="modal-content"></div>
          </div><!-- /.modal-dialog -->
        </div><!-- /.templateSetup -->

      </div><!-- /.content -->
    </section><!-- /MAIN -->

    <!-- ============================================
    MAIN CONTENT SECTION
    =============================================== -->
    <section class="content-wrapper" role="main">
      <div class="content">
        <div class="content-bar">
          <div class="pull-right" role="group">
            <a data-toggle="modal" href="#" data-scripts="_includes/setups.js" data-target="#templateSetup" title="Template Setups" aria-label="template setups" class="btn btn-nofill btn-sm btn-default" href="#"><span class="icon-settings fa-lg text-muted"></span></a>
          </div>
          <ul class="breadcrumb breadcrumb-angle">
            <li><a href="#" aria-label="home"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">Gallery</li>
          </ul>
        </div><!-- /.content-bar -->


        <div class="content-body">
          <div class="gallery-control">
            <div class="btn-toolbar">
              <div class="btn-group mr-2x">
                <div class="input-group input-group-in no-bg no-border" style="max-width:200px">
                  <div class="input-group-addon no-padding pr-2x"><i class="icon-magnifier"></i></div>
                  <input data-toggle="gallery-filter" class="form-control no-padding" placeholder="Search images...">
                </div>
              </div><!-- /.btn-group -->
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-nofill btn-default pull-right" title="upload new..." aria-label="upload new..."><i class="icon-cloud-upload"></i></button>
                <button data-toggle="gallery-layout" type="button" class="btn btn-nofill btn-default pull-right" title="toggle view" aria-label="toggle view"><i class="icon-list"></i></button>
              </div><!-- /.btn-group -->
              <div class="btn-group pull-right mr-3x">
                <p class="form-control-static pull-left mr-2x">Sort: </p>
                <button data-toggle="gallery-sort" data-sort="default" type="button" class="btn btn-nofill btn-default focus" aria-label="sort random"><i class="icon-shuffle"></i></button>
                <button data-toggle="gallery-sort" data-sort="mysort:asc" type="button" class="btn btn-nofill btn-default" aria-label="sort ascending"><i class="fa fa-sort-alpha-asc"></i></button>
                <button data-toggle="gallery-sort" data-sort="mysort:desc" type="button" class="btn btn-nofill btn-default" aria-label="sort descending"><i class="fa fa-sort-alpha-desc"></i></button>
              </div><!-- /.btn-group -->
            </div><!-- /.btn-toolbar -->
          </div><!-- /.gallery-control -->

          <div id="gallery" class="gallery-content gallery-grid" itemscope itemtype="http://schema.org/ImageGallery">

            <div class="gallery-col mix" data-mysort="245">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/city/6" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/city/6" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-primary">JPG</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-primary">JPG</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 27, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 27, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">latitancy</h3>
                  <p class="img-desc">Nemo aperiam suscipit sit mollitia animi pariatur magnam, repellendus voluptates?</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="147">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/city/9" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/city/9" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-danger">VIDEO</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-danger">VIDEO</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 15, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 15, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">saccharic</h3>
                  <p class="img-desc">Suscipit quam beatae labore, maiores corporis voluptatem. Quam, eius unde.</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="742">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/city/10" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/city/10" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-warning">GIF</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-warning">GIF</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 16, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 16, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">Pisistratean</h3>
                  <p class="img-desc">Consequatur sit laudantium ad expedita hic perferendis, iure nisi error!</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="15">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/city/5" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/city/5" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-success">PNG</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-success">PNG</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 02, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 02, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">Apetalae</h3>
                  <p class="img-desc">Quaerat iste voluptas autem dolorum, doloremque, necessitatibus veritatis explicabo!</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="553">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/city/3" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/city/3" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-warning">GIF</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-warning">GIF</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 28, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 28, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">meiobar</h3>
                  <p class="img-desc">Voluptatem possimus sunt explicabo velit vitae ad, neque nemo dolor.</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="152">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/city/7" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/city/7" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-success">PNG</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-success">PNG</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 18, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 18, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">Hanukkah</h3>
                  <p class="img-desc">Ratione itaque maiores, asperiores dolorem in voluptas unde magni voluptatibus!</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="807">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/city/8" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/city/8" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-success">PNG</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-success">PNG</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 18, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 18, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">bantling</h3>
                  <p class="img-desc">Atque fugit, dicta ipsa quod soluta! Voluptate blanditiis quisquam facilis.</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="947">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/city/2" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/city/2" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-primary">JPG</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-primary">JPG</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 10, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 10, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">inconspicuous</h3>
                  <p class="img-desc">Reprehenderit cupiditate neque, praesentium quibusdam facilis modi?</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="892">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/city/1" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/city/1" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-warning">GIF</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-warning">GIF</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 13, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 13, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">crystallographic</h3>
                  <p class="img-desc">Et illum nisi cum quasi tempora optio obcaecati deserunt ratione!</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="553">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/city/4" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/city/4" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-success">PNG</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-success">PNG</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 24, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 24, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">axinomancy</h3>
                  <p class="img-desc">Accusamus nesciunt explicabo quos, voluptatem doloremque, nam omnis cumque ea.</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="863">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/people/6" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/people/6" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-primary">JPG</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-primary">JPG</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 03, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 03, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">ethanediol</h3>
                  <p class="img-desc">Odit unde repellendus, ipsa pariatur hic aspernatur quaerat voluptates dolor.</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="348">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/business/9" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/business/9" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-success">PNG</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-success">PNG</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 14, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 14, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">protarsus</h3>
                  <p class="img-desc">Eos vero iste labore facilis dolore architecto sed tenetur ut!</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="177">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/people/3" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/people/3" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-success">PNG</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-success">PNG</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 09, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 09, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">Fumariaceae</h3>
                  <p class="img-desc">Ut laudantium rerum voluptas rem porro ratione repellendus aperiam deserunt.</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="781">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://brokenlinksample.1280/720/320/people" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://brokenlinksample.com/640/360/people/9" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-success">PNG</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-success">PNG</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 07, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 07, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">Failed load sample</h3>
                  <p class="img-desc">Ex veritatis, quae. Numquam eligendi ex beatae perspiciatis amet! Deleniti.</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="881">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/animals/7" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/animals/7" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-primary">JPG</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-primary">JPG</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 27, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 27, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">doulocracy</h3>
                  <p class="img-desc">Facere, quas. Adipisci incidunt totam, hic libero inventore?</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="44">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/food/4" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/food/4" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-danger">VIDEO</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-danger">VIDEO</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 27, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 27, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">plumular</h3>
                  <p class="img-desc">Iusto id, veniam non repellat officiis adipisci culpa et ducimus!</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="593">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/people/4" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/people/4" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-primary">JPG</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-primary">JPG</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 17, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 17, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">patronymically</h3>
                  <p class="img-desc">Molestiae, corporis enim facilis commodi odit molestias vel quo rerum!</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="821">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/business/7" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/business/7" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-primary">JPG</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-primary">JPG</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 19, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 19, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">oliganthous</h3>
                  <p class="img-desc">Culpa expedita dolores, esse numquam iure maxime itaque quod obcaecati.</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="361">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/people/7" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/people/7" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-danger">VIDEO</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-danger">VIDEO</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 28, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 28, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">Titian</h3>
                  <p class="img-desc">Pariatur minus eligendi ut tempore, aliquam. Sed architecto eos laudantium!</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="122">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/cats/3" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/cats/3" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-warning">GIF</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-warning">GIF</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 21, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 21, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">annihilate</h3>
                  <p class="img-desc">A doloremque error earum, voluptatem ab molestias. Incidunt, aliquam, aut.</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="87">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/fashion/6" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/fashion/6" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-danger">VIDEO</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-danger">VIDEO</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 02, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 02, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">preconjecture</h3>
                  <p class="img-desc">Molestias totam error, eligendi aut modi quidem facilis eaque nobis.</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="61">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/transport/2" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/transport/2" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-primary">JPG</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-primary">JPG</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 26, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 26, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">Theophilus</h3>
                  <p class="img-desc">Eaque id eligendi pariatur ducimus fugit doloribus sit non enim!</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="30">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/nightlife/4" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/nightlife/4" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-warning">GIF</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-warning">GIF</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 04, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 04, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">chaetophoraceous</h3>
                  <p class="img-desc">Nam ducimus, hic, perspiciatis consequuntur officiis non sit dolores sint.</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

            <div class="gallery-col mix" data-mysort="822">
              <div class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <div class="thumbnail" data-lref="http://lorempixel.com/1280/720/transport/10" itemprop="contentUrl" data-size="1280x720">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" itemprop="thumbnail" src="http://lorempixel.com/640/360/transport/10" alt="dummy image">
                    <div class="embed-bar">
                      <div class="hidden-gallery-grid"><div class="label label-primary">JPG</div></div>
                      <div class="pull-right hidden-gallery-list"><div class="label label-primary">JPG</div></div>
                    </div>
                    <div class="embed-bar hidden-gallery-list embed-bar-bottom">
                      <div class="pull-right">
                        <a href="#" class="text-blue mr-2x" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                        <a href="#" class="text-orange mr-2x" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="text-red mr-2x" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                      </div>
                      <div><i class="icon-calendar"></i> Sep 18, 2015</div>
                    </div>
                  </div><!-- /.embed -->
                </div><!-- /.thumbnail -->
                <div class="gallery-info">
                  <p class="hidden-gallery-grid text-muted pull-right"><small>Sep 18, 2015</small></p>
                  <h3 class="img-title" itemprop="caption description">Aaronic</h3>
                  <p class="img-desc">Libero vel fuga veritatis unde obcaecati, repellat, enim incidunt eius.</p>
                  <div class="hidden-gallery-grid">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="copy image link"><i class="icon-link"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-container="body" title="delete"><i class="icon-close"></i></a>
                  </div>
                </div><!-- /.gallery-info -->
              </div><!-- /.gallery-item -->
            </div><!-- /.cols -->

          </div><!-- /.gallery-content -->

          <!-- place lazy load more or pagination here -->
          <div id="loadMoreIndicator" class="help-block text-center mt-4x"><button class="btn btn-default btn-nofill"><span class="text-muted"><i class="fa fa-spinner fa-fw"></i> Load more...</span></button></div>

        </div><!-- /.content-body -->


        <!-- Photoswipe fs template -->
        <!-- Root element of PhotoSwipe. Must have class pswp. -->
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

          <!-- Background of PhotoSwipe.
          It's a separate element as animating opacity is faster than rgba(). -->
          <div class="pswp__bg"></div>

          <!-- Slides wrapper with overflow:hidden. -->
          <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">
              <div class="pswp__top-bar">
                <!--  Controls are self-explanatory. Order can be changed. -->
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                  <div class="pswp__preloader__icn">
                    <div class="pswp__preloader__cut">
                      <div class="pswp__preloader__donut"></div>
                    </div>
                  </div>
                </div><!-- /.pswp__preloader -->
              </div><!-- /.pswp__top-bar -->

              <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
              </div><!-- /.pswp__share -->

              <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
              </button>

              <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
              </button>

              <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
              </div>

            </div><!-- /.pswp__ui -->
          </div><!-- /.pswp__scroll-wrap -->
        </div><!-- /.pswp -->


        <!-- Template Setups -->
        <div class="modal fade" id="templateSetup">
          <div class="modal-dialog">
            <!-- modal-content -->
            <div class="modal-content"></div>
          </div><!-- /.modal-dialog -->
        </div><!-- /.templateSetup -->

      </div><!-- /.content -->
    </section><!-- /MAIN -->
    <!-- Photoswipe fs template -->
        <!-- Root element of PhotoSwipe. Must have class pswp. -->
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

          <!-- Background of PhotoSwipe.
          It's a separate element as animating opacity is faster than rgba(). -->
          <div class="pswp__bg"></div>

          <!-- Slides wrapper with overflow:hidden. -->
          <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">
              <div class="pswp__top-bar">
                <!--  Controls are self-explanatory. Order can be changed. -->
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                  <div class="pswp__preloader__icn">
                    <div class="pswp__preloader__cut">
                      <div class="pswp__preloader__donut"></div>
                    </div>
                  </div>
                </div><!-- /.pswp__preloader -->
              </div><!-- /.pswp__top-bar -->

              <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
              </div><!-- /.pswp__share -->

              <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
              </button>

              <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
              </button>

              <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
              </div>

            </div><!-- /.pswp__ui -->
          </div><!-- /.pswp__scroll-wrap -->
        </div><!-- /.pswp -->
    
    
    
    
    
{% endblock %}

{% block javascripts_step %}
    {{parent()}}
    
  <script src="{{ asset('Resources/wrapkit/scripts/jquery.mixitup.js') }}"></script>
  <script src="{{ asset('Resources/wrapkit/scripts/imagesloaded.pkgd.js') }}"></script>
  <script src="{{ asset('Resources/wrapkit/scripts/photoswipe.pkgd.js') }}"></script>
  <script src="{{ asset('Resources/wrapkit/scripts/demo/page-gallery-demo.js') }}"></script>
   
  
  
{% endblock %}