{% extends 'DGPlusbelleBundle:Layout:layout3.html.twig' %}

{% block css %}
    {{parent()}}
    <style>
        
        //Posicion del boton agregar
        .placas>div:last-child {
            position:absolute;
        }
        div.placas > div:nth-child(2) > div:nth-child(2) > div > a{
            display: none;
        }
        .addItem{
            position: absolute;
            height: 50px;
            float: right;
            margin-bottom: 50px;
            padding-bottom: 100px;
            top: -15px;
            left: -2px;
        }
        
            .addItem div {
                position: absolute;
            }
        
        .col-md-4{
            padding-top: 40px;
        }
        
        #dgplusbellebundle_consulta_horaInicio_hourSelectBoxItContainer, #dgplusbellebundle_consulta_horaInicio_minuteSelectBoxItContainer,
        #dgplusbellebundle_consulta_horaFin_hourSelectBoxItContainer, #dgplusbellebundle_consulta_horaFin_minuteSelectBoxItContainer{
            width:75px;
        }
        
            #dgplusbellebundle_consulta_horaInicio_hourSelectBoxItContainer,#dgplusbellebundle_consulta_horaFin_hourSelectBoxItContainer {
                float: left;
            }
            #dgplusbellebundle_consulta_horaInicio_minuteSelectBoxItContainer, #dgplusbellebundle_consulta_horaFin_minuteSelectBoxItContainer {
                float: right;
            }
            #dgplusbellebundle_consulta_horaInicio, #dgplusbellebundle_consulta_horaFin{
                width: 155px;
            }
          
    </style>
    
{% endblock %}


{% block contenido -%}

        <div class="content-body">
          <div class="panel" data-fill-color="true">
            <div class="panel-heading">
              <div class="panel-control pull-right">
                <a href="#" class="btn btn-icon" data-toggle="panel-refresh" rel="tooltip" data-placement="bottom" title="refresh"><i class="icon-refresh"></i></a>
                <a href="#" class="btn btn-icon" data-toggle="panel-expand" rel="tooltip" data-placement="bottom" title="expand"><i class="arrow_expand"></i></a>
                <a href="#" class="btn btn-icon" data-toggle="panel-collapse" rel="tooltip" data-placement="bottom" title="collapse"><i class="icon_minus_alt2"></i></a>
              </div>
              <h3 class="panel-title">Paquetes</h3>
            </div><!-- /.panel-heading -->

            <div class="panel-body">
              <div class="btn-toolbar clearfix" role="toolbar">
               
                <div class="btn-group btn-group-sm pull-left">
                   <button data-toggle="tooltip" data-container="body" title="Nuevo paquete" id="add-datatables1" class="btn btn-default" role="button">
                    <i class="fa fa-plus"></i>
                      </button> 
                </div>
                <div class="btn-group btn-group-sm pull-left">
                  <button id="edit-datatables1" data-toggle="tooltip" data-container="body" title="Modificar paquete" class="btn btn-default datatables1-actions disabled" role="button">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button id="delete-datatables1" data-toggle="tooltip" data-container="body" title="Cambiar estado" class="btn btn-default datatables1-actions disabled" role="button">
                    <i class="fa fa-toggle-off"></i>
                  </button>
                </div>
                <div class="btn-group pull-left">
                  <input id="filterDatatables1" class="form-control input-sm" placeholder="Buscar...">
                </div>
              </div><!-- /btn-toolbar -->
            </div><!-- /.panel-body -->

            <div class="panel-body hide" id="addFormContainer">
              {% include 'DGPlusbelleBundle:Paquete:new.html.twig' %}
            </div><!-- /.panel-body -->
            
            <div class="panel-body hide" id="editFormContainer">
              {#{% include 'DGPlusbelleBundle:Sucursal:edit.html.twig' %}#}
            </div>

            <div class="panel-body hide" id="editFormContainer">
         
            </div><!-- /.panel-body --> 
    

   <!--    <a href="{{ path('admin_paquete_new') }}" class="btn btn-success"> Crear nuevo paquete</a>  -->

    <table id = "datatables1" class="table table-noborder table-hover bordered-top" >
        <thead>
            <tr>
               <th>N°</th>
                <th>Nombre</th>
                <th style="text-align: right; padding-right: 20px">Costo</th>
                <th><center>Estado</center></th>
              {#   <th>Actions</th>  #}
            </tr>
        </thead>
        <tbody>
        {% for key, entity in entities %}
            <tr id="{{entity.id}}">
                  <td>
                      {#<a class="correlativo" href="{{ path('admin_sucursal_show', { 'id': entity.id }) }}">#}
                          {{key+1}}
                      {#</a>#}
                  </td>
              {#    <td><a href="{{ path('admin_paquete_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>  #}
                <td> 
                    <p class="detallePaciente">
                        {{ entity.nombre|upper }}
                    </p>
                </td>
                <td style="text-align: right; padding-right: 20px">  $ {{ entity.costo|number_format(2, '.', ',') }}</td>
               <td><center>
                    {% if entity.estado == 1 %}
                        Activo
                    {% else %}
                        Inactivo
                    {% endif %}
                    
               </center> </td>
              <!--      <td>
                <ul>
                  <li>
                        <a href="{{ path('admin_paquete_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_paquete_edit', { 'id': entity.id }) }}">edit</a>
                    </li>  
                </ul>
                </td> -->
            </tr>
        {% endfor %}
        </tbody>
    </table>
      </div><!-- /.content -->
      
       <!-- Template Setups -->
     {#   <div class="modal fade" id="templateSetup">
          <div class="modal-dialog">
            <!-- modal-content -->
            <div class="modal-content"></div>
          </div><!-- /.modal-dialog -->
        </div><!-- /.templateSetup --> #}
      
       </div><!-- /.panel -->
        
  {% endblock %}      

  {% block javascripts_step %}
        <script src="{{ asset('Resources/js/Paquete.js') }}"></script>
      
       <script>
            $(document).ready(function(){
                  var link=0;
                  var estadoPrevio = "";
                //Seleccionar un registro
                $('#datatables1>tbody>tr').on('click', function(event) {
                    //Se limpia los otros que esten activos
                    $('#datatables1>tbody>tr').each(function(index, val) {
                        $(this).removeClass("active");
                    });
                    //Se activa el registro en el que se hizo click
                    $(this).addClass("active");
                    //Se habilitan los botones de editar y borrar
                    $("#edit-datatables1").removeClass("disabled");
                    $("#delete-datatables1").removeClass("disabled");
                    
                    //var link=$('#datatables1>tbody>tr>td>a').attr("href");
                    //var link=$(this).children("td:first").children().attr("href");
                    //Obtener el id del registro
                    link=$(this).attr("id");
                    //alert(link);
                    //Carga del form modificar
                    //$("#editFormContainer").load(link+"/edit");
                    
                     //Hay que cambiar el numero de la columna para las otras tablas
                    estadoPrevio = $(this).children('td:nth-child(4)').children().html();
                    estadoPrevio = estadoPrevio.trim();
                    if(estadoPrevio==="Inactivo"){//se muestran los iconos de desactivado
                        $('#delete-datatables1').children().removeClass("fa fa-toggle-on");
                        $('#delete-datatables1').children().addClass("fa fa-toggle-off");
                    }
                    else{//se muestran los iconos de activado
                        $('#delete-datatables1').children().removeClass("fa fa-toggle-off");
                        $('#delete-datatables1').children().addClass("fa fa-toggle-on");
                    }
                    //var href=link.attr("href");
                    //alert(object);
                    
                    
                });
                              
                $('.tratamientoPaquete').select2();
                
                $("#add-datatables1").click(function(){
                    if($("#addFormContainer").hasClass("hide")){
                        $("#addFormContainer").removeClass("hide");
                        $("#editFormContainer").addClass("hide");
                    }
                    else{
                        $("#addFormContainer").addClass("hide");
                        limpiarCampos();
                        //$("#editFormContainer").removeClass("hide");
                    }

                });
                
                     $("#delete-datatables1").click(function(){
                        if(!$(this).hasClass('disabled')){     
                        bootbox.confirm("¿Desea cambiar el estado de este registro?", function(result) {
                        if(result){
                        $.getJSON(Routing.generate('admin_paquete_desactivar', { id: link}), 
                          function(data) {
                           var mensaje="";
                                    if(data.regs==0){
                                        //Se cambia a desactivado
                                        mensaje ="Paquete desactivado con exito";
                                        $('#'+link + ' > td:nth-child(4)').html('<center>Inactivo</center>');
                                        $('#delete-datatables1').children().removeClass("fa fa-toggle-on");
                                        $('#delete-datatables1').children().addClass("fa fa-toggle-off");
                                    //$('#datatables1>tbody>tr>td:nth-child(5)').html('Inactivo');
                                    }
                                    if(data.regs==1){
                                        //Se cambia a activado
                                        mensaje ="Paquete activada con exito";
                                        $('#'+link + ' > td:nth-child(4)').html('<center>Activo</center>');
                                        $('#delete-datatables1').children().removeClass("fa fa-toggle-off");
                                        $('#delete-datatables1').children().addClass("fa fa-toggle-on");
                                    }
                                    bootbox.alert(mensaje, function() {
                                        //Example.show("Hello world callback");
                                    });
                                    
                                // alert(link);
                            }); 
                        }
                                    
                    });     
                        }

                }); 
                
                //Accion cancelar del boton nuevo
                $("#cancelarNuevo").click(function(){
                    $("#add-datatables1").click();
                    limpiarCampos();
                    return false;
                });
                
                //Accion cancelar del boton modificar
                $("#cancelarModificar").click(function(){
                    $("#edit-datatables1").click();
                    return false;
                });
                
                
                $("#edit-datatables1").click(function(){
                    var url = Routing.generate('admin_paquete_edit', { id: link});
                    window.location.href = url;
                    //alert(url);
                    /*return false;
                    if(!$("#edit-datatables1").hasClass("disabled")){
                        if($("#editFormContainer").hasClass("hide")){
                            $("#addFormContainer").addClass("hide");
                            $("#editFormContainer").removeClass("hide");
                        }
                        else{
                            //$("#addFormContainer").removeClass("hide");
                            $("#editFormContainer").addClass("hide");
                        }
                    }*/

                });
                /*
                $("#dgplusbellebundle_sucursal_submit").click(function(){
                    $(".icon-refresh").click();
                    return false;
                });
                */
                $('#filterDatatables1').on('keyup', function(event) {
                    var filtro = $(this).val(); 
                    //alert(filtro);
                    $('#datatables1_filter>label>input').val($(this).val());
                    $('#datatables1_filter>label>input').keyup();

                });
                
                
                $('#datatables1').DataTable({ 
                    searching:true,
                    "order":[[0, "desc"],[1,"desc"]],
                    "columnDefs": [
                           { "orderable": false, "targets": 0 },
                           { "orderable": false, "targets": 2 },
                           { "orderable": false, "targets": 3 }
                        
                      
                           //{ "orderData": [ 2, 3, 4 ], "targets": 2 }
                    ],
                    "language": {
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "",
                    "emptyTable": "No se encontraron registros",
                    "paginate": { 
                        "next": "Siguiente",
                        "previous": "Antetior"
                    },
                    "processing": "Procesando petición...",
                    "search": "Buscar registros:",
                    "lengthMenu": "Mostrar _MENU_ registros"
                },          
                //"bDestroy": true   
        });
        
        $('#datatables1>tr>td').on('click', function(event) {
            alert('dsv');
        });
        //Oculta el filtro de la tabla
        $('#datatables1_filter').hide();
        $('#filterDatatables1').val('');
        
        
      
        
    });//Fin document ready
        
    //Definición de funciones
    function limpiarCampos(){
        //Limpiar los campos de tipo text
        $("input[type=text]").each(function(index, val) {
            $(this).val("");
        });
        //Seleccionar el primer elemento de los dropdown
        $('select option').each( function(index, val) {
            if(index == 0){
                $(this).attr("selected","selected");
            }
            else{
                $(this).removeAttr("selected");
            }
            
        
	});             
    };
        </script>
        


        <script>

// Get the ul that holds the collection of tags
var collectionHolder = $('div.placas');
var col=$('#hnr_sircimbundle_estudioradiologicotype_placas');
// setup an "add a tag" link
var $addTagLink = $('<div class="row"><div class="col-md-2"><a href="#" class="btn btn-primary ">Agregar tratamiento</a></div></div>');
var $removeTagLink = $('<a href="#" class="remove_placa_link btn btn-danger">Eliminar</a>');
var $newLinkLi = $('<div class="col-md-12 addItem"></div>').append($addTagLink);
var $delLinkLi = $('#hnr_sircimbundle_estudioradiologicotype_placas.required').append($removeTagLink);





jQuery(document).ready(function() {

    //$("#dgplusbellebundle_consulta_pacienteSelectBoxItOptions li").remove();

  /*  $('#dgplusbellebundle_consulta_fechaConsulta').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    locale: {
                        format: 'YYYY-MM-DD'
                    },
                });*/

   //$('input[id$=dgplusbellebundle_plantilla_placas_]').selectBoxIt;

    collectionHolder.find('li').each(function() {
        addTagFormDeleteLink($(this));

    });

    

    // add the "add a tag" anchor and li to the tags ul
    collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    collectionHolder.data('index', collectionHolder.find(':input').length);
    
    //Identificar que form esta activo
    var editar=$('div.placas').attr('id');
   // if(editar!='editar_usuario'){
        addTagForm(collectionHolder, $newLinkLi);   //Muestra un formulario en la carga de la página nuevo
   // }
    


    $addTagLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm(collectionHolder, $newLinkLi);
        // $('.btn_radio').attr('name', 'rol_predet');
    });

 validarPaquete(); 
    
});


function addTagForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = collectionHolder.data('prototype');

    // get the new index
    var index = collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<div class="col-md-4"></div>').append(newForm);
    $newLinkLi.before($newFormLi);
    


    // add a delete link to the new form
    addTagFormDeleteLink($newFormLi);
    validarPaquete(); 
    $('.btn_radio').click(function(event) {
        /* Act on the event */
        var id = $(this).attr('id');
        // alert(id);
        $('.btn_radio').prop('checked', false);
        $('#'+id).prop('checked', true);
        $('.btn_radio').removeClass('errorform');
    });
}

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<div class="col-md-1"><a class="link btn btn-danger" href="#">Eliminar</a></div>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $('input[name="rol_predet"]:checked').each(function() {
            //$(this).val() es el valor del checkbox correspondiente
           // alert('chequeado'); 
           $('#hnr_sircimbundle_usuariotype_placas_0_usroPredeterminado').prop('checked', true);
        });

        $tagFormLi.remove();
        
    });
}


$('#editar_usuario')
            .on('mouseover','div', function(){
                $(this).find('a.link').css('visibility','visible');
            })
            .on('mouseout','div', function(){ 
                $(this).find('a.link').css('visibility','hidden'); 
            });

$('#editar_usuario')
            .on('mouseover','li:first-child', function(){
                $(this).find('a.link').css('visibility','hidden');
            });


    
var editar=$('div.placas').attr('id');
if(editar!='editar_usuario'){
    // $('#hnr_sircimbundle_usuariotype_placas_0_usroPredeterminado').prop('checked', true);//Se carga el radiobutton seleccionado
}

 </script>

    {% endblock %} 
  

  
