

{% block contenido -%}
    
    
    <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><p>Nuevo paquete</p></div>
  <div class="panel-body">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    
    <div class="col-xs-12 col-sm-4">
     {{ form_row(form.nombre) }} 
     </div>
     <div class="col-xs-12 col-sm-2">
     {{ form_row(form.costo) }}
     </div>
     {# <div class="col-xs-12 col-sm-8">
     {{ form_row(form.tratamiento) }}
     </div>#}
     </div>
      <div class="col-xs-12 col-sm-8">
     {{ form_row(form.sucursal) }} 
     </div>
     
     <div class="row">  
                    <div id="listadoa">
                           <div class="listado col-md-12">
                               <div class="placas" data-prototype="{{ form_widget(form.placas.vars.prototype)|e }}">
                                   {{ form_widget(form.placas) }}
                               </div>
                           </div>
                    </div>

                </div> 
     {#{{ form_row(form.estado) }} #}


      <div class="form-grouphide col-sm-9"> 
       <a href="{{ path('admin_paquete') }}" class="btn btn-default btn-sm" id="cancelarNuevo">Cancelar</a>
        {{ form_widget(form.submit) }}
      </div>
    
 
 </div>

</div>  
{{ form_end(form) }}  
    
{% endblock %}
