<div class="col-xs-12 col-sm-3">
{{ form_row(edit_form.primerNombre) }}
</div>
{#<div class="col-xs-12 col-sm-2">
{{ form_row(edit_form.segundoNombre) }}
</div>#}
<div class="col-xs-12 col-sm-3">
{{ form_row(edit_form.primerApellido) }}
</div>
{#<div class="col-xs-12 col-sm-2">
{{ form_row(edit_form.segundoApellido) }}
</div>
<div class="col-xs-12 col-sm-2">
{{ form_row(edit_form.apellidoCasada) }}
</div>#}
<div class="col-xs-12 col-sm-1">
{{ form_row(edit_form.telefono) }}
</div>
<div class="col-xs-12 col-sm-3">
{{ form_row(edit_form.direccion) }}
</div>

<div class="col-xs-12 col-sm-2">
{{ form_row(edit_form.email) }}
</div>
