<div class="col-md-3">
{{ form_row(edit_form.nombres) }}
</div>
{#<div class="col-xs-12 col-sm-2">
{{ form_row(form.segundoNombre) }}
</div>#}
<div class="col-md-3">
{{ form_row(edit_form.apellidos) }}
</div>
{#<div class="col-xs-12 col-sm-2">
{{ form_row(form.segundoApellido) }}
</div>#}
{#<div class="col-xs-12 col-sm-2">
{{ form_row(form.apellidoCasada) }}
</div>#}
<div class="col-md-3">
{{ form_row(edit_form.telefono) }}
</div>
<div class="col-md-3">
{{ form_row(edit_form.telefono2) }}
</div>
<div class="clearfix"></div>
<div class="col-md-6">
{{ form_row(edit_form.direccion) }}
</div>

<div class="col-md-3">
{{ form_row(edit_form.email) }}
</div>
