<div class="col-xs-12 col-sm-2">
{{ form_row(form.primerNombre) }}
</div>
<div class="col-xs-12 col-sm-2">
{{ form_row(form.segundoNombre) }}
</div>
<div class="col-xs-12 col-sm-2">
{{ form_row(form.primerApellido) }}
</div>
<div class="col-xs-12 col-sm-2">
{{ form_row(form.segundoApellido) }}
</div>
<div class="col-xs-12 col-sm-2">
{{ form_row(form.apellidoCasada) }}
</div>
<div class="col-xs-12 col-sm-2">
{{ form_row(form.telefono) }}
</div>
<div class="col-xs-12 col-sm-5">
{{ form_row(form.direccion) }}
</div>

<div class="col-xs-12 col-sm-2">
{{ form_row(form.email) }}
</div>
