<div class="col-xs-12 col-sm-3">
{{ form_row(form.nombres) }}
</div>
{#<div class="col-xs-12 col-sm-2">
{{ form_row(form.segundoNombre) }}
</div>#}
<div class="col-xs-12 col-sm-3">
{{ form_row(form.apellidos) }}
</div>
{#<div class="col-xs-12 col-sm-2">
{{ form_row(form.segundoApellido) }}
</div>#}
{#<div class="col-xs-12 col-sm-2">
{{ form_row(form.apellidoCasada) }}
</div>#}
<div class="col-xs-12 col-sm-1">
{{ form_row(form.telefono) }}
</div>
<div class="col-xs-12 col-sm-3">
{{ form_row(form.direccion) }}
</div>

<div class="col-xs-12 col-sm-2">
{{ form_row(form.email) }}
</div>
