

{% block contenido -%}
    
      
       
<div class="panel panel-default">
    <div class="panel-heading"><p><strong>Modificar empleado</strong></p></div>

    {#{{ form(edit_form) }}#}

    <div class="panel-body">
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
 
   {% include 'DGPlusbelleBundle:Persona:edit_form.html.twig' with { 'edit_form': edit_form.persona }%} 
        
        <div class="col-xs-12 col-md-3">
            {{ form_row(edit_form.porcentaje) }}
        </div> 
        <div class="col-xs-12 col-md-3">
            {{ form_row(edit_form.meta) }}
        </div> 
        <div class="col-xs-12 col-md-3">
            {{ form_row(edit_form.bono) }}
        </div> 
        <div class="col-xs-12 col-md-3">
            {{ form_row(edit_form.cargo) }}
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 col-sm-4">
            <label class="control-label" for="dgplusbellebundle_empleado_sucursal">Foto de perfil</label>
            
            
            {#<div class="form-group">
                <div class="fileinput input-group fileinput-exists" data-provides="fileinput">
                    <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                    <div class="input-group-btn">
                        <span class="btn btn-default btn-file"><span class="fileinput-new">Examinar...</span><span class="fileinput-exists">Cambiar</span>#}
                            
                                {{ form_widget(edit_form.file) }}
                                {# {{ form_row(form.estado) }}#}
                            
{#                        </span>
                        <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Quitar</a>
                    </div>
                </div><!-- /.fileinput -->
            </div>#}
           
                        
        </div> 
        
        
         <div class="col-xs-12 col-sm-3">
      {#  {{ form_row(edit_form.foto) }} #}
         </div>
          <div class="col-xs-12 col-sm-12">
        {{ form_row(edit_form.tratamiento) }}
         </div>
   
    
        <div class="form-grouphide col-sm-12"> 
            <a href="{{ path('admin_empleado') }}" class="btn btn-default btn-sm" id="cancelarModificar">Cancelar</a>
                {{ form_widget(edit_form._token) }}
                {{ form_widget(edit_form.submit) }}
        </div>
    </div>
    
        </div>
 </div>

</div>  

{{ form_end(edit_form) }}   
    
{% endblock %}


{% block jquery %}
    <script src="{{ asset('Resources/js/EmpleadoEdit.js') }}"></script>
 <script>
            $(document).ready(function(){
               //Accion cancelar del boton modificar
               $("#cancelarModificar").click(function(){
               $("#edit-datatables1").click();
                return false;
        });
        
        // Validando campo telefono
        $('.telefonoPersona').mask('0000-0000'); 
        
         validarEmpleadoEdit();
    });
</script>
{% endblock %}
