{% extends 'DGPlusbelleBundle:Layout:general.html.twig' %}

{% block contenido -%}
    <h1>Listado de Empleados</h1>
    
     <a href="{{ path('admin_empleado_new') }}" class="btn btn-success"> Crear nuevo empleado</a>

    <table id = "datable" class="table table-bordered table-hover display dt-responsive" style="margin-top: 30px">
        <thead>
            <tr>
               {#  <th>Id</th>  #}
                <th>Cargo</th>
                <th>Foto</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
          {#       <td><a href="{{ path('admin_empleado_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td> #}
                <td>{{ entity.cargo }}</td>
                <td>{{ entity.foto }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_empleado_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_empleado_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
{% block javascripts_step %}
    <script type="text/javascript">
            $(document).ready(function() {
                    $('#datable').DataTable( {
                            "scrollCollapse": true,
                            "paging":         true
                    } );
            } );
    </script>
     {% endblock %}   