{% extends 'DGPlusbelleBundle:Layout:layout.html.twig' %}  
{% block css -%}
    {{parent()}}
<link rel="stylesheet" href="{{ asset('Resources/cropper/css/cropper.min.css') }}">
<link rel="stylesheet" href="{{ asset('Resources/cropper/css/main.css') }}">
{%- endblock %}

{% block js -%}
    {{parent()}}
<script type="text/javascript" src="{{ asset('Resources/bootstrap-3/js/jquery.min.js') }}"></script>  
<script type="text/javascript" src="{{ asset('Resources/cropper/js/cropper.min.js') }}"></script>  
<script type="text/javascript" src="{{ asset('Resources/cropper/js/main.js') }}"></script>  
{%- endblock %}

{% block contenido -%}
 <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><p>Empleado nuevo</p></div>
  <div class="panel-body">
  {{ form_start(form) }}
    {{ form_errors(form) }}
   
        {# <div class="col-xs-12 col-sm-6"> #}
        
      {#  </div> #}
     
        {% include 'DGPlusbelleBundle:Persona:form.html.twig' with { 'form': form.persona }%}  
        <div class="col-xs-12 col-sm-2">
        {{ form_row(form.cargo) }}
         </div>
        <div class="col-xs-12 col-sm-2">
        {{ form_row(form.sucursal) }}
        {# {{ form_row(form.estado) }}#}
        </div>
         <div class="col-xs-12 col-sm-3">
       {% include 'DGPlusbelleBundle:Photo:test.html.twig' %}
        {{ form_row(form.foto) }} 
         </div>
         <div class="col-xs-12 col-sm-12">
        {{ form_row(form.tratamiento) }}
         </div>
         
   
             <div class="form-grouphide col-sm-12">
                <a href="{{ path('admin_empleado') }}" class="btn btn-default btn-sm" id="cancelarNuevo">Cancelar</a>
                {{ form_widget(form.submit) }}
              </div>
            
      
  
    {{ form_end(form) }}
  </div>


</div>
    
    
    
{% endblock %}

