{% extends 'DGPlusbelleBundle:Layout:general.html.twig' %}

{% block contenido -%}
 <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"<h1>Empleado nuevo</h1></div>
  <div class="panel-body">
  {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row">
        {# <div class="col-xs-12 col-sm-6"> #}
        
      {#  </div> #}
        <div class="col-xs-12 col-sm-6">
        {% include 'DGPlusbelleBundle:Persona:form.html.twig' with { 'form': form.persona }%}    
        {{ form_row(form.cargo) }}
        {{ form_row(form.foto) }}
        {{ form_row(form.sucursal) }}
        {# {{ form_row(form.estado) }}#}
        </div>
    </div>
    <div class="row">
         <div class="col-xs-12 col-sm-6">
             <div class="modal-footer">
                <a href="{{ path('admin_empleado') }}" class="btn btn-default">Regresar al listado</a>
                {{ form_widget(form.submit) }}
              </div>
            
        </div>
    </div>
    {{ form_end(form) }}
  </div>


</div>
    
    
    
{% endblock %}