

{% block contenido -%}
    
    
  <div class="panel panel-default">
    <div class="panel-heading"><p>Modificar tratamiento</p></div>

    {#{{ form(edit_form) }}#}

    <div class="panel-body">
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    
    <div class="col-xs-12 col-sm-2">
     {{ form_row(edit_form.categoria) }} 
    </div>
    <div class="col-xs-12 col-sm-4">
     {{ form_row(edit_form.nombre) }} 
    </div>
    <div class="col-xs-12 col-sm-2">
     {{ form_row(edit_form.costo) }} 
    </div>
     <div class="col-xs-12 col-sm-12">
    {{ form_row(edit_form.sucursal) }} 
    </div>

        <div class="form-grouphide col-sm-9"> 
            <a href="{{ path('admin_tratamiento') }}" class="btn btn-default btn-sm" id="cancelarModificar">Cancelar</a>
                {{ form_widget(edit_form._token) }}
                {{ form_widget(edit_form.submit) }}
        </div>
    </div>
    
        </div>
  

{% endblock %}

{% block jquery %}
<script>
    $(document).ready(function(){
    //Accion cancelar del boton modificar
        $("#cancelarModificar").click(function(){
            $("#edit-datatables1").click();
            return false;
        });
        
        
    });
   
</script>
{% endblock %}
