

{% block contenido -%}
    
    <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"<h1>Nuevo tratamiento</h1></div>
  <div class="panel-body">
  {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-xs-12 col-sm-2">
        {{ form_row(form.categoria) }}
        </div>
        <div class="col-xs-12 col-sm-4">
        {{ form_row(form.nombre) }}
        </div>
        <div class="col-xs-12 col-sm-2">
        {{ form_row(form.costo) }}
        </div>
        {#{{ form_row(form.estado) }}#}
  
    </div>
    
         <div class="col-xs-12 col-sm-13">
            
                <a href="{{ path('admin_tratamiento') }}" class="btn btn-default  btn-sm" id="cancelarNuevo">Cancelar</a>
                {{ form_widget(form.submit) }}

        </div>
   
    {{ form_end(form) }}
  </div>


</div>        

{% endblock %}
