

{% block contenido -%}

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><p><strong>Nuevo tratamiento</strong></p></div>
<div class="panel-body">
  {{ form_start(form) }}
    {{ form_errors(form) }}
        <div class="col-xs-12 col-md-4">
        {{ form_row(form.categoria) }}
        </div>
        <div class="col-xs-12 col-md-4">
        {{ form_row(form.nombre) }}
        </div>
        <div class="col-xs-12 col-md-2">
        {{ form_row(form.costo) }}
        </div>
        <div class="clearfix"></div>
         <div class="col-xs-12 col-sm-12">
        {{ form_row(form.sucursal) }}
        </div>
        {#{{ form_row(form.estado) }}#}
  
        <div class="form-grouphide col-sm-9">    
            <a href="{{ path('admin_tratamiento') }}" class="btn btn-default  btn-sm" id="cancelarNuevo">Cancelar</a>
            {{ form_widget(form.submit) }}
        </div>
    {{ form_end(form) }}
</div>

</div>        

{% endblock %}

{% block javascripts_step %}
    
   <script> 
       
     $(document).ready(function(){
          $('#dgplusbellebundle_tratamiento_categoria').select2();

     });//Fin document ready 
  
  </script>  
  
{% endblock %}    
